/**
 * Permalink Manager Table CSS
 */
#permalinks-table-wrap { }

	#permalinks-table-wrap #plugin-name-heading a { color: #959595; font-size: 60%; text-decoration: none; }

  #permalinks-table-wrap .tablenav { margin: 6px 0 15px; }
  #permalinks-table-wrap .column-post_type, #permalinks-table-wrap .column-post_status { width: 10%; }
  #permalinks-table-wrap .post_name input { max-width: 100%; }
	#permalinks-table-wrap .post_permalink a, #permalinks-table-wrap .post_permalink .dashicons { font-size: 13px; color: #aaa; line-height: 1.5em; }

	#permalinks-table-wrap .alert { line-height: 19px; padding: 11px 15px; margin: 15px 0; }
	#permalinks-table-wrap .alert p { margin-top: 0; line-height: 200%; }
	#permalinks-table-wrap .alert ul, #permalinks-table-wrap .alert ol { margin-top: 0; margin-bottom: 0; }
	#permalinks-table-wrap .alert p:last-of-type, #permalinks-table-wrap .alert li:last-of-type { margin-bottom: 0; }
	#permalinks-table-wrap .warning { background: #dc3232; }
	#permalinks-table-wrap .warning, #permalinks-table-wrap .warning a { color: #fff; }
	#permalinks-table-wrap .info { background: #f9f9f9; }

	#permalinks-table-wrap #permalink-manager-tabs > div { display: none; }
	#permalinks-table-wrap #permalink-manager-tabs > div.show { display: block; }

	#permalinks-table-wrap #permalink-manager-tabs td label { display: block; }

	#permalinks-table-wrap small{ display: block; font-weight: normal; color: #888; }

#permalink-manager-tabs {}
	#permalink-manager-tabs h4 { margin-bottom: 5px; font-size: 16px; }
	#permalink-manager-tabs .field-container { margin-bottom: 30px; }
	#permalink-manager-tabs .field-container .field-desc { font-style: italic; }
	#permalink-manager-tabs .half { width: 48%; float: left; }
	#permalink-manager-tabs .half2 { margin-left: 4%; }
	#permalink-manager-tabs .half input { width: 100%; }
	#permalink-manager-tabs .clearfix { float: none; overflow: hidden; clear: both; }
