a.smicon-box-link,
a.smicon-box-link:visited,
a.smicon-box-link:hover,
a.smicon-box-link:active {
text-decoration: none;
color: #444 !important;
}
.smicon-box,
.wpb_row .wpb_column .wpb_wrapper .smicon-box {
margin-bottom: 30px;
}
.smicon-icon {
display: table-cell;
vertical-align: middle;
}
.smicon-box-icon {
font-size: 72px;
color: #89BA49;
margin-right: 15px;
-webkit-transition: all 300ms ease-in-out;
-moz-transition: all 300ms ease-in-out;
-ms-transition: all 300ms ease-in-out;
-o-transition: all 300ms ease-in-out;
transition: all 300ms ease-in-out;
box-sizing: content-box;
}
.smicon-box:hover .smicon-box-icon {
-webkit-transform: scale(1.2);
transform: scale(1.2);
-webkit-transform: scale(1.2);
-moz-transform: scale(1.2);
-o-transform: scale(1.2);
}
.smicon-header {
display: table-cell;
vertical-align: middle;
}
.smicon-header h3.smicon-title {
margin: 10px 0;
display: block;
line-height: 1.3em;
}
.smicon-description {
width: 100%;
display: block;	
margin-top: 15px;
} .sm-icon-normal .smicon-box-icon {
padding: 0 !important;
} .icon-top .smicon-icon,
.icon-top .smicon-header,
.icon-top .smicon-description {
width: 100%;
display: block;
text-align: center;
}
.icon-top .smicon-box-icon {
margin-right: 0;
}
.icon-top .smicon-header h3.smicon-title {
margin: 25px 0 10px;
} .smicon-box.icon-left {
display: inline-block;
}
.icon-left .smicon-icon,
.icon-left .smicon-header {
display: block;
vertical-align: top;
float: left;	
}
.icon-left h3.smicon-title {
margin: 5px 0 0;
}
.icon-left .smicon-icon {
min-height: 130px;
max-width:25%;
}
.icon-left .smicon-description,
.icon-left .smicon-header {
float: left;
width: 75%;
} .icon-circle .smicon-box-icon,
.icon-circle-solid .smicon-box-icon,
.icon-square .smicon-box-icon,
.icon-square-solid .smicon-box-icon {
width: 72px;
height: 72px;
padding: 5px;
border: 1px solid #E6E6E6;
background: rgba(255,255,255,0);
text-align: center;
box-sizing: content-box;
} .icon-circle .smicon-box-icon {	
border-radius: 50%;	
} .icon-circle-solid .smicon-box-icon {
border-radius: 50%;
background: #F3F3F3;
} .icon-square .smicon-box-icon {
border-radius: 0;
} .icon-square-solid .smicon-box-icon {
border-radius: 0;
background: #F3F3F3;
} .smicon-read {
display: block;
padding: 5px 0;
text-decoration:none;
}
.smicon-read .fa {
margin-left: 3px;
} .smicon-box.icon-default,
.smicon-box.icon-left,
.smicon-box.icon-top {
width: 100%;
height: auto;
line-height: inherit;
vertical-align: initial;
background-image: none;
margin: 0;
padding: 0;
}