/*
	Theme Name: Elise
	Theme URI: http://themeforest.net/item/elise-modern-multipurpose-wordpress-theme/10768925
	Author: Leopard Themes
	Author URI: http://loprd.pl
	Description: An Modern, Ultra Responsive Multi-Purpose Theme.
	Version: 1.1.3
	License: GNU General Public License version 3.0
	License URI: http://www.gnu.org/licenses/gpl-3.0.html
	Tags: white, dark, light, fluid-layout, custom-header, custom-menu, post-formats, rtl-language-support, sticky-post, translation-ready
	Text Domain: Elise

*/

/* Table of contents */
/* ----------------- */
/*
1. Basics
2. Navigation
   / Secondary Navigation
3. Content
   / Page Title
4. Blog
5. Portfolio
6. Templates
7. Shortcodes
8. Widgets
9. Footer
10. Layouts
11. WooCommerce
12. Responsive
*/


//COMPASS IMPORT
@import "compass/css3";
@import "compass/utilities";

//IMPORTS
@import "variables";
@import "elise-mixins";

/* 1. Basics */
/* --------- */
body {
	background: #fff;
	font-family: $font-family;
	font-size: $font-size;
	line-height: $line-height;
	font-weight: $font-weight;
	color: $color;

	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	
	-moz-font-feature-settings:"kern" 1, "salt" 1; 
	-moz-font-feature-settings:"kern=1, salt=1"; 
	-ms-font-feature-settings:"kern" 1, "salt" 1; 
	-o-font-feature-settings:"kern" 1, "salt" 1; 
	-webkit-font-feature-settings:"kern" 1, "salt" 1; 
	font-feature-settings:"kern" 1, "salt" 1;

	@include rtl {
		direction: rtl;
  		unicode-bidi: embed;
	}
}

@media (min-width: 1200px) {
	.container {
		width: $container-width;
	}
}

a {
	color: $accent-color;
	font-weight: 600;
	text-decoration: none;

	&:hover,
	&:focus {
		text-decoration: underline;
		color: $accent-color;
	}
}

img {
	max-width: 100%;
	height: auto;
}

hr {
	border-bottom: 1px solid #d9d9d9;
	margin-bottom: 25px;
	margin-top: 15px;
	border-top: none;
}

p {
	margin-bottom: 15px;
}


h1,
h2,
h3,
h4,
h5,
h6,
.elise-counter {
	font-weight: 300;
	letter-spacing: -1px;
	color: $color-dark;
	margin: 0 0 20px 0;
	font-family: $secondary-font-family;

	&:empty {
		margin: 0;
	}
}

h1,
.elise-counter,
.hero {
	font-size: 40px;
	line-height: 48px;
}

h2 {
	font-size: 32px;
	line-height: 38px;
}

h3 {
	font-size: 26px;
	line-height: 30px;
}

h4 {
	font-size: 18px;
	line-height: 28px;
	letter-spacing: 0;
}

h5 {
	font-size: 15px;
	line-height: 24px;
	letter-spacing: 0;
}

small, label, h6 {
	font-size: 13px;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-bottom: 20px;
	display: block;
}

label {
	display: inline-block;
	margin-bottom: 5px;
	font-size: 11px;
}

.checkbox {
	margin: 0;
}

/* Extra classes */
.jumbo {
	font-size: 3.6em;
	line-height: 1.1em;
}

.zindex-99 {
	z-index: 99;
	position: relative;
}

.img-fullwidth,
.img-fullwidth img {
	max-width: none !important;
}

/* 2. Navigation */
/* --------------*/

@import "navbar";

@import "sec-nav";

/* 3. Content */
/* ---------- */

::-moz-selection { 
	background: #B7B7B7; 
}
::selection { 
	background: #DDDDDD; 
}

.margin-bottom {
	margin-bottom: $margin-bottom;
}

.margin-top {
	margin-top: $margin-bottom;
}

.no-padding {
	padding: 0;
}

.content {
	background: #fff;
	position: relative;
	width: 100%;
	overflow: hidden;
}

.section {
	padding: 55px 0 60px 0;
	
	// .page & {
	// 	overflow: hidden;
	// }

	&.portfolio {
		padding: (55 - $portfolio-items-gap / 2) 0 (60 - $portfolio-items-gap / 2 ) 0;
	}
}

.vc_window_height {
	height: 100vh;
}

.col-md-25 {
	width: 20%;
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	float: left;
}

.section-shadow {
	@include box-shadow(0 1px 1px rgba(0,0,0,0.25));
	z-index: 2;
	position: relative;
}

.diff-background {
	background: darken(#fff, 3%);
}

.vertical-align {
	@include vertical-align;
}

.blank-image {
	background: rgba(0,0,0,.1);
}

.alignleft {
	float: left;
	margin-right: 20px;
	margin-bottom: 20px !important;
}

.alignright {
	float: right;
	margin-left: 20px;
	margin-bottom: 20px !important;
}

.aligncenter {
	text-align: center;
	margin: 20px auto;
	display: block;
}

.wp-caption,
.gallery-caption {
    max-width: 100%; /* Image does not overflow the content area */
    text-align: left;
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding-top: 8px;
    font-style: italic;
}

.wp-caption.alignnone {
    margin-bottom: 15px;
}

.wp-caption.alignleft {
    margin: 5px 0;
    text-align: left;
}

.wp-caption.alignright {
    margin: 5px 0;
    text-align: right;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 100%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding-top: 8px;
    font-style: italic;
}


/* Highlights */
[class^="highlight-"] {
	margin: 0;
	padding: 3px 5px;
	color: #fff;
	display: inline-block;
	// display: table;
}

.highlight-accent {
	background: rgba($accent-color, .9);
}
.highlight-dark {
	background: rgba(#000, .8);
}
.highlight-light {
	background: rgba(#fff, .9);
	color: $color-dark;
}
.highlight-grey {
	background: rgba(#000, .3);
}

.color-accent {
	color: $accent-color;
}

iframe {
	border: none;
}

/* Page Title */
.page-title-container {
	// height: 120px;
	position: relative;
	background: #f5f5f5;	
	// @include box-shadow(inset 0 -1px 0 rgba(0,0,0,.05));
	//@include background-image(linear-gradient(180deg, #e6e6e6, #f7f7f7)); // #ededed, #f7f7f7
	
	//background-size: cover;
	//background-position-y: -340px;

	.pt-overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background: rgba(0,0,0,.8);
	}

	.container, .row, [class*="col-"] {
		height: 100%;
	}

	// h1, h2, h3, h4, h5, h6, p {
	// 	margin-bottom: 0;
	// }

	h1:empty {
		display: none;
	}

}

.elise-title {
	// color: #fff;
	display: inline-block;
	//display: table;
	// background: rgba($accent-color, .9);
	// padding: 3px 5px;
	font-size: 26px;
	line-height: 30px;
	// font-size: 28px;
	// line-height: 32px;
	margin-bottom: 0;
}

.elise-subtitle {
	line-height: inherit;
	margin-top: 5px;
	margin-bottom: 0;

	span {
		// background: rgba(122, 173, 54, 0.9);
		// padding: 1px 5px;
		// color: #fff;
		display: inline-block;
	}
}

.page-title {
	//@include box-shadow(inset 0 -2px 0 $accent-color);
	
	height: 100%;
	width: 100%;

	.title-wrap {
		margin: 0;
		// @include vertical-align;
		overflow-wrap: break-word;
		display: inline-block;
		width: 100%;
		padding-top: $title-padding-top;
		padding-bottom: $title-padding-top;
	}
}

.page-title-centered {
	text-align: center;

	[class*="highlight"] {
		margin: 0 auto;
	}
}

.pt-w-breadcrumbs.page-title-left {
	.title-wrap {
		max-width: 70%;
		padding-right: 20px;
	}

	.breadcrumb {
		max-width: 30%;
		padding-left: 20px;
	}
}

.woocommerce h1.page-title {
	display: none;
}

.page-navigation {
	width: 100%;
	border-bottom: 1px solid #f0f0f0;
	position: relative;
	//@include box-shadow(0 1px 1px rgba(#000, .1));
	z-index: 50;
	background: #fff;
	max-height: 40px;
	line-height: 21px;

	.buttons {
		list-style: none;
		margin: 0;
		padding: 0;
		@include rtlfloat(right);

		li {
			float: left;
			text-align: center;
			@include border-left(1px solid #f0f0f0);
			@include rtl { border-left: none }

			a {
				color: #bbb;
				font-size: 13px;
				padding: 10px;
				display: block;
				min-width: 41px;
				max-height: 40px;
				opacity: 0.5;
			}
		}

		&:hover {

			.btn-filtering a {
				opacity: 1;
			}

			li a {
				opacity: 1;

				&:hover {
					text-decoration: none;
					color: $accent-color;
					opacity: 1;
				}
			}
		}

		.btn-filtering a {
			opacity: 1;
		}
	}

	.pn-share-buttons li {
		border: none !important;
	}
}

.btn-share {
	position: relative;

	.pn-share-buttons {
		visibility: hidden;
	}

	&:hover {
		.pn-share-buttons {
			visibility: visible;
		}
	}

	&:hover {
		> a {
			color: $accent-color;
		}
	}
}

.breadcrumb {
	background: transparent;
	padding: 0;
	margin: 0;
	display: inline-block;
	// max-width: 40%;
	color: #aaa;
	padding: 10px 0;
	font-size: 13px;
	max-width: 80%;
	white-space: nowrap;
	overflow: hidden;
	height: 34px;

	.page-title-container & {
		height: auto;
	}

	.page-title & {
		@include vertical-align;
		position: absolute;
		@include right(15px);
		@include rtl { right: auto }
	}

	li {

		a {
			color: #aaa;
			font-weight: 400;
		}

		&:last-child {
			color: #888;
			// font-weight: 600;
		}

	}

	> .active {
		font-weight: 600;
		//color: #fff;
	}

	> li+li:before {
		padding: 0 ;
		// content: "\203A";
		content: "/";
		margin: 0px 4px;
		color: inherit;
		opacity: .7;
	}

	.cat-sep {
		color: inherit;
		opacity: .7;
	}

	.fa {
		opacity: 0.2;
		color: #000;
	}
}

.sidebar-right {
	.sidebar-content {
		padding-right: $sidebar-padding;

		.single-product & {
			padding-right: 15px;
		}
	}
}

.sidebar-left {
	.sidebar-content {
		padding-left: $sidebar-padding;

		.single-product & {
			padding-left: 15px;
		}
	}
}

#top-bar {
	#lang_sel,
	#lang_sel_list.lang_sel_list_vertical  {
		@include vertical-align;
		margin-left: 10px;
		height: auto;
		z-index: 101;
		float: left;
	}

	#lang_sel a.lang_sel_sel {
		background: none;
	}
}

#lang_sel_list.lang_sel_list_vertical li {
	width: auto;
}

.widget {
	#lang_sel {
		width: 100%;

		li {
			width: 100%;
		}
	}
}

#lang_sel {
	a,
	a:visited {
		border: none;
		// font-size: inherit;
		font-weight: 300;
		color: #b3b3b3;
	}
}

#lang_sel a.lang_sel_sel {
	color: #b3b3b3;

}

#lang_sel_list.lang_sel_list_vertical ul {
	border-top: none;
}

#lang_sel ul ul {
	width: 100%;
	border-top: none;
}

#lang_sel ul ul a, #lang_sel ul ul a:visited {
	background: $color-dark;
	color: #fff;
	line-height: inherit;
	padding: 5px 10px;

	&:hover {
		color: darken(#fff, 5%);
		background: $color-dark;
	}
}

#lang_sel_footer {
	background: #242424;
	border: none;
	border-top: 1px solid rgba(255, 255, 255, 0.05);

	a {
		color: #ccc;
		font-weight: 300;

		&:hover {
			color: #ccc;
		}
	}
}

#lang_sel_list.lang_sel_list_vertical {
	float: left;
	@include vertical-align;
	width: auto;
}

/* Back to top */
.back-to-top {
	position: fixed;
	right: 30px;
	bottom: 30px;
	@include transition(opacity .4s, visibility 0s .4s);
	z-index: 5;

	&.btt-visible {
		visibility: visible;
		opacity: 1;
   		@include transition(opacity .4s);
	}

	&.btt-hidden {
		visibility: hidden;
		opacity: 0;
	}
}

.back-to-top-btn {
	// padding: 6px 10px;
	display: block;
	@include border-radius(3px);
	background: #eee;
	color: $accent-color;
	@include box-shadow(inset 0 -1px 0 rgba(0,0,0,0.15));
	height: 33px;
	width: 33px;
	text-decoration: none;
	line-height: 33px;
	text-align: center;

	&:hover {
		background: $accent-color;
		color: #fff;
  		@include box-shadow(inset 0 -1px 0 rgba(0,0,0,0.15));
	}
}

/* Spinner */
$spinner-stroke: 4px;
$spinner-size: 30px;
$spinner-animation: spinner .7s infinite cubic-bezier(0.445, 0.150, 0.550, 0.850), colors 2.8s infinite cubic-bezier(0.445, 0.150, 0.550, 0.850);

@keyframes spinner {
  0% { @include transform(rotate(0deg)); }
  100% { @include transform(rotate(360deg)); }
}
@keyframes colors {
	0% { border-top: $spinner-stroke solid #4285F4; }
	25% { border-top: $spinner-stroke solid #DE3E35; }
	50% { border-top: $spinner-stroke solid #F7C223; }
	75% { border-top: $spinner-stroke solid #1B9A59; }
  	100% { border-top: $spinner-stroke solid #4285F4; }
}

@-webkit-keyframes spinner {
  0% { @include transform(rotate(0deg)); }
  100% { @include transform(rotate(360deg)); }
}

@-webkit-keyframes colors {
	0% { border-top: $spinner-stroke solid #4285F4; }
	25% { border-top: $spinner-stroke solid #DE3E35; }
	50% { border-top: $spinner-stroke solid #F7C223; }
	75% { border-top: $spinner-stroke solid #1B9A59; }
  	100% { border-top: $spinner-stroke solid #4285F4; }
}

@-moz-keyframes spinner {
  0% { @include transform(rotate(0deg)); }
  100% { @include transform(rotate(360deg)); }
}

@-moz-keyframes colors {
	0% { border-top: $spinner-stroke solid #4285F4; }
	25% { border-top: $spinner-stroke solid #DE3E35; }
	50% { border-top: $spinner-stroke solid #F7C223; }
	75% { border-top: $spinner-stroke solid #1B9A59; }
  	100% { border-top: $spinner-stroke solid #4285F4; }
}

@-o-keyframes spinner {
  0% { @include transform(rotate(0deg)); }
  100% { @include transform(rotate(360deg)); }
}

@-o-keyframes colors {
	0% { border-top: $spinner-stroke solid #4285F4; }
	25% { border-top: $spinner-stroke solid #DE3E35; }
	50% { border-top: $spinner-stroke solid #F7C223; }
	75% { border-top: $spinner-stroke solid #1B9A59; }
  	100% { border-top: $spinner-stroke solid #4285F4; }
}

.spinner,
.add_to_cart_button.loading::after {
  background: transparent;
  border: $spinner-stroke solid transparent;
  //border-radius: 0%;
  width: $spinner-size;
  height: $spinner-size;
  transform: rotate(0deg);
  animation: $spinner-animation; 
  -webkit-animation: $spinner-animation;
  -moz-animation: $spinner-animation;
  -o-animation: $spinner-animation;
  @include border-radius(50%);
  position: absolute;
  // top: 15px;
}

.ig-spinner {
	z-index: 2;
}


/* Loaders */
.portfolio-masonry {
	.spinner {
		top: 15px;
	}

	.row {
		visibility: hidden;
		opacity: 0;
	}
}

.blog-masonry.bm-hidden {
	visibility: hidden;
	opacity: 0;
	@include transition(opacity 0.6s, visibility 0s 0.6s);
}
.blog-masonry.bm-visible {
    @include transition(opacity 0.4s);
	visibility: visible;
	opacity: 1;
}

.portfolio-masonry .row {
	visibility: hidden;
	opacity: 0;
	@include transition(opacity 0.6s, visibility 0s 0.6s);
}
.portfolio-masonry .row.pm-visible {
    @include transition(opacity 0.4s, height 0.4s, width 0.4s);
	visibility: visible;
	opacity: 1;
}

.elise_woo_add-to-cart {
	position: relative;
}

.add_to_cart_button.loading {
	color: rgba(#fff, .2);

	&:hover {
		color: rgba(#000, .2);
	}
}

.add_to_cart_button.loading::after {
	content: "";
	margin-left: -15px;
	margin-top: -15px;
	left: 50%;
	top: 50%;
}


/* Search Results */
.result {
	border-bottom: 1px solid #e9e9e9;
	padding-bottom: 30px;
	margin-bottom: 30px;

	h3 {
		margin-bottom: 0;

		a {
			font-weight: 300;

			&:after {
				content: "\0020\e01b";
				font-family: 'Typicons';
			}

		}
	}

	p {
		margin: 10px 0 0;
	}

	small {
		margin-bottom: 10px;
	}
}

/* Forms */
input, textarea, select {
	border: 1px solid rgba(0,0,0,.2);
	@include border-radius(3px);
	padding: 6px 10px;
	font-size: 13px;
	@include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
	outline: none;
	max-width: 100%;
	background: #fff;

	#footer-widget-area & {
		color: $footer-widget-text-color;
		border: 1px solid rgba(#fff,0.15);
		background: transparent;
	}
}

select option {
	color: $color;
}

textarea {
	padding: 10px;
	width: 100%;
	min-width: 100%;
}

.form-control {
	font-size: 13px;
}

.input-group {
	input {
		@include border-radius(3px 0px 0px 3px);
		border-right: none;
		width: 100%;
		border-right: 0 !important;
	}
}

.input-group-addon {
	background: transparent;
	@include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
	border: 1px solid #ccc;
	@include border-radius(3px);

	#footer-widget-area & {
		color: $footer-widget-text-color;
		border: 1px solid rgba(#fff,0.15);
		background: transparent;

		&:last-child {
			border-left: 0;
		}
	}
}

.search {
	input {
		@include border-radius(3px 0px 0px 3px);
		/*padding: 5px 10px;*/
		border-right: 0;
	}

	i {


	}
}

/* Pagination */
.pagination>li>a, 
.pagination>li>span,
.woocommerce-pagination .page-numbers>li>a,
.woocommerce-pagination .page-numbers>li>span {
	padding: 8px 13px;
	border: none;
	@include box-shadow(inset 0 0 0 1px #cccccc);
	@include border-radius(3px);
	width: 34px;
	height: 34px;
	color: $color-dark;
	background: transparent;

	&:hover {
		color: $color-dark;
  		@include box-shadow(inset 0 -1px 0 rgba(0,0,0,0.25));
	}

	&:empty {
		display: none;
	}
}

.pagination,
.woocommerce-pagination .page-numbers {
	margin-top: 0px;
	margin-bottom: 0;
	// margin-left: -15px;
	padding: 0;

	li {
		float: left;
		margin-right: 10px;

		@include rtl {
			margin-right: 0;
			margin-left: 10px;
		}

		.current, .current:hover, span.current {
			background: $accent-color;
			border: none;
		  	@include box-shadow(inset 0 -1px 0 rgba(0,0,0,0.25));
		  	color: #fff;
		}

		a {
			display: block;
		}
	}

	.next, .prev {
			@include box-shadow(inset 0 0 0 1px $accent-color);
			padding: 4px 8px;
			color: $accent-color;
			font-size: 18px;

			&:hover {
				color: #fff;
				background: $accent-color;
  				@include box-shadow(inset 0 -1px 0 rgba(0,0,0,0.25));
			}
	} 
}

.pagination>li:last-child>a, 
.pagination>li:last-child>span {
	margin-right: 0;
}

.page-template-portfolio-php {
	.pagination-wrap {
		border-top: 1px solid rgba(0,0,0,.1);
		padding-top: 30px;
		margin-top: 40px;

		// .pagination {
		//	position: relative;
		//	left: 50%;
		//	@include transform(translateX(-50%));
		// }
	}
}

.wp_link_pages {
	list-style: none;
	margin: 0;
	padding: 0;
	@include pie-clearfix;
	margin-top: 40px;

	li {
		position: relative;
		@include rtlfloat(left);
		margin-right: 10px;
		padding: 8px 13px;
		background: $accent-color;
		width: 34px;
		height: 34px;
		@include border-radius(3px);
		overflow: hidden;
		color: #fff;
		@include box-shadow(inset 0 -1px 0 rgba(0,0,0,0.25));

		a {
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			width: 100%;
			padding: 8px 13px;
			background: #fff;
			@include box-shadow(inset 0 0 0 1px #cccccc);
			@include border-radius(3px);
			color: $color-dark;

			&:hover {
				background: #eee;
  				@include box-shadow(inset 0 -1px 0 rgba(0,0,0,0.25));
  				text-decoration: none;
			}
		}

		& span:empty {
			display: none;
		}

		// &:first-child {
		// 	display: none;
		// }
	}
}

.comment-nav-section {
	@include pie-clearfix;

	.current, a {
		@include box-shadow(inset 0 0 0 1px #cccccc);
		padding: 3px 9px;
		height: 25px;
		float: left;
		margin-right: 5px;
		@include border-radius(3px);
	}

	.current {
		background: $accent-color;
		color: #fff;
  		@include box-shadow(inset 0 -1px 0 rgba(0,0,0,0.25));
	}

	a {
		color: $color-dark;

		&:hover {
			text-decoration: none;
			background: #eee;
  			@include box-shadow(inset 0 -1px 0 rgba(0,0,0,0.25));
		}
	}
}


/* 404 Page */
.four-zero-four {
	//text-align: center;

	.error-img, h1 {
		margin-bottom: 50px;
	}

	.fof-search {
		margin-top: 40px;
	}
}

/* 4. Blog */
/* ------- */
@import "blog";

/* 5. Portfolio */
/* ------------ */
@import "portfolio";

/* 6. Templates */
/* ------------ */
@import "templates";

/* 7. Shortcodes */
/* ------------- */

@import "shortcodes";

/* 8. Widgets */
/* ---------- */

@import "widgets";

/* 9. Footer */
/* --------- */

@import "footer";

/* 10. Layouts */
/* ----------- */

@import "layouts";

/* 11. WooCommerce */
/* --------------- */

@import "woocommerce";

/* 12. Responsive */
/* -------------- */

@import "responsive";