$background-color: #282828;
$background-image: url(http://i.imgur.com/CU0Ma3o.png);

.layout-wrapper {
	position: relative;
}

.layout-boxed {
	background-color: $background-color;
	//@include background-image(linear-gradient(0deg, adjust-color($accent-color, $hue: -30deg), rgba($accent-color, 1)));
	//background-image: $background-image;

	@media (min-width: $layout-boxed-width) {

		.layout-wrapper {
			margin: 0 auto;
			width: $layout-boxed-width;
			// background: #fff;
			overflow: hidden;

			#navbar {
				width: $layout-boxed-width;
			}
		}
	}
}

.layout-bordered {
	background-color: $background-color;
	//@include background-image(linear-gradient(0deg, adjust-color($accent-color, $hue: -30deg), rgba($accent-color, 1)));
	// background-image: $background-image;

	@media (min-width: $layout-bordered-width) {

		.layout-wrapper {
			margin: 0 auto;
			margin: $layout-bordered-border-size;
			// background: #fff;
			overflow: hidden;
		}
	}
}


@media (min-width: $layout-boxed-width) {

	// .layout-bordered.header-transparent {
	// 	#navbar {
	// 		margin: 0 (-$layout-bordered-border-size);
	// 	}
	// }

	.layout-wrapper-shadow {
		@include box-shadow(0 0 1px rgba(0,0,0,.2), 0 0 20px rgba(0,0,0,.08));
	}

	.header-standard.header-full-width.header-transparent.layout-bordered #navbar .container, 
	.header-centered.header-full-width.header-transparent.layout-bordered #navbar .container, 
	.header-extended.header-full-width.header-transparent.layout-bordered #navbar .container {
		padding: 0 100px;
	}

}