#navbar {
	background: #fff;
	/*@include box-shadow(0 1px 1px rgba(0,0,0,0.15));*/
	width: 100%;
	height: $navbar-height;
	z-index: 100;
	position: relative;
	@include box-shadow(0 1px 1px rgba(0, 0, 0, 0.1));

	.container, .row, [class*="col-"] {
		height: 100%;
	}
}



.logo {
	float: left;
	z-index: 101;
	position: relative;
	height: 100%;
	margin-right: 50px;

   	@include rtl {
      	float: right;
		margin-left: 50px;
		margin-right: 0px;
    }

	a {
		font-size: 30px;
		font-weight: 700;
		color: $color-dark;
		display: block;
		@include vertical-align;

		&:hover {
			text-decoration: none;
		}
	}
}

.nav-container {
	// text-align: right;
	position: relative;
}

.main-nav {
	display: inline-block;
}

.nav-container,
.main-nav,
.menu-main-menu-container,
.main-nav ul {
	height: 100%;
}

.main-nav {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: left;

		li:not(.nav-icons) {
			float: left;
			position: relative;
			height: 100%;

			@include rtl {
				float: right;
			}

			a {
				color: #262626;
				font-weight: 400;
				text-decoration: none;
				display: block;
				padding: 0 16px;
				line-height: $navbar-height;
				font-family: $secondary-font-family;
				font-size: 14px;

				&:hover {
					color: $accent-color;
					text-decoration: underline;
					//@include box-shadow(-1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1));
				}

				span {
					position: relative;
				}
			}

			ul {
				position: absolute;
				top: 100%;
				background: #fff;
				z-index: 99;
				@include box-shadow(0 15px 71px rgba(0, 0, 0, 0.05),0 1px 1px rgba(0, 0, 0, 0.15), 0 -2px 0 $accent-color);
				min-width: 190px;
				list-style: none;
				margin: 0;
				padding: 0;
				//border-top: 2px solid $accent-color;
				display: none;
				height: auto;

				@include rtl {
					text-align: right;
				}

				li {
					width: 100%;
					height: auto;

					a {
						padding: 10px 17px;
						width: 100%;
						height: auto;
						line-height: 21px;
						border-bottom: 1px solid rgba(0,0,0,0.1);
						background: transparent;
						color: $color-dark;
						font-weight: 600;
						font-size: 12px;

						&:hover {
							@include box-shadow(none);
							background: transparent;
							color: $accent-color;
						}
					}

					ul {
						top: 0px !important;
						left: 100%;

						@include rtl {
							right: 100%;
							left: auto;
						}
					}

					&:last-child {
						a {
							border-bottom: none;
						}

						ul li {
							a {
								border-bottom: 1px solid rgba(0,0,0,0.1);
							}

							&:last-child {
								a {
									border-bottom: none;
								}
							}
						}
					}
				}
			}

			&:hover {

				> a {
					color: $accent-color;
					text-decoration: underline;
					//@include box-shadow(-1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1));
				}

				ul > li:hover > a {
					@include box-shadow(none);
					color: $accent-color;
				}

				> ul {
					display: block;
				}
			}
		}

		.nav-icons {
			list-style: none;
			margin: 0;
			padding: 0;
			float: left;
			padding-left: 20px;

			@include rtl {
				padding-left: 0;
				padding-right: 20px;
			}

			span {
				float: left;
			}

			a {
				padding: 0 7px;
				color: $nav-search-color;
				//width: 26px;

				&:hover {
					text-decoration: none;
				}
			}
		}

		.nav-secondary-nav,
		.nav-search {
			a {
				font-size: 14px !important;
			}
		}

		.menu-item-has-children {
			a span {
				&::after {
					// content: "\0020\e801";
					//content: "\0020\f0d7";
					// font-family: 'fontello';
					// color: rgba(#000, .2);
					// font-size: 11px;
					position: absolute;
					// top: auto;
					right: -10px;
					// margin-top: 0;
					// content: "\25BC";
					// font-family: Helvetica,Arial,sans-serif;
					// font-size: 7px;
					// opacity: 0.2;

					content: "\f107";
					font-family: "FontAwesome";
					line-height: 0;
					opacity: 0.5;
					top: 50%;
					font-size: 10px;
					margin-top: -1px;
					
				}
			}

			ul li a span {

				&::after {
					content: "";
					// border: none;
				}
			}

			ul .menu-item-has-children {

				ul > a span{

					&::after {
						content: "";
					}
				}

				> a span {
					&::after {
						content: "\f105";
						//content: "\f0da";
						// font-family: 'fontello';
						// color: rgba(#000, .2);
						float: right;
						font-size: 11px;
						position: relative;
						right: 0;
						margin-top: 0px;
						line-height: inherit;

						@include rtl {
							float: left;
							right: auto;
							left: 0;
						}
					}
				}
			}
		}

		.current-menu-item:not(.nav-icons),
		.current-menu-ancestor:not(.nav-icons) {
			> a {
				color: $accent-color;

				span {
					// @include box-shadow(0 -1px 0 $accent-color);
					// display: block;
				}
			}

			ul li a {
				color: #262626; 

				span {
					@include box-shadow(none);
				}

				&:hover {
					color: $accent-color;
				}
			}
		}
	}

	.nav-icons {
		position: relative;
		height: 100%;

		ul li a {
			display: block;
		}
	}
}

.hover-boxed {
	ul {
		li:not(.nav-icons) {
			a {
				padding: 0;

				span:not(.woo-cart-items-count) {
					padding: 16px;
				}
			}

			ul {
				top: calc(50% + 32px) !important;

				li {
					a {
						// padding: 0;

						span:not(.woo-cart-items-count) {
							background: none;
							padding: 0;
						}
					}
				}
			}
		}

		.menu-item-has-children a span::after {
			right: 5px;
		}
	}
}



/* Navbar Styles */
/*---------------*/
.header-standard {
	.nav-menu-left {
		.nav-container {
			text-align: left;
		}

		.nav-icons {
			position: absolute;
			right: 15px;
		}
	}

	.nav-menu-center {
		.nav-container {
			text-align: center;
		}

		.logo {
			position: absolute;
			left: 15px;
		}

		.nav-icons {
			position: absolute;
			right: 0;
		}
	}

	.nav-menu-right {
		.nav-container {
			text-align: right;
		}
	}

	&.header-full-width {
		.nav-menu-left {
			.nav-container {
				width: $container-width;
				position: static;
				margin: 0 auto;
			}
		}
	}

	@include rtl {
		.nav-menu-center .logo {
			left: auto;
		}

		.nav-menu-left .nav-icons,
		.nav-menu-center .nav-icons {
			left: 0;
			right: auto;
		}
	}
}

@include rtl {
	.header-standard,
	.header-bar  {
		.main-nav ul .nav-icons {
			position: absolute;
			left: 0;
		}
	}
}

/* Navbar Centered */
.header-centered {
	#navbar {
		height: 150px;

		.container, .row, .col-md-12 {
			height: 100%;
		}

		.hover-boxed {
			ul li:not(.nav-icons) ul a {
				line-height: 21px;
			}

			ul li:not(.nav-icons) ul {
				top: auto !important;

				ul {
					top: 0 !important;
				}
			}
		}
	}

	.main-nav {

		ul {
			li:not(.nav-icons) {
				a {
					line-height: 60px;
				}

				ul li {

					a {
						line-height: 21px;

					}
				}
			}
		}
	}

	.nav-centered-bar-wrap {
		border-top: 1px solid rgba(0,0,0,.1);
		bottom: 0;
		position: absolute;
		width: 100%;
		height: 60px;
	}

	.logo {
		position: absolute;
		top: 50%;
		@include transform(translateY(-50%));
		height: 0;
		margin-top: -30px;
	}

	.nav-icons {
		position: relative;
	}

	.hover-boxed-wrap {
		@include vertical-align;
		margin-top: 10px;

		.logo {
				top: 0;
				@include transform(none);
				margin: 0;
				height: auto;
				width: 100%;
				position: relative;


			a {
				top: 0;
				@include transform(none);
			}
		}

		.nav-icons {
			top: 0;
			position: relative !important;
		}

		.main-nav {
			margin-top: 29px;
		}
	}

	.nav-menu-left {
		.nav-container {
			margin-left: -15px;
			text-align: left;
		}

		.nav-icons {
			right: 0px;
			position: absolute;
			top: 0;
		}

		.logo {
			left: 15px;
		}

		.hover-boxed-wrap {

			.logo {
				text-align: left;
				margin-left: -15px;
			}
		}
	}

	.nav-menu-center {
		.nav-container {
			text-align: center;
		}

		.logo {
			left: 50%;
			@include transform(translateX(-50%));
		}

		.nav-icons {
			top: 0;
		}

		.hover-boxed-wrap {

			.logo {
				text-align: center;
			}
		}
	}

	.nav-menu-right {
		.nav-container {
			text-align: right;
			margin-left: -30px;
		}

		.logo {
			right: 15px;
			margin-right: 0;
		}

		.nav-icons {
			top: 0;
		}

		.hover-boxed-wrap {

			.logo {
				text-align: right;
				margin-left: 15px;
			}
		}
	}

	@include rtl {
		.logo {
			margin-left: 0;
		}
	}
}

.header-standard,
.header-centered,
.header-extended, {
	&.header-full-width {
		#navbar {
			.container {
				width: 100%;
				padding: 0 3%;
			}
		}
	}
}

.header-full-width {
	#sticky-header,
	#top-bar {
		.container {
			width: 100%;
			padding: 0 3%;
		}
	}
}

/* Nav Bar */
.header-bar {
	#navbar {
		background: transparent;
		@include box-shadow(none);
		position: absolute;
		height: 70px;
		border-bottom: none !important;

		.header-style-bar {
			background: #fff;
			margin-top: 30px;
			@include border-radius(3px);
			@include box-shadow(0 15px 71px rgba(0, 0, 0, 0.03), 0 1px 1px rgba(0, 0, 0, 0.1));
		}

		.main-nav ul {
			li:not(.nav-icons) {
				a {
					line-height: 70px;
				}

				ul li a {
					line-height: 21px;
				}
			}
		}
	}

	.logo {
		padding-left: 7px;
	}


	@include rtl {
		.logo {
			margin-left: 0;
			padding-right: 7px;
		}
	}

	.page-title-container {
		padding-top: 100px;
		// padding-bottom: $title-padding-bottom;
	}

	.nav-menu-left {
		.nav-container {
			text-align: left;
		}

		.nav-icons {
			position: absolute;
			right: 0;
		}
	}

	.nav-menu-center {
		.nav-container {
			text-align: center;
		}

		.logo {
			position: absolute;
		}

		.nav-icons {
			position: absolute;
			right: 0;
		}
	}

	.nav-menu-right {
		.nav-container {
			text-align: right;
		}
	}
}

/* Nav Extended */
.header-extended {

	#navbar {
		height: auto;

		.nav-top-bar-wrap {
			width: 100%;
			height: 100px;
			// @include box-shadow(inset 0 2px 0 $accent-color);
		}

		.nav-bottom-bar-wrap {
			height: 60px;
			width: 100%;
			border-top: 1px solid #e9e9e9;
		}

		.logo {
			margin-right: 15px;
		}

		.logo-desc {
			@include vertical-align;
			border-left: 1px solid #e9e9e9;
			float: left;
			padding: 3px 15px;
			color: lighten($color, 30%);

			&:empty {
				border: none;
				padding: 0;
			}
		}

		.nav-social-icons {
			@include vertical-align;
			float: right;
		}
	}

	.main-nav {

		ul {
			li:not(.nav-icons) {
				a {
					line-height: 60px;
				}

				ul li {

					a {
						line-height: 21px;

					}
				}
			}
		}

		.nav-icons {
			position: absolute;
			right: 0;

			a {
				padding: 0 8px;
				//width: 30px;
			}
		}
	}

	.menu-left {
		text-align: left;
		margin-left: -15px;
	}

	.menu-center {
		text-align: center;
	}

	.menu-right {
		text-align: right;

		.nav-icons {
			position: static;
		}
	}

	@include rtl {

		#navbar .logo-desc {
			float: right;
			border-right: 1px solid #e9e9e9;
			border-left: none;
		}

		#navbar .nav-social-icons {
			float: left;
		}
	}
}

.main-nav ul .nav-icons .nav-shopping-cart {
	top: auto;
}


/* Mega Menu */
/*-----------*/
.main-nav ul {
	.elise-mega-menu:not(.nav-icons) {
		position: static !important;

		> ul {
			left: 0;
			width: 100%;
			position: absolute;
			padding: 5px 15px;
			top: auto;
			display: none;
			padding-bottom: 10px;
			// @include background-image(linear-gradient(180deg, rgba(0,0,0,.05) 0%, rgba(0,0,0,0) 50%));

			// .nav-menu-left &,
			// .nav-menu-center & {
			// 	.header-full-width & {
			// 		width: $container-width;
			// 		left: 50%;
			// 		@include transform(translateX(-50%));
			// 	}
			// }

			> li {
				width: 25%;
				float: left;
				// display: table-cell;
				// border-right: 1px solid #e6e6e6;

				@include rtl {
					float: right;
				}

				> a {
					padding: 15px 17px 10px;
					border-bottom: none;
					cursor: default;
					text-transform: uppercase;
					letter-spacing: 1px;
					font-weight: 700;

					span {
						display: block;
						border-bottom: 1px solid rgba(0, 0, 0, 0.06);
						padding-bottom: 10px !important;

						&::after {
							// content: "\25BC";					
							content: "\f107";
							font-size: 10px;
						}
					}

					&:hover {
						text-decoration: none;
					}
				}

				ul {
					position: relative;
					left: 0;
					top: 0;
					border: none;
					margin-right: 0px;
					margin-left: 0px;
					@include box-shadow(none);
					background: transparent;

					li {
						width: 100%;
						border-right: none;
						text-transform: none;
						letter-spacing: 0;
						font-weight: 600;

						a {
							// color: #262626;
							padding: 4px 17px;
							border-bottom: none !important;
							// cursor: pointer;
							// text-transform: none;
							// letter-spacing: 0px;
							// font-weight: 600;

							span {
								padding-bottom: 0;
								border-bottom: none;

								&::after {
									content: "";
								}
							}

							&:hover {
								text-decoration: underline !important; 
								color: $accent-color !important;
							}
						}

						&:last-child {
							a {
								border-bottom: none;
								padding-bottom: 15px;
							}
						}

						ul li a:last-child {
							padding: 4px 17px;
						}
					}
				}
			}
		}	

		&:hover {
			ul {
				// visibility: visible;
				display: block;
			}
		}
	}
}

@include rtl {
	.main-nav ul .elise-mega-menu:not(.nav-icons) ul li ul,
	.main-nav ul li:not(.nav-icons) ul li .cart_list {
		right: 0;
	}
}

.elise-mega-menu {
	&.menu-columns-2 {
		> ul > li {
			width: 50% !important;

			&:nth-child(3n) {
				clear: both;
			}
		}
	}
	&.menu-columns-3 {
		> ul > li {
			width: 33.33333333333% !important;

			&:nth-child(4n) {
				clear: both;
			}
		}
	}
	&.menu-columns-4 {
		> ul > li {
			width: 25% !important;

			&:nth-child(5n) {
				clear: both;
			}
		}
	}
}

// .elise-mega-menu > ul > li:not(.nav-icons):hover {
// 	> a {
// 		text-decoration: none;
// 	}
// }

.main-nav ul .elise-mega-menu:not(.nav-icons):hover ul > li:hover > a {
		text-decoration: none;
		color: $color-dark;
}


/* Nav Icons */
.nav-icons {
	a {
		padding: 0 7px !important;
		color: darken(#fff, 50%) !important;

		span {
			position: relative;
		}
	}

	.shop-cart-items {
		background: $accent-color;
		color: #fff;
		position: absolute;
		width: 16px;
		text-align: center;
		top: -8px;
		line-height: 16px;
		font-size: 11px;
		@include border-radius(8px);
		left: 7px;
	}
}

/* Transparent headers */
.header-standard.header-transparent,
.header-fullwidth.header-transparent {
	#navbar {
		background: transparent;
		@include box-shadow(none);
		position: absolute;
		top: auto;
		left: 0;
	}

	.page-title-container {
		padding-top: 90px;
		// height: 190px;
	}
}


.header-centered.header-transparent {
	#navbar {
		background: transparent;
		@include box-shadow(none);
		position: absolute;
	}

	.page-title-container {
		padding-top: 150px;
	}
}

/* Top bar */
#top-bar {
	background: #fff;
	width: 100%;
	//@include box-shadow(inset 0 -1px 0 rgba(0,0,0,.05));
	border-bottom: 1px solid #f0f0f0;
	font-size: 12px;
	height: $top-bar-height;
	position: relative;
	color: lighten(#000, 70%);
	@include box-shadow(inset 0 3px 0 rgba(0, 0, 0, 0.05));

	.nav-social-icons {
		float: right;
		border-left: 1px solid rgba(0,0,0,.07);

		@include rtl {
			float: left;
		}
	}

	.top-bar-content {
		height: 100%;
		float: left;
		padding-right: 12px;
		border-right: 1px solid rgba(0,0,0,.07);

		p {
			margin: 0;
			@include vertical-align;
			display: inline-block;
		}
	}

	.container,
	.row,
	[class*="col-"] {
		height: 100%;
	}

	a {
		color: #b3b3b3;
		font-weight: 400;

		&:hover {
			color: #b3b3b3;
		}
	}

	p a {
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
}

#top-bar .woo-settings {
	float: right;
	position: relative;
	z-index: 101;
	height: 100%;
	border-left: 1px solid rgba(0,0,0,.07);
	padding-left: 10px;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		position: absolute;
		top: 100%;
		right: 0;
		background: #333;
		@include box-shadow(0 1px 1px rgba(0,0,0,.2));
		min-width: 150px;
		padding: 5px 10px;
		display: none;

		li {
			a {
				display: block;
				padding: 3px;
				color: #fff;
			}
		}
	}

	&:hover {
		cursor: pointer;

		ul {
			display: block;
		}
	}
}

.woo-settings-cog {
	display: block;
	@include vertical-align;
	padding: 5px;
	// background: $accent-color;
	// color: #fff;
	height: 24px;
	text-align: center;
	padding-top: 1px;
	// @include border-radius(3px);
	// @include box-shadow(inset 0 -1px 0 rgba(0,0,0,0.15));

	i {
		font-size: 14px;
	}

	// &:hover {
	// 	background: rgba($accent-color, 0.8);
	// 	color: #fff;
	// 	text-decoration: none;
	// }
}

.woo-settings-login {
	@include vertical-align;
	display: block;
}


@include rtl {
	#top-bar .top-bar-content {
		height: 100%;
		float: right;
		padding-left: 12px;
		border-left: 1px solid rgba(0, 0, 0, 0.07);
		border-right: none;
		padding-right: 0;
		text-align: right;
	}

	#top-bar #lang_sel, #top-bar #lang_sel_list.lang_sel_list_vertical {
		float: right;
		padding-right: 12px;
	}

	.woo-settings,
	#top-bar .nav-social-icons {
		float: left;
		border-left: none;
		border-right: 1px solid rgba(0, 0, 0, 0.07);
	}

	.woo-settings {
		padding-left: 0;
		padding-right: 10px;
	}

	.woo-settings ul {
		right: auto;
		left: 0;
	}
}


/* Sticky header */
#sticky-header {
	@include transform(translateY(-60px));
   	@include transition(transform 0.1s, visibility 0.3s);
	visibility: hidden;


	&.sh-visible {
		@include transform(translateY(0px));
		visibility: visible;
   		@include transition(transform 0.3s);
	}

	&.sh-hidden {
		@include transform(translateY(-60px));
		visibility: hidden;
	}
}



.navbar-sticky {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: rgba(#fff,.96);
	z-index: 900;
	@include box-shadow(0 1px 1px rgba(0, 0, 0, 0.1));
	height: $sticky-header-height;
	//@include background-image(linear-gradient(180deg, #fff, rgba(#fff, .9)));

	.touch & {
		display: none;
	}

	.layout-bordered & {
		top: 0;
	}

	.admin-bar & {
		top: auto;
	}
	
	.logo-sticky {
		float: left;
		z-index: 101;
		position: relative;
		height: $sticky-header-height;
		margin-right: 50px;

		@include rtl {
			float: right;
			margin-right: 0;
			margin-left: 50px;
		}

		a {
			font-size: 30px;
			font-weight: 700;
			color: $color-dark;
			display: block;
			@include vertical-align;

			&:hover {
				text-decoration: none;
			}

			img {
				max-height: 30px;
			}
		}
	}

	.main-nav {
		ul {
			li:not(.nav-icons) {
				a {
					line-height: $sticky-header-height;
				}

				ul {
					li {
						a {
							line-height: 21px;
						}
					}
				}
			}
		}
	}

	&.nav-menu-center {
		.logo-sticky {
			position: absolute;
		}
	}
}


/* Search Bar */
.search-bar {
	position: absolute;
	// width: $container-width - 30;
	width: 100%;
	height: 100%;
	background: transparent;
	z-index: 105;
	padding-right: 15px;
	padding-left: 15px;
	margin-left: -15px;

	.navbar-sticky & {
		height: 60px;
	}

	.input-group {
		width: 100%;
	}

	.input-group-addon {
		display: none;
	}

	form {
		@include vertical-align;
		max-width: 90%;
		padding-left: 30px;
		position: relative;

		@include rtl {
			padding-left: 0;
			padding-right: 30px;
		}

		&::before {
			content: "\f002";
			font: 20px "FontAwesome";
			position: absolute;
			left: 0;
			top: 1px;

			@include rtl {
				left: auto;
				right: 0;
			}
		}
	}

	input {
		border: none;
		@include box-shadow(none);
		background: #fff;
		font-size: 20px;
		font-weight: 300;
		padding: 0;
		background: transparent;
	}

	.close-btn {
		right: 15px;
		@include vertical-align;
		position: absolute;

		@include rtl {
			left: 15px;
			right: auto;
		}

		a {
			color: gray;
			font-size: 16px;
			padding: 20px;
			display: block;
			padding-left: 30px;
		}
	}
}

.search-bar-visible {
	visibility: visible;
}

.search-bar-hidden {
	visibility: hidden;
}

.nav-mobile {
	@include vertical-align;
	text-align: right;

	a {
		font-size: 14px;
		padding: 6px 10px;
		@include border-radius(3px);
		background: #eee;
		// color: $accent-color;
		@include box-shadow(inset 0 -1px 0 rgba(0,0,0,0.15));
		height: 33px;
		width: 33px;
		text-decoration: none;
	}
}