/* Sidebar Navigation */
.secondary-navigation {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999;
	overflow: hidden;
	visibility: hidden;
	opacity: 0;
	@include transition(opacity 0.6s, visibility 0s 0.6s);
}

.secondary-navigation.open {
    opacity: 1;
    visibility: visible;
    @include transition(opacity 0.4s);
}

.sec-nav-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	@include background-image(linear-gradient(-45deg, adjust-color($accent-color, $hue: 0deg), rgba($accent-color, 0.8)));
	top: 0;
	left: 0;
	z-index: 1000;
}

.sec-nav-close-btn {
	position: absolute;

	a {
		&::before {
			content: "\e804\e803";
			font-family: 'fontello';
			letter-spacing: -1px;
			font-size: 14px;
		}

		&:hover {
			text-decoration: none;
		}
	}
}

.sidebar-nav-wrap {
	width: $seconary-nav-sidebar-width;
	height: 100%;
	top: 0;
	// right: - $seconary-nav-sidebar-width;
	right: 0;
	@include transform(translateX($seconary-nav-sidebar-width));
	background: #fff;
	position: absolute;
	z-index: 1001;
	padding: 35px 30px;
	text-align: left;
    @include transition(transform 0.3s);
    @include box-shadow(-1px 0 1px rgba(0, 0, 0, 0.1));
    overflow-y: scroll;

	@include rtl {
		left: 0;
		right: auto;
		@include transform(translateX(- $seconary-nav-sidebar-width));
		text-align: right;
    	@include box-shadow(1px 0 1px rgba(0, 0, 0, 0.1));
	}

	.sec-nav-close-btn {
		right: 30px;
		top: 35px;

		@include rtl {
			left: 30px;
			right: auto;
		}

		a {
			color: $color-dark;
			font-size: 16px;
			font-family: 'Raleway';
		}
	}
}

.secondary-navigation.open {
	.sidebar-nav-wrap {
		// right: 0px;

		@include transform(translateX(0px));
    	@include transition(transform 0.3s 0.1s);
	}
}


.sidebar-nav-logo {
	margin-bottom: 50px;
}

.sidebar-nav {
	margin-bottom: 30px;

	.elise-mega-menu > ul > li {
		width: 100% !important; 
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			position: relative;

			a {
				color: $color-dark;
				font-weight: 400;
				font-size: 14px;
				line-height: 21px;
				padding: 4px 0;
				display: block;
				font-family: $secondary-font-family;

				&:hover {
					// text-decoration: underline !important;
				}
			}

			ul li a {
				padding-left: 15px;
				&::before {
					content: "\2012\0020";
					color: #ddd;
					position: absolute;
					left: 0;
				}
			}
		}
	}

	.nav-icons {
		display: none;
	}
}

/* Full Navigation */
.full-nav-wrap {
	width: 100%;
	height: 100%;
	z-index: 1001;
	position: relative;
	overflow-y: scroll;

	.sec-nav-close-btn {
		right: 50px;
		top: 50px;

		@include rtl {
			left: 50px;
			right: auto;
		}

		a {
			color: #fff;

			&::before {
				font-size: 20px;
				letter-spacing: -2px;
			}
		}
	}

	.sidebar-nav-logo {
		margin-bottom: 0px;
		padding: 50px;
	}
}

.full-nav {
	position: relative;
	text-align: center;
	// top: 0%;
	opacity: 0.4;
	@include transform(translateY(-30%) rotateX(60deg));
   	@include transition(transform 0.4s, opacity 0.4s);

	.elise-mega-menu > ul > li {
		width: 100% !important; 
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			margin: 0;

			a {
				color: #fff;
				font-size: 30px;
				line-height: 18px;
				font-weight: 300;
				display: block;
				padding: 25px 0;
				font-family: $secondary-font-family;

				&:hover {
					background: #fff;
					color: $accent-color;
					text-decoration: none;
				}
			}
		}
	}

	.nav-icons {
		display: none;
	}
}

.secondary-navigation.open {
	.full-nav {
		//top: 10%;
		opacity: 1;
		@include transform(translateY(0%) rotateX(0deg));
	}
}

.secondary-navigation.closed {
	.full-nav {
		//top: 20%;
		opacity: 0.4;
		@include transform(translateY(30%) rotateX(-35deg));
	}
}






