.vc_container_inner.container {
  // padding: 0;

  .elise-blog-shortcode .post & {
    width: 100%;
  }
}

.vc_row {
  position: relative;
  // z-index: 1;
}

.vc_bg_has_overlay {
  position: relative;
}

.vc_bg_parallax_wrap,
.bg_video_wrap {
  // position: relative;
  overflow: hidden;
}

.vc_bg_overlay, 
.vc_bg_parallax,
.vc_bg_parallax_wrap,
.bg_video_wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block !important;
}

.vc_bg_standard.vc_bg_fixed {
  background-attachment: fixed !important;
}

.vc_bg_video {
  min-width: 100%;
  min-height: 101%;
  left: 50%;
  position: absolute;
  top: 50%;
  @include transform(translate(-50%, -50%));
}

.vc_bg_parallax {
  // background-size: cover;
  height: 140%;
  @include transform(translate3d(0, -25%, 0px));
  // @include transition(transform 1s);
}


.vc_bg_shadow {
  position: relative;
  // z-index: 2;
  // @include box-shadow(inset 0 1px 1px rgba(0,0,0,.15));

  &::after {
    content:'';
    position:absolute;
    height: 5px;
    top: -5px;
    width: 100%;
    // z-index:5;
    display: block !important;
    @include box-shadow(0 1px 1px rgba(0,0,0,.15));
  }
}

.row__vertical-align--wrapper {
  width: 100%;
  display: table;

  .row__vertical-align--container {
    display: table-cell;
    vertical-align: middle;
  }
}

// .vc_row_vertical_align {
//   .vc_container_inner {
//     @include vertical-align;
//   }
// }

// .vc_row_vertical_align {
//   &.vc_inner {
//     .vc_column_container {
//        @include vertical-align;
//     }
//   }
// }

// // Full-Width 
.full-width-page {
  padding: 0 15px;
}

.vc_row_fullwidthcontent {
  // margin-left: 0 !important;
  // margin-right: 0 !important;

  .vc_row,
  .row {
    margin: 0 !important;
  }

  .full-width-container {
    @include pie-clearfix;
    width: 100%;

    [class^="vc_col-"] {
      padding: 0;
      margin: 0;
    }
  }
}



// Text Field
.wpb_text_column {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {

      &::before {
        content: "\2014";
        opacity: 0.5;
        margin-right: 10px;
      }
    }
  }
}



//
// Buttons
// --------------------------------------------------


// Base styles
// --------------------------------------------------

.btn, input[type="submit"],
.woocommerce #respond input#submit {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border:none;
  white-space: nowrap;
  @include border-radius(3px);
  font-size: 13px;
  @include box-shadow(inset 0 -1px 0 rgba(0,0,0,0.15));
  padding: 8px 30px;
  text-shadow: none;
  font-weight: 400;

  &,
  &:active,
  &.active {
    &:focus {
      
    }
  }

  &:hover,
  &:focus {
    color: #fff;
    text-decoration: none;
    background: lighten($accent-color, 5%);
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
    @include box-shadow(none);
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: not-allowed;
    pointer-events: none; // Future-proof disabling of clicks
    @include opacity(.65);
    @include box-shadow(none);
    background: #ddd;
    color: #727272;
  }
}

input[type="submit"] {
  padding: 7px 30px;
  margin-top: -1px;
}


// Link buttons
// -------------------------

// Make a button look and behave like a link
.btn-link,
.btn-outlined {
  color: $color-dark;
  font-weight: normal;
  cursor: pointer;
  @include box-shadow(inset 0 0 0 1px rgba(0,0,0,.4));


  &,
  &:active,
  &[disabled],
  fieldset[disabled] & {
    // @include box-shadow(inset 0 0 0 1px $color-dark);
  }
  &:hover,
  &:focus {
    color: #fff;
    text-decoration: none;
    background: lighten($accent-color, 5%);
    @include box-shadow(inset 0 -1px 0 rgba(0,0,0,0.15));
  }
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus {
      color: $color;
      text-decoration: none;
    }
  }
}

/* Btn Colors */

.btn-default, input[type="submit"],
.woocommerce #respond input#submit {
  color: #fff;
  background: $accent-color;
}
// Success appears as green
.btn-success {
  color: #fff;
  background: #8dc73f;

  &:hover {
    background: lighten(#8dc73f, 5%);
  }
}
// Info appears as blue-green
.btn-info {
  color: #fff;
  background: #2C77C8;

  &:hover {
    background: lighten(#2C77C8, 5%);
  }

}
// Warning appears as orange
.btn-warning {
  color: #fff;
  background: #e2b001;

  &:hover {
    background: lighten(#e2b001, 5%);
  }
}
// Danger and error appear as red
.btn-danger {
  color: #fff;
  background: #d84033;

  &:hover {
    background: lighten(#d84033, 5%);
  }
}
.btn-light {
  background: #eee;
  color: $color;

  &:hover {
    color: $color;
    background: darken(#eee, 5%);
  }
}
.btn-dark {
  color: #fff;
  background: $color-dark;

  &:hover {
    background: lighten($color-dark, 5%);
  }
}

.btn-outlined {
  background: transparent;
  color: $accent-color;
  @include box-shadow(inset 0 0 0 1px $accent-color);

  &.btn-success {
    color: #8dc73f;
    @include box-shadow(inset 0 0 0 1px #8dc73f);
  }

  &.btn-info {
    color: #2C77C8;
    @include box-shadow(inset 0 0 0 1px #2C77C8);
  }

  &.btn-warning {
    color: #e2b001;
    @include box-shadow(inset 0 0 0 1px #e2b001);
  }

  &.btn-danger {
    color: #d84033;
    @include box-shadow(inset 0 0 0 1px #d84033);
  }

  &.btn-dark {
    color: $color-dark;
    @include box-shadow(inset 0 0 0 1px rgba($color-dark,.6));
  }

  &:hover {
    @include box-shadow(none);
    color: #fff;
  }

  &.btn-light {
    color: #eee;
    @include box-shadow(inset 0 0 0 1px #eee);

    &:hover {
      color: $color;
      @include box-shadow(none);
    }
  }
}

.btn-squared {
  @include border-radius(0);
}

.btn-rounded {
  &.btn-lg {
    @include border-radius(39px);
  }
  &.btn-md {
    @include border-radius(34px);
  }
  &.btn-sm {
    @include border-radius(28px);
  }
  &.btn-xs {
    @include border-radius(24px);
  }
}


// Button Sizes
// --------------------------------------------------

.btn-lg {
  // line-height: ensure even-numbered height of button next to large input
  padding: 11px 50px;
  min-width: 200px;
}
.btn-sm {
  padding: 5px 15px;
  font-size: 12px;
}
.btn-xs {
  padding: 3px 15px;
  font-size: 12px;
}


// Block button
// --------------------------------------------------

.btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

// Vertically space out multiple block buttons
.btn-block + .btn-block {
  margin-top: 5px;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}

.btn-center {
  position: relative;
  left: 50%;
  @include transform(translate(-50%));
}

.btn-right {
  position: relative;
  left: 100%;
  @include transform(translate(-100%));
}

/* Icon box */
.elise-iconbox {
  // margin-bottom: 55px;
  z-index: 2;
  position: relative;

  .elise-iconbox-icon {
    color: $accent-color;
    margin-bottom: 20px;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 15px;
  }

  h4, h5 {
    font-weight: 400;
  }

  p {
    position: relative;
    // padding-top: 15px;

    // &::before {
    //   content: "";
    //   border-top: 1px solid $accent-color;
    //   width: 70px;
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    // }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &.iconbox-center {
    text-align: center;
    // p::before {
    //   left: 50%;
    //   @include transform(translateX(-50%));
    // }
  }

  &.iconbox-right {
    text-align: right;
    // p::before {
    //   right: 0;
    //   left: auto;
    // }
  }
}

.iconbox-block {

  // .elise-iconbox-icon {
  //   font-size: 40px;
  // }
}

.iconbox-inline {
  position: relative;

  &.ii-left {
    text-align: left;

    .elise-iconbox-icon {
      position: absolute;
      left: 0;
    }

    h1, h2, h3, h4, h5, h6, p,
    .elise-iconbox-more {
      padding-left: 60px;
    }
  }

  &.ii-right {
    text-align: right;

    .elise-iconbox-icon {
      position: absolute;
      right: 0;
    }

    h1, h2, h3, h4, h5, h6, p,
    .elise-iconbox-more {
      padding-right: 60px;
    }
  }
}

.iconbox-border {
  background: #fff;
  margin-bottom: 30px !important;
  padding: 20px;
  // border: 1px solid rgba(0,0,0,.1);
  // @include box-shadow(0 1px 1px rgba(0,0,0,.15));
  // @include border-radius(3px);
  border-top: 2px solid $accent-color;
  @include box-shadow(0 1px 1px rgba(0,0,0,.2));

  // &:hover {
  //   // border: 1px solid $accent-color !important; 
  //   @include box-shadow(0 1px 1px rgba(0,0,0,.25));
  // }

  .iconbox-header {
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0,0,0,.1);
  }

  &.ii-left {
    text-align: left;

    .elise-iconbox-icon {
      left: 20px;
    }

    p, .elise-iconbox-more {
      padding-left: 0;
    }

    h1, h2, h3, h4, h5, h6 {
      padding-left: 40px;
    }

  }

  &.ii-right {
    text-align: right;

    .elise-iconbox-icon {
      right: 20px;
    }

    p, .elise-iconbox-more {
      padding-right: 0;
    }

    h1, h2, h3, h4, h5, h6 {
      padding-right: 40px;
    }
  }
    
  p {
    padding-left: 0;
  }

  h6, small {
    padding-top: 5px;
    margin-bottom: 20px
  }
}

.elise-iconbox-more {
  margin-top: 20px;

  .btn-link {
    color: $color;
    @include box-shadow(inset 0 0 0 1px rgba(0,0,0,.15));

    &:hover {
      color: #fff;
      background: lighten($accent-color, 5%);
      @include box-shadow(inset 0 -1px 0 rgba(0,0,0,0.15));}
  }
}

.iconbox-block,
.iconbox-inline {

  .icon-bg {
    display: inline-block;
    text-align: center;
    background: #fff;
    // color: $accent-color;
    @include border-radius(3px);
    font-size: 20px;
    margin-top: -2px;

    .typcn,
    .vc-oi {
      display: block;
    }
  }

  .icon-circle {
    @include border-radius(50%);
  }

  .icon-shadow {
    @include box-shadow(0 1px 1px rgba(0, 0, 0, 0.2), 0 3px 40px rgba(0, 0, 0, 0.05));
    // @include box-shadow(0 0 0 5px rgba(0, 0, 0, 0.03), inset 0 0 0 1px rgba(0,0,0,0.07));
  }

}

// Icon styling 
.iconbox-block {
  .elise-iconbox-icon {
    height: 60px;
  }

  .iconbox-icon-wrap {
    font-size: 42px;
    line-height: 60px;
  }

  .icon-bg {
    width: 60px;
    height: 60px;
    padding: 12px 0;
    font-size: 38px;
    margin-top: -2px;
    line-height: 30px;

    .typcn {
      // margin-top: 4px;
      font-size: 34px;
    }
  }

  &.icon-large {
    .elise-iconbox-icon {
      height: 86px;
    }

    .iconbox-icon-wrap {
      font-size: 60px;
      line-height: 86px;
    }

    .icon-bg {
      width: 86px;
      height: 86px;
      padding: 23px 0;
      font-size: 44px;
      line-height: 43px;

      .typcn {
        margin-top: -5px;
        font-size: 50px;
      }
    }
  }

  &.iconbox-image {
    .elise-iconbox-icon {
      height: auto;
    }
  }
}


.iconbox-inline {
  .iconbox-icon-wrap {
    font-size: 34px;
  }

  .icon-bg {
    width: 40px;
    height: 40px;
    padding: 8px 0;
    font-size: 26px;
    margin-top: -2px;

    .typcn {
      margin-top: -1px;
      font-size: 30px;
    }
  }

  &.iconbox-border {
    .iconbox-icon-wrap {
      font-size: 26px;
      display: inline-block;
      margin-top: 2px;
    }

    .icon-bg {
      width: 32px;
      height: 32px;
      padding: 6px 0;
      font-size: 20px;
      margin-top: -2px;

      .typcn {
        margin-top: -1px;
        font-size: 22px;
      }
    }
  }
}


// .icon-shadow {

//   .icon {
//     font-size: 36px;
//     width: $icon-shadow-height;
//     height: $icon-shadow-height;
//     display: inline-block;
//     @include box-shadow(0 1px 2px -1px rgba(0, 0, 0, 0.3), 0 5px 20px -5px rgba(0,0,0,0.1));
//     @include border-radius(50%);
//     text-align: center;
//     background: #fff;

//     i {
//       @include vertical-align;
//       display: block;

//       &::before {
//         height: auto;
//         width: auto;
//       }
//     }
//   }
// }


/* Tabs */
.tab-content {
  background: #fff;
  @include box-shadow(0 1px 1px rgba(0,0,0,0.2));
  padding: 25px;
  position: relative;
  z-index: 2;

  .wpb_tour & {
    margin-left: 31.66666667%;
  }
}


.elise-tab {
  > .wpb_content_element:last-child {
    margin-bottom: 0;
  }
}

.elise-tabs-nav {
  list-style: none;
  // margin: 0;
  padding: 0;
  @include pie-clearfix;

  li {
    float: left;
  }
}

.nav-tabs {
  border-bottom: none;
}

.nav-tabs>li>a,
.elise-tabs-nav>li>a {
  border: none;
  @include border-radius(0px);
  margin: 0;
}

.nav>li>a,
.elise-tabs-nav>li>a {
  padding: 15px 25px !important;
  background: rgba(0,0,0,.03);
  font-weight: 400;

  &:hover {
    background: rgba(0,0,0,.05);
  }
}

.wpb_content_element .wpb_tabs_nav li {
  background: transparent !important;
  margin: 0 !important;
}

.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:hover, 
.nav-tabs>li.active>a:focus,
.elise-tabs-nav>li.ui-tabs-active>a {
  border: none;
  background: #fff;
  color: $color-dark;
  outline: none;
  @include box-shadow(0 1px 1px rgba(0,0,0,0.2), inset 0px 2px 0 $accent-color);

  // .wpb_tour & {
  //   @include box-shadow(0 1px 1px rgba(0,0,0,0.2), inset 2px 0 0 $accent-color);
  //   position: relative;

  //   &::after {
  //     content: "";
  //     position: absolute;
  //     height: 100%;
  //     right: 0px;
  //     top: 0;
  //     background: inherit;
  //     z-index: 3;
  //     width: 10px;
  //   }
  // }
}

.wpb_tour_next_prev_nav {
  padding-left: 0 !important;
}

.wpb_content_element .wpb_tabs_nav {
  z-index: 1 !important;
}

/* Tour */
.wpb_tour {
  .tab-content {
    padding: 0;
    @include box-shadow(none);
    background: transparent;
    padding-left: 30px;
    margin-left: 25%;
  }

  .wpb_tabs_nav {
    width: 25% !important;
  }

  .elise-tabs-nav > li.ui-tabs-active > a {
    @include box-shadow(inset 2px 0 0 $accent-color);
    border-left: none;
    border-right: none;
    // border-left: 2px solid $accent-color;
  }

  .elise-tabs-nav > li > a {
    padding: 15px !important;
    background: transparent;
    // border-right: 1px solid rgba(0,0,0,0.1);
    // padding-bottom: 20px !important;
      border-left: 1px solid rgba(0,0,0,0.1);
      border-right: 1px solid rgba(0,0,0,0.1);
      border-bottom: 1px solid rgba(0,0,0,0.1) !important;

    // @include ltr {
    // }
  }

  .elise-tabs-nav > li {
    &:first-child {
      a {
        border-top: 1px solid rgba(0,0,0,0.1) !important;
      }
    }
  }
}


/* Alert */
.alert {
  border: none;
  background: transparent;
  @include box-shadow(0 1px 1px rgba(0, 0, 0, 0.2));
  @include border-radius(3px);
  position: relative;
  padding-left: 50px;
  margin-bottom: 40px;

  &::before {
    font-family: "FontAwesome";
    position: absolute;
    top: 0;
    left: 15px;
    color: #fff;
    padding: 1px 3px;
    @include border-radius(0 0 3px 3px);
    width: 20px;
    text-align: center;
  }
}

.alert-info {
  border-top: 2px solid #2C77C8;
  color: #2C77C8;

  &::before {
    content: "\f129";
    background: #2C77C8;
  }
}
.alert-success {
  border-top: 2px solid #8dc73f;
  color: #8dc73f;

  &::before {
    content: "\f00c";
    background: #8dc73f;
  }
}
.alert-warning {
  border-top: 2px solid #e2b001;
  color: #e2b001;

  &::before {
    content: "\f12a";
    background: #e2b001;
  }
}
.alert-danger {
  border-top: 2px solid #d84033;
  color: #d84033;

  &::before {
    content: "\f00d";
    background: #d84033;
  }
}



/* Blockquote */

blockquote {
  border-left: none;
  font-weight: 300;
  padding: 0;
  margin: 0;
  // font-family: $secondary-font-family;

  p, h1, h2, h3, h4, h5, h6 {
    padding-bottom: 20px;
    margin-bottom: 0;

    &::before, &::after {
      font: 16px 'FontAwesome';
      position: relative;
      color: rgba(0,0,0,.1);
    }

    &::before {
      content: "\f10d";
      top: -5px;
      margin-right: 10px;
    }

    &::after {
      content: "\f10e";
      top: 5px;
      margin-left: 10px;
    }
  }

  p {
    font-size: 18px;
    line-height: 26px;
  }

  footer {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    border-top: 1px solid #ccc;
    padding-top: 20px;
    position: relative;
    color: $color-dark;
    @include pie-clearfix;
    color: #ccc;

    .author {
      width: 50%;
      float: right;
      text-align: left;
      padding-left: 5px;
      padding-top: 7px;
      color: $color-dark;
    }

    .avatar {
      width: 50%;
      float: left;
      text-align: right;
      padding-right: 5px;

      img {
        max-width: 55px;
        @include border-radius(35px);
        display: inline;
      }
    }

    small {
      padding-top: 4px;
      font-size: 11px;
      margin-bottom: 0;

      &::before {
        content: "";
      }

    }

    &::before {
      content: "\f0d7";
      font: 18px 'FontAwesome';
      position: absolute;
      top: -7px;
      left: 50%;
      @include transform(translateX(-50%));
    }
  }

  footer.f_full {
    .author, .avatar {
      width: 100% !important;
      text-align: center;
    }

    .avatar img {
      max-width: 100%;
      @include border-radius(0);
      margin-top: 10px;
    }
  }

  .elise-shortcode-testimonial & {
    &:hover {
      footer {
        border-top: 1px solid $accent-color !important;

        &::before {
          color: $accent-color;
        }
      }
    }
  }
}

blockquote.blockquote-bordered {
  p {
    border: 1px solid transparent;
    @include box-shadow(0 1px 1px rgba(0,0,0,.2));
    @include border-radius(3px);
    background: #f8f8f8;
    padding: 20px;
    margin-bottom: 0;
    position: relative;
    z-index: 2;
  }

  footer {
    border-top: none !important;
    position: relative;

    .avatar {
      text-align: left;
      width: 60px;
      position: absolute;
    }

    .author {
      width: 100%;
      text-align: left;
      padding-left: 70px;
      min-height: 56px;
    }

    &.f_full {
      .author {
        padding-left: 0;
        min-height: inherit;
      }

      .avatar {
        position: relative;
      }
    }

    &::before {
      top: -7px;
      left: 30px;
    }
  }

  .elise-shortcode-testimonial & {
    &:hover {
      p {
        border: 1px solid $accent-color !important;
        @include box-shadow(0 1px 1px rgba(0,0,0,.1));
      }
    }

    footer {
      border-top: none !important;
    }

  }
}


/* Social Icons */

.social-icons {
  list-style: none;
  margin: 0;
  padding: 0;
  @include pie-clearfix;

  li {
    height: 32px;
    float: left;
    margin-right: 3px;
    margin-bottom: 3px;

    @include rtl {
      float: right;
    }

    a {
      height: 32px;
      width: 32px;
      @include border-radius(50%);
      display: block;
      overflow: hidden;
      background: transparent;
      @include transition(background 0.2s, color 0.1s, box-shadow 0.1s);
      text-align: center;
      @include box-shadow(inset 0 0 0 1px rgba(0,0,0,.25));
      color: #919191;

      #footer-widget-area & {
        @include box-shadow(inset 0 0 0 1px #6F6F6F);
        color: #cfcfcf;

        &:hover {
          text-decoration: none;
          color: #fff;
          @include box-shadow(inset 0 -1px 0 rgba(0,0,0,0.25));
        }
      }


      &:hover {
        text-decoration: none;
        color: #fff;
        @include box-shadow(inset 0 -1px 0 rgba(0,0,0,0.25));
      }

      i {
        display: block;
        height: 32px;
        padding: 10px 0;
        top: 0;
        @include transition(top 0.2s);
        position: relative;
      }
    }

    &:hover {
      a {
        i {
          top: -100%;
        }
      }
    }
  }

  &.si-large {
    li {
      // width: 50px;
      height: 50px;
      a {
        height: 50px;
        width: 50px;
        font-size: 16px;
        i {
          height: 50px;
          padding: 18px 0;
        }
      }
    }
  }

  .article-share & {
    display: inline-block;
    float: right;
    margin-top: -3px;
    opacity: .6;

    li {
      height: 24px;
      //margin-bottom: 0;
      margin: 0;

      a {
        width: 24px;
        height: 24px;
        @include box-shadow(none);
        color: #888888;

        &:hover {
          text-decoration: none;
          color: #fff;
          @include box-shadow(inset 0 -1px 0 rgba(0,0,0,0.25));
        }

        i {
          height: 24px;
          padding: 7px;
        }
      }
    }

    &:hover {
      opacity: 1;
    }
  }

  .nav-top-bar-wrap & {
    height: 32px;

    li {
      margin-bottom: 0;
      margin-right: 0;
      margin-left: 3px
    }
  }

  #top-bar & {
    li {
      margin: 0;

      a {
        @include border-radius(0px);
        // @include box-shadow(-1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1));
        @include box-shadow(none);
       color: lighten(#000, 70%);

        &:hover {
          @include box-shadow(inset 0 -1px 0 rgba(0,0,0,0.25));
          color: #fff;
        }

        i {
          padding: $padding-icons 0; 
        }
      }
    }

    li, a, i {
      height: $top-bar-height;
    }
  }

  .facebook a:hover { background: #3B5998; }
  .twitter a:hover { background: #33ccff; }
  .pinterest a:hover { background: #cb2027; }
  .github a:hover { background: #000000; }
  .linkedin a:hover { background: #007bb6; }
  .dribbble a:hover { background: #EE508D; }
  .google-plus a:hover { background: #dd4b39; }
  .youtube a:hover { background: #bb0000; }
  .vimeo-square a:hover { background: #44bbff; }
  .flickr a:hover { background: #ff0084; }
  .skype a:hover { background: #00AFF0; }
  .instagram a:hover { background: #517fa4; }
  .tumblr a:hover { background: #00225F; }
  .codepen a:hover { background: #252527; }
  .behance a:hover { background: #1769ff; }
  .deviantart a:hover { background: #4e6252; }
  .digg a:hover { background: #000; }
  .dropbox a:hover { background: #007ee5; }
  .foursquare a:hover { background: #0072b1; }
  .jsfiddle a:hover { background: #4679bd; }
  .openid a:hover { background: #f78c40; }
  .reddit a:hover { background: #ff4500; }
  .soundcloud a:hover { background: #f80; }
  .spotify a:hover { background: #7ab800; }
  .steam a:hover { background: #262627; }
  .stumbleupon a:hover { background: #eb4924; }
  .vine a:hover { background: #00b488; }
  .lastfm a:hover { background: #c3000d; }
  .vk a:hover { background: #45668e; }
  .apple a:hover { background: #202020; }
  .windows a:hover { background: #00bcf2; }
  .wordpress a:hover { background: #21759b; }
}

.pn-share-buttons {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  background: #333;
  top: 100%;
  left: -100%;
  @include box-shadow(0 1px 1px rgba(0,0,0,.2));
  width: 82px;
  z-index: 4;

  &::before {
    content: "\f0d8";
    font-family: "FontAwesome";
    top: -12px;
    right: 18px;
    position: absolute;
    color: #333;

    @include rtl {
      left: 18px;
      right: auto;
    }
  }

  @include rtl {
    left: auto;
    right: -100%;
  }

  li {
    margin: 0;
    height: 40px;

    a {
      @include box-shadow(none);
      @include border-radius(0);
      width: 100%;
      padding: 0 !important;
      height: 40px;
      color: #fff !important;

      i {
        height: 40px;
        padding: 15px 0 !important;
      }

      &:hover {
        @include box-shadow(none);
        color: #fff !important;
      }
    }
  }
}

.elise-shortcode-social-icons {
  &.si-left {
    text-align: left;
  }
  &.si-center {
    text-align: center;
  }
  &.si-right {
    text-align: right;
  }

  .social-icons {
    display: inline-block;
  }
}

/* Audio Player */
.audio-player {
  @include pie-clearfix;
  position: relative;
  // background: #f8f8f8;
  max-height: 150px;
  background: rgba(0,0,0,.03);

  a {
    outline: none;
  }

  .jp-cover {
    position: absolute;
    width: 150px;
    left: 0;
    top: 0;
  }

  .jp-info {
    width: 100%;
    float: left;
    padding-left: 150px;

    .jp-time {
      display: inline-block;
      padding: 20px;
      width: 70%;
      font-size: 16px;

      .jp-current-time, .time-sep, .jp-duration {
        display: inline-block;
      }
    }
  }
}

.jp-author {
  padding: 20px;
  font-size: 22px;
  font-weight: 300;
  letter-spacing: -1px;

  .song-author, .song-title {
    display: inline-block;
    color: $color-dark;
  }
}

.play-pause {
  position: absolute;
  top: 50%;
  left: 50%;
  // background: rgba(#000, .3);
  border: 1px solid #fff;
  @include border-radius(40px);
  @include transform(translate3d(-50%, -50%, 0));
  text-shadow: 0 1px 0 rgba(0,0,0,.2);
  @include box-shadow(0 1px 0 rgba(0,0,0,.1));
}

.jp-play, .jp-pause {
  display: block;
  // padding: 21px 23px;
  color: #fff;
  font-size: 30px;
  width: 62px;
  height: 62px;
  line-height: 62px;
  text-align: center;
}

.jp-progress, .jp-seek-bar {
  width: 100%;
  height: 20px;
  background: rgba(0, 0, 0, 0.03);
  // margin-top: 8px;
}

.jp-play-bar {
  height: 100%;
  background: $accent-color;
}

.jp-volume {
  float: right;
  width: 30%;
  padding: 8px 0;
}

.jp-mute, .jp-unmute {
  // padding: 10px 14px;
  border: 1px solid rgba(0,0,0,.2);
  @include border-radius(42px);
  float: left;
  height: 42px;
  width: 42px;
  line-height: 42px;
  text-align: center;
}

.jp-volume-bar {
  height: 10px;
  width: 65%;
  background: #ddd;
  float: right;
  position: relative;
  top: 16px;
  margin-right: 10px;
}

.jp-volume-bar-value {
  height: 100%;
  background: $accent-color;
}

.blog-medium, 
.blog-masonry {
  .audio-player {
    min-height: 130px;
  }

  .jp-cover {
    width: 110px;
  }

  .jp-info {
    padding-left: 110px;

    .jp-time {
      padding: 0 15px;
      font-size: 13px;
    }
  }

  .jp-author {
    font-size: 16px;
    padding: 10px 15px;
    font-weight: 400;
  }

  .jp-progress, .jp-seek-bar {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-top: 0;
  }

  .jp-volume {
    display: none;
  }
}

/* Royal slider */
/* v1.0.5 */
/* Core RS CSS file. 95% of time you shouldn't change anything here. */
.royalSlider {
  width: 100%;
  // height: 0px;
  //overflow: hidden;
  position: relative;
  direction: ltr;
}
.royalSlider > * {
  float: left;
}

.rsWebkit3d .rsSlide {
  -webkit-transform: translateZ(0);
}


.rsWebkit3d .rsSlide,
.rsWebkit3d .rsContainer,
.rsWebkit3d .rsThumbs,
.rsWebkit3d .rsPreloader,
.rsWebkit3d img,
.rsWebkit3d .rsOverflow,
.rsWebkit3d .rsBtnCenterer,
.rsWebkit3d .rsAbsoluteEl,
.rsWebkit3d .rsABlock,
.rsWebkit3d .rsLink {
  -webkit-backface-visibility: hidden;
}
.rsFade.rsWebkit3d .rsSlide,
.rsFade.rsWebkit3d img,
.rsFade.rsWebkit3d .rsContainer {
    -webkit-transform: none;
}
.rsOverflow {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  float: left;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}
.rsVisibleNearbyWrap {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  left: 0;
  top: 0;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}
.rsVisibleNearbyWrap .rsOverflow {
  position: absolute;
  left: 0;
  top: 0;

}
.rsContainer {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}

.rsNoArrows {
  .rsArrow {
    display: none !important;
  }
}

.rsArrow,
.rsThumbsArrow {
  cursor: pointer;
}

.rsThumb {
  float: left;
  position: relative;
}


.rsArrow,
.rsNav,
.rsThumbsArrow {
  opacity: 1;
  -webkit-transition:opacity 0.3s linear;
  -moz-transition:opacity 0.3s linear;
  -o-transition:opacity 0.3s linear;
  transition:opacity 0.3s linear;
}
.rsHidden {
  opacity: 0;
  visibility: hidden;
  -webkit-transition:visibility 0s linear 0.3s,opacity 0.3s linear;
  -moz-transition:visibility 0s linear 0.3s,opacity 0.3s linear;
  -o-transition:visibility 0s linear 0.3s,opacity 0.3s linear;
  transition:visibility 0s linear 0.3s,opacity 0.3s linear;
}


.rsGCaption {
  width: 100%;
  float: left;
  text-align: center;
}

/* Fullscreen options, very important ^^ */
.royalSlider.rsFullscreen {
  position: fixed !important;
  height: auto !important;
  width: auto !important;
  margin: 0 !important;
  padding: 0 !important;
  z-index: 2147483647 !important;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
}

.royalSlider .rsSlide.rsFakePreloader {
  opacity: 1 !important;
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -o-transition:  0s;
  transition:  0s;
  display: none;
}

.rsSlide {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  // overflow: hidden;
  
  height: 100%;
  width: 100%;

  > div {
    height: 100%;
    margin-bottom: 0;
    // text-align:  center;
  }

  > .vc_row,
  > .recentposts-row {
    padding: 3px 1px;
  }
}

.royalSlider.rsAutoHeight,
.rsAutoHeight .rsSlide {
  height: auto;
}

.rsContent {
  // width: 100%;
  height: 100%;
  position: relative;
  //visibility: hidden;
}

.royalSlider > .rsContent {
  visibility: hidden; 
}

.rsPreloader {
  position:absolute;
  z-index: 0; 
}

.rsNav {
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  user-select: none;
}
.rsNavItem {
  -webkit-tap-highlight-color:rgba(0,0,0,0.25);
}

.rsThumbs {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  float: left;
  z-index: 22;
}
.rsTabs {
  float: left;
  background: none !important;
}
.rsTabs,
.rsThumbs {
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}

.rsVideoContainer {
  /*left: 0;
  top: 0;
  position: absolute;*/
  /*width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  float: left;*/
  width: auto;
  height: auto;
  line-height: 0;
  position: relative;
  margin: 0 !important;
}
.rsVideoFrameHolder {
  position: absolute;
  left: 0;
  top: 0;
  background: #141414;
  opacity: 0;
  -webkit-transition: .3s;
}
.rsVideoFrameHolder.rsVideoActive {
  opacity: 1;
}
.rsVideoContainer iframe,
.rsVideoContainer video,
.rsVideoContainer embed,
.rsVideoContainer .rsVideoObj {
  position: absolute;
  z-index: 50;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
/* ios controls over video bug, shifting video */
.rsVideoContainer.rsIOSVideo iframe,
.rsVideoContainer.rsIOSVideo video,
.rsVideoContainer.rsIOSVideo embed {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 44px;
}

.rsABlock {
  left: 0;
  top: 0;
  position: absolute;
  z-index: 15;
  
}

img.rsImg {
  //max-width: none;
  margin: 0 !important;
}

.grab-cursor {
  cursor:url(img/grab.png) 8 8, move; 
}

.grabbing-cursor{ 
  cursor:url(img/grabbing.png) 8 8, move;
}

.rsNoDrag {
  cursor: auto;
}


.rsVisible {
  overflow: visible;

  .rsOverflow {
    overflow: visible;
  }
}

// .rsVisible .rsSlide img {
//   opacity: 0.45;

// }
// .rsVisible .rsActiveSlide img {
//   opacity: 1;

// }


/* Scaling transforms */
.rsVisible .rsSlide img {
  opacity: 0.2;
  @include transition(opacity 0.3s);

  // -webkit-transform: scale(0.9);  
  // -moz-transform: scale(0.9); 
  // -ms-transform: scale(0.9);
  // -o-transform: scale(0.9);
  // transform: scale(0.9);

}
.rsVisible .rsActiveSlide img {
  opacity: 1;
  // -webkit-transform: scale(1);  
  // -moz-transform: scale(1); 
  // -ms-transform: scale(1);
  // -o-transform: scale(1);
  // transform: scale(1);

}


.visibleNearby {
  width: 100%;
  background: #141414;
  color: #FFF;
  height: 850px;
  // padding: 70px 0;
  margin: 0;
  overflow: hidden;
  // opacity: 0;

  .rsSlide {
     padding: 6
    0px 0;
    // margin-top: -5px;
    text-align: center;
  }

  .rsThumbsHor {
    padding-top: 4px;
  }
}

.visibleNearby .rsGCaption {
  font-size: 16px;
  line-height: 18px;
  padding: 12px 0 16px;
  background: #141414;
  width: 100%;
  position: static;
  float: left;
  left: auto;
  bottom: auto;
  text-align: center;
}
.visibleNearby .rsGCaption span {
  display: block;
  clear: both;
  color: #bbb;
  font-size: 14px;
  line-height: 22px;
}

/******************************
*
*  RoyalSlider Default Inverted Skin 
*
*    1. Arrows 
*    2. Bullets
*    3. Thumbnails
*    4. Tabs
*    5. Fullscreen button
*    6. Play/close video button
*    7. Preloader
*    8. Caption
*    
*  Sprite: 'img/rs-default-inverted.png'
*  Feel free to edit anything
*  If you don't some part - just delete it
* 
******************************/

/* Background */
.rsElise,
.rsElise .rsOverflow,
.rsElise .rsSlide,
.rsElise .rsVideoFrameHolder,
.rsElise .rsThumbs {
  background: transparent;
  // color: #222;
}


/***************
*
*  1. Arrows
*
****************/

.rsElise .rsArrow {
  height: 100%;
  width: 44px;
  position: absolute;
  display: block;
  cursor: pointer;
  z-index: 21;
}
.rsElise.rsVer .rsArrow {
  width: 100%;
  height: 44px;
}

.rsElise.rsNavTop {
  .rsArrow {
    width: 34px;
  }

  .rsArrowIcn {
    top: 0;
    @include transform(none);
  }
}

.rsElise.rsNavOuter {
  .rsArrow {
    width: 70px;
  }

  .rsArrowIcn {
    margin-top: -20px;
  }

  &.rsWithBullets {
    .rsArrowIcn {
      margin-top: -30px;
    }
  }
}

.rsElise.rsVer .rsArrowLeft { top: 0; left: 0; }
.rsElise.rsVer .rsArrowRight { bottom: 0;  left: 0; }

.rsElise.rsHor .rsArrowLeft { left: 0; top: 0; }
.rsElise.rsHor .rsArrowRight { right: 0; top:0; }


.rsElise .rsArrowIcn {   
  width: $arrow-size;
  height: $arrow-size;
  top: 50%;
  // left: 50%;
  @include transform(translateY(-50%));
  // margin-left: -20px;
  position: absolute; 
  cursor: pointer;  
  //background: url('img/rs-default-inverted.png');
  border: 1px solid rgba(0,0,0,.1);
  padding: 0px 9px;
  text-align: center;
  color: rgba(0,0,0,.3);

  // background-color: #FFF;
  // background-color: rgba(255,255,255, .75);
  // *background-color: #FFF;
  @include border-radius(50%);
  @include box-shadow(inset -2px -2px 7px rgba(0,0,0,0.05));

  &::before {
    font: 20px/40px 'FontAwesome';
  }
}

.rsElise.rsHor .rsArrowLeft .rsArrowIcn { 
  // background-position: -64px -32px; 

  &::before {
    // content: "\f053";
    content: "\f0d9";
    margin-left: -2px;
  }
}
.rsElise.rsHor .rsArrowRight .rsArrowIcn { 
  // background-position: -64px -64px; 

  &::before {
    // content: "\f054";
    content: "\f0da";
    margin-left: 2px;
  }
}

.rsElise.rsVer .rsArrowLeft .rsArrowIcn { background-position: -96px -32px; }
.rsElise.rsVer .rsArrowRight .rsArrowIcn { background-position: -96px -64px; }

.rsElise .rsArrowDisabled .rsArrowIcn { filter: alpha(opacity=20); opacity: .2; *display: none; }

.rsElise.rsNavOuter {
  position: relative;

  .rsArrowLeft {
    left: -70px;
    padding-right: 30px;
  }
  .rsArrowRight {
    right: -70px;
    padding-left: 30px;
  }

  .rsArrowIcn {
  }
}
.rsElise.rsNavInner {
  position: relative;

  .rsArrow {
    height: 40px;
    // margin-top: 0;
  }

  .rsArrowIcn {
    margin-top: 0;
    top: 40px;
    // background: rgba(#fff,.8);
    // @include box-shadow(inset -2px -2px 7px rgba(0,0,0,0.2));
    @include box-shadow(0 1px 0 rgba(0,0,0,0.2));
    text-shadow: 0 1px 0 rgba(0,0,0,0.7);
    border: 1px solid rgba(#fff,1);
    color: #fff;

  }

  .rsArrowLeft {
    left: auto;
    right: 65px;
  }
  .rsArrowRight {
    right: 20px;
  }

  // .rsArrowIcn {
  //   color: #fff;
  //   text-shadow: 0 1px 1px rgba(#000, .15);
  // }
}
.rsElise.rsNavTop {
  position: relative;

  .rsArrowIcn {
    height: 34px;
    width: 34px;
    // margin-left: -14px;
    margin-top: 0px;

    &::before {
      font: 18px/34px 'FontAwesome';
    }
  }

  .rsArrow {
    height: auto;
    top: -67px;
    padding-bottom: 72px;
  }

  .rsArrowLeft {
    left: auto;
    right: 39px;
  }
  .rsArrowRight {
    right: 0;
  }

  // .rsArrowIcn {
  //   color: #fff;
  //   text-shadow: 0 1px 1px rgba(#000, .15);
  // }
}

.rsElise .rsArrow {
  &:hover {
    .rsArrowIcn {
      color: $accent-color;
      // @include box-shadow(inset -2px -2px 7px rgba(0,0,0,0.08));
      border: 1px solid $accent-color;
    }
  }
}

/***************
*
*  2. Bullets
*
****************/

.rsElise .rsBullets {
  position: relative;
  z-index: 35;
  padding-top: 15px;
  width: 100%;
  height: 35px;
  margin: 0 auto; 

  text-align: center;
  line-height: 5px;
  overflow: hidden;
}
.rsElise .rsBullet {
  width: 6px;
  height: 6px;
  display: inline-block;
  *display:inline; 
  *zoom:1;
  padding: 9px;
  cursor: pointer;
}
.rsElise .rsBullet span {
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: rgba(0,0,0,.15);

  &:hover {
    background: $accent-color;
  }
}
.rsElise .rsBullet.rsNavSelected span {
  height: 8px;
  width: 8px;
  background-color: transparent;
  border: 1px solid rgba(0,0,0,.2);
  margin-top: -1px;
}

.visibleNearby .rsNav {
  position: absolute;
  bottom: 0;
}





/***************
*
*  3. Thumbnails
*
****************/

.rsElise .rsThumbsHor {
  width: 100%;
  height: 60px;
  margin-top: 4px;
}
.rsElise .rsThumbsVer {
  width: 96px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
.rsElise.rsWithThumbsHor .rsThumbsContainer {
  position: relative;
  height: 100%;
}
.rsElise.rsWithThumbsVer .rsThumbsContainer {
  position: relative;
  width: 100%;
}
.rsElise .rsThumb {
  float: left;
  overflow: hidden;
  width: 60px;
  height: 60px;
}
.rsElise .rsThumb img {
  width: 100%;
  height: 100%;
}
.rsElise .rsThumb.rsNavSelected {
  background: #FFF;
}
.rsElise .rsThumb.rsNavSelected img {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.rsElise .rsTmb {
  display: block;
}

/* Thumbnails with text */
.rsElise .rsTmb h5 {
  font-size: 16px;
  margin: 0;
  padding: 0;
  line-height: 20px;
}
.rsElise .rsTmb span {
  color: #DDD;
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 18px;
}



/* Thumbnails arrow icons */
.rsElise .rsThumbsArrow {
  height: 100%;
  width: 20px;
  position: absolute;
  display: block;
  cursor: pointer;  
  z-index: 21;  
  background: #FFF;
  background: rgba(255,255,255,0.75);
}
.rsElise .rsThumbsArrow:hover {
  background: rgba(255,255,255,0.9);
}
.rsElise.rsWithThumbsVer .rsThumbsArrow {
  width: 100%;
  height: 20px;
}
.rsElise.rsWithThumbsVer .rsThumbsArrowLeft { top: 0; left: 0; }
.rsElise.rsWithThumbsVer .rsThumbsArrowRight { bottom: 0;  left: 0; }

.rsElise.rsWithThumbsHor .rsThumbsArrowLeft { left: 0; top: 0; }
.rsElise.rsWithThumbsHor .rsThumbsArrowRight { right: 0; top:0; }

.rsElise .rsThumbsArrowIcn {   
  width: 16px;
  height: 16px;
  top: 50%;
  left: 50%;
  margin-top:-8px;  
  margin-left: -8px;
  position: absolute; 
  cursor: pointer;  
  background: url('img/rs-default-inverted.png');
}

.rsElise.rsWithThumbsHor .rsThumbsArrowLeft .rsThumbsArrowIcn { background-position: -128px -32px; }
.rsElise.rsWithThumbsHor .rsThumbsArrowRight .rsThumbsArrowIcn { background-position: -128px -48px; }

.rsElise.rsWithThumbsVer .rsThumbsArrowLeft .rsThumbsArrowIcn { background-position: -144px -32px; }
.rsElise.rsWithThumbsVer .rsThumbsArrowRight .rsThumbsArrowIcn { background-position: -144px -48px; }

.rsElise .rsThumbsArrowDisabled { display: none !important; }



/***************
*
*  4. Tabs
*
****************/

.rsElise .rsTabs {
  width: 100%;
  height: auto;
  margin: 0 auto;
  text-align:center;
  overflow: hidden; padding-top: 12px; position: relative;
}
.rsElise .rsTab {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  height: auto;
  width: auto;
  color: #333;
  padding: 5px 13px 6px;
  min-width: 72px;
  border: 1px solid #D9D9DD;
  border-right: 1px solid #f5f5f5;
  text-decoration: none;

  // background-color: #FFF;
  // background-image: -webkit-linear-gradient(180deg, #fefefe, #f4f4f4); 
  // background-image:    -moz-linear-gradient(180deg, #fefefe, #f4f4f4);
  // background-image:         linear-gradient(to bottom, #fefefe, #f4f4f4);

  -webkit-box-shadow: inset 1px 0 0 #fff;
  box-shadow: inset 1px 0 0 #fff;

  *display:inline; 
  *zoom:1;
}
.rsElise .rsTab:first-child {
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.rsElise .rsTab:last-child { 
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;

  border-right:  1px solid #cfcfcf;
}
.rsElise .rsTab:active { 
  border: 1px solid #D9D9DD;   
  background-color: #f4f4f4;
  box-shadow:  0 1px 4px rgba(0, 0, 0, 0.2) inset;
}
.rsElise .rsTab.rsNavSelected { 
  color: #FFF;
  border: 1px solid #999;
  text-shadow: 1px 1px #838383;
  box-shadow: 0 1px 9px rgba(102, 102, 102, 0.65) inset;
  background: #ACACAC;
  // background-image: -webkit-linear-gradient(top, #ACACAC, #BBB);
  // background-image: -moz-llinear-gradient(top, #ACACAC, #BBB);
  // background-image: linear-gradient(to bottom, #ACACAC, #BBB);
}





/***************
*
*  5. Fullscreen button
*
****************/

.rsElise .rsFullscreenBtn {
  right: 0;
  top: 0;
  width: 44px;
  height: 44px;
  z-index: 22;
  display: block;
  position: absolute;
  cursor: pointer;
  
}
.rsElise .rsFullscreenIcn {
  display: block;
  margin: 6px;
  width: 32px;
  height: 32px;

  background: url('img/rs-default-inverted.png') 0 0;
  background-color: #FFF;
  background-color: rgba(255,255,255,0.75);
  *background-color: #FFF;
  border-radius: 2px;

}
.rsElise .rsFullscreenIcn:hover {
  background-color: rgba(255,255,255,0.9);
}
.rsElise.rsFullscreen .rsFullscreenIcn {
  background-position: -32px 0;
}





/***************
*
*  6. Play/close video button
*
****************/

.rsElise .rsPlayBtn {
  -webkit-tap-highlight-color:rgba(0,0,0,0.3);
  width:64px;
  height:64px;
  margin-left:-32px;
  margin-top:-32px;
  cursor: pointer;
}
.rsElise .rsPlayBtnIcon {
  width:64px;
  display:block;
  height:64px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  
  -webkit-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;

  background:url(img/rs-default-inverted.png) no-repeat 0 -32px;
  background-color: #FFF;
  background-color: rgba(255,255,255,0.75);
  *background-color: #FFF;
}
.rsElise .rsPlayBtn:hover .rsPlayBtnIcon {
  background-color: rgba(255,255,255,0.9);
}
.rsElise .rsBtnCenterer {
  position:absolute;
  left:50%;
  top:50%;
  width: 20px;
  height: 20px;
}
.rsElise .rsCloseVideoBtn {
  right: 0;
  top: 0;
  width: 44px;
  height: 44px;
  z-index: 500;
  position: absolute;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  
}
.rsElise .rsCloseVideoBtn.rsiOSBtn {
  top: -38px;
  right: -6px;
}

.rsElise .rsCloseVideoIcn {
  margin: 6px;
  width: 32px;
  height: 32px;
  background: url('img/rs-default-inverted.png') -64px 0;
  background-color: #FFF;
  background-color: rgba(255,255,255,0.75);
  *background-color: #FFF;
}
.rsElise .rsCloseVideoIcn:hover {
  background-color: rgba(255,255,255,0.9);
}




/***************
*
*  8. Global caption
*
****************/
.rsElise .rsGCaption {
  position: absolute;
  float: none;
  bottom: 6px;
  left: 6px;
  text-align: left;

  background: #FFF;
    background: rgba(255,255,255, 0.75);

  color: #000;
  padding: 2px 8px;
  width: auto;
  font-size: 12px;
  border-radius: 2px;
}


/* Magnific Popup */
/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.9;
  filter: alpha(opacity=90); }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #cccccc;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }
  .mfp-preloader a {
    color: #cccccc; }
    .mfp-preloader a:hover {
      color: white; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close, button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
  box-shadow: none; }
button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.7;
  filter: alpha(opacity=65);
  padding: 0 0 18px 10px;
  color: white;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  .mfp-close:hover, .mfp-close:focus {
    opacity: 1;
    filter: alpha(opacity=100); }
  .mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333333; }

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
  color: white;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #cccccc;
  font-size: 12px;
  line-height: 18px; }

.mfp-arrow {
  position: absolute;
  opacity: 0.7;
  filter: alpha(opacity=65);
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  .mfp-arrow:active {
    margin-top: -54px; }
  .mfp-arrow:hover, .mfp-arrow:focus {
    opacity: 1;
    filter: alpha(opacity=100); }
  .mfp-arrow:before, .mfp-arrow:after, .mfp-arrow .mfp-b, .mfp-arrow .mfp-a {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
  .mfp-arrow:after, .mfp-arrow .mfp-a {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
  .mfp-arrow:before, .mfp-arrow .mfp-b {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0; }

.mfp-arrow-left {
  left: 0; }
  .mfp-arrow-left:after, .mfp-arrow-left .mfp-a {
    border-right: 17px solid white;
    margin-left: 31px; }
  .mfp-arrow-left:before, .mfp-arrow-left .mfp-b {
    margin-left: 25px;
    border-right: 27px solid #3f3f3f; }

.mfp-arrow-right {
  right: 0; }
  .mfp-arrow-right:after, .mfp-arrow-right .mfp-a {
    border-left: 17px solid white;
    margin-left: 39px; }
  .mfp-arrow-right:before, .mfp-arrow-right .mfp-b {
    border-left: 27px solid #3f3f3f; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
  .mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
  .mfp-iframe-holder .mfp-close {
    top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
  .mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
    background: black; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }
  .mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
    background: #444444; }
  .mfp-figure small {
    color: #bdbdbd;
    display: block;
    font-size: 12px;
    line-height: 14px; }
  .mfp-figure figure {
    margin: 0; }

.mfp-bottom-bar {
  margin-top: -30px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #f3f3f3;
  word-wrap: break-word;
  padding-right: 36px; 
  // font-family: $secondary-font-family;
  font-size: 18px;
  font-weight: 300;
}

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {
      padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }

.mfp-ie7 .mfp-img {
  padding: 0; }
.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px; }
.mfp-ie7 .mfp-container {
  padding: 0; }
.mfp-ie7 .mfp-content {
  padding-top: 44px; }
.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0; }


.mfp-zoom-in {
  
  /* start state */
  .mfp-with-anim {
    opacity: 0;
    transition: all 0.2s ease-in-out; 
    transform: scale(0.8); 
  }
  
  &.mfp-bg {
    opacity: 0;
    transition: all 0.3s ease-out;
  }
  
  /* animate in */
  &.mfp-ready {
    .mfp-with-anim {
      opacity: 1;
      transform: scale(1); 
    }
    &.mfp-bg {
      opacity: 0.9;
    }
  }
  
  /* animate out */
  &.mfp-removing {
    
    .mfp-with-anim {
      transform: scale(0.8); 
      opacity: 0;
    }
    &.mfp-bg {
      opacity: 0;
    }
    
  }
  
}

/* Progress Bar */
.vc_progress_bar .vc_single_bar {
  height: 15px;
  background: rgba(0, 0, 0, 0.05) !important;
}

.vc_label {
  margin-bottom: 7px;
}

.vc_label_units {
  color: $accent-color;
}

.vc_progress_bar .vc_single_bar .vc_bar,
.vc_progress_bar .vc_single_bar {
  @include border-radius(8px !important);
}

.vc_progress_bar .vc_single_bar .vc_bar {
  background: $accent-color !important;
}


/* Timeline */
.timeline-hidden {
  visibility: hidden;
}
.timeline-visible {
  visibility: visible;
}

.timeline-spinner {
  left: 50%;
  z-index: 2;
  margin-left: -15px;
  margin-top: 10px;
}

.elise_timeline_wrapper {
  position: relative;
  padding: 80px 0 20px 0;
}

.timeline-stamp {
  position: absolute;
  width: 50%;
  right: 0;
  top: 0;
  height: 110px;
}

.timeline_line {
  position: absolute;
  width: 1px;
  border-right: 2px solid rgba(0,0,0,.15);
  height: 100%;
  z-index: 1;
  top: 0px;

  &::before {
    content: "\f102";
    font-family: "FontAwesome";
    left: -24px;
    width: 50px;
    height: 50px;
    position: absolute;
    @include border-radius(50%);
    top: 0;
    background: #fff;
    border: 1px solid #e9e9e9;
    text-align: center;
    font-size: 30px;
    padding: 13px 0;
    color: $accent-color;
  }

  &::after {
    content: "";
    left: -4px;
    width: 10px;
    height: 10px;
    background: #d9d9d9;
    position: absolute;
    @include border-radius(50%);
    bottom: 0;
    // border: 2px solid #fff;
  }
}

.elise_timeline_block_wrap {
  z-index: 2;
  position: relative;
  margin-bottom: 30px;

  &:hover {
    .tl-arrow {
      color: $accent-color !important;

      &::after {
        background: $accent-color !important;
        // color: 
      }
    }

    .elise_timeline_block {
        border: 1px solid $accent-color !important;
        @include box-shadow(0 1px 1px rgba(0,0,0,.1));
    }
  }
}




.elise_timeline_block {
  background: #fff;
  @include border-radius(3px);
  border: 1px solid transparent;
  @include box-shadow(0 1px 1px rgba(0,0,0,.2));
  padding: 20px;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.tl-arrow {
  color: #ccc;

  &::before {
    font-family: "FontAwesome";
    position: absolute;
    font-size: 16px;
    top: 20px;
    content: "\f0da";
    right: 24px;
    z-index: 1;
  }

  &::after {
    content: "";
    right: -35px;
    width: 8px;
    height: 8px;
    background: #d9d9d9;
    position: absolute;
    @include border-radius(50%);
    top: 26px;
    right: -4px;
  }
}

.timeline_block_title {
  border-bottom: 1px solid rgba(0,0,0,.1);
  padding-bottom: 10px;
  margin-bottom: 15px;

  .tl-title {
    font-weight: 400;
  }

  .tl-date {
    &::before {
      content: "\0020\00B7\0020";
    }
  }
}

.elise_timeline_content p:last-child {
  margin-bottom: 0;
}


.timeline-center {
  .timeline_line {
    left: 49.95%;
  }

  .elise_timeline_block_wrap {
    width: 50%;
    padding-right: 30px;
  }

  .tl_block_left {
    padding-right: 30px;
    padding-left: 0px;

    .tl-arrow {
      &::before {
        content: "\f0da";
        right: 25px;
      }

      &::after {
        right: -4px;
      }
    }
  }

  .tl_block_right {
    padding-left: 30px;
    padding-right: 0px;

    .tl-arrow {
      &::before {
        content: "\f0d9";
        left: 25px;
      }

      &::after {
        left: -4px;
      }
    }
  }
}

.timeline-left {
  .timeline_line {
    left: 25px;
  }

  .elise_timeline_block_wrap {
    width: 100%;
    padding-left: 57px;
  }

  .tl_block_left {
    padding-left: 57px;
    padding-right: 0px;

    .tl-arrow {
      &::before {
        content: "\f0d9";
        left: 52px;
      }

      &::after {
        left: 22px;
      }
    }
  }
}

.timeline-right {
  .timeline_line {
    right: 25px;
  }

  .elise_timeline_block_wrap {
    width: 100%;
    padding-right: 57px;
  }

  .tl_block_left {
    padding-right: 57px;
    padding-left: 0px;

    .tl-arrow {
      &::before {
        content: "\f0da";
        right: 52px;
      }

      &::after {
        right: 22px;
      }
    }
  }

  .timeline_block_title,
  .elise_timeline_content {
    text-align: right;
  }
}


/* Recent Posts */
.elise-recentposts {
  color: #000;

  .post {
    border: 0;
    margin: 0;
    padding: 0;
    position: relative;
  }
}

.recentposts-grid {
  .recentposts-row {
    margin-top: 30px;

    &:first-child {
      margin-top: 0;
    }
  }
}

.recentposts-a {
  display: block;
  &:hover {
    text-decoration: none;

    .btn-link {
      color: #fff;
      text-decoration: none;
      background: lighten($accent-color, 5%);
      @include box-shadow(inset 0 -1px 0 rgba(0,0,0,0.15));
    }
  }
}

.recentposts-carousel {
  padding-bottom: 15px; 

  .recentposts-post {
    margin-bottom: 5px;
  }
}

.recentposts-post {
  // border: 1px solid #D8D8D8;
  // margin-bottom: 30px;
  padding: 30px;
  height: 300px;
  border-top: 2px solid $accent-color;
  background: #fff;
  position: relative;
  overflow: hidden;
  @include box-shadow(0 1px 1px rgba(0,0,0,.2));

  // &:hover {
  //   // border: 1px solid $accent-color;
  //   border-top: 2px solid $accent-color;
  // }
}

[class*="format-"] .recentposts-post::before {
  position: absolute;
  font-family: 'Typicons';
  top: 14px;
  color: #000;
  right: -10px;
  font-size: 122px;
  z-index: 1;
  @include transform(rotate(-30deg));
  opacity: 0.05;
}

.format-standard .recentposts-post::before {
  content: "\e062";
}
.format-image .recentposts-post::before {
  content: "\e03a";
}
.format-gallery .recentposts-post::before {
  content: "\e08c";
}
.format-audio .recentposts-post::before {
  content: "\e0c0";
}
.format-video .recentposts-post::before {
  content: "\e130";
}
.format-quote .recentposts-post::before {
  content: "\e0b8";
}
.format-link .recentposts-post::before {
  content: "\e09b";
}

.recentpost-title {
  h3 {
    // font-weight: 300;
    // color: $color-dark;
    // font-family: $secondary-font-family;
    font-size: 24px;
    line-height: 35px;
    display: block;
    overflow: hidden;
    height: 140px;
  }
}

.recentpost-date small {
  font-size: 11px;
  color: $color-dark;
  opacity: .5;
  margin-bottom: 10px;
}

.recentpost-readmore {
  position: absolute;
  bottom: 30px;
  left: 30px;

  .btn {
   @include box-shadow(inset 0 0 0 1px rgba(0,0,0,.2));
  }
}

/* Pricing Table */
.elise-pricing-table {
  width: 100%;
  // @include box-shadow(0 1px 1px rgba(0,0,0,.2));
  // overflow: hidden;
  // border: 1px solid rgba(0,0,0,.15);
  // border-top: none;
  @include pie-clearfix;
  // @include border-radius(3px);
  z-index: 2;
  position: relative;
}

.elise-pricing-column {
  float: left;
  text-align: center;
  background: #fff;
  position: relative;
  @include box-shadow(0 1px 1px rgba(0,0,0,.2));

  .pt-column-1 & {
    width: 100%;

    &:nth-of-type(1n+2) {
      display: none;
    }
  }
  .pt-columns-2 & {
    width: 50%;

    &:nth-of-type(1n+3) {
      display: none;
    }
  }
  .pt-columns-3 & {
    width: 33.3333333333%;

    &:nth-of-type(1n+4) {
      display: none;
    }
  }
  .pt-columns-4 & {
    width: 25%;

    &:nth-of-type(1n+5) {
      display: none;
    }
  }
  .pt-columns-5 & {
    width: 20%;

    &:nth-of-type(1n+6) {
      display: none;
    }
  }
}

.pt-header {
  position: relative;
  background: #f9f9f9;
  overflow: hidden;
  border-top: 1px solid $accent-color;
}

.pt-title,
.pt-price {
  position: relative;
  z-index: 1;
}

.pt-title {
  margin-bottom: 0;
  padding: 8px;
  border-bottom: 1px solid rgba(0,0,0,.05);
}

.pt-price {
  padding: 20px 0;

  h2 {
    margin-bottom: 0;
    display: inline-block;

    [class^="currency-"] {
      font-size: 22px;
      margin-top: -3px;
    }

    .currency-bef {
      float: left;
      margin-right: 2px;
    }

    .currency-aft {
      float: right;
      margin-right: 2px;
    }
  }

  span { // billing
    font-size: 16px;
    font-weight: 300;
    margin-left: 3px;
  }
}

.pt-icon {
  position: absolute;
  top: 0px;
  @include transform(rotate(-25deg));
  right: -90px;

  i {
    color: rgba(0,0,0,.03);
    z-index: 0;
    font-size: 200px;
  }

  i.typcn {
    font-size: 240px;
  }

  i.fa {
    margin-right: 50px;
    margin-top: -50px;
  }
}

.pt-features {
  padding: 20px;
  color: $color-dark;
  // border-left: 1px solid rgba(0,0,0,.1);

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    min-width: 60%;
    max-width: 60%;

    li {
      text-align: left;
      padding: 0.3em 5px;
      border-bottom: 1px dotted rgba(0,0,0,.2);

      &:last-child {
        border-bottom: none;
      }

      .qty {
        font-weight: 700;
      }
    }
  }
}

.pt-choose {
  padding: 20px;
  border-top: 1px solid rgba(0,0,0,.1);
  // border-left: 1px solid rgba(0,0,0,.1);

  .btn {
    min-width: 70%;
  }
}

.pt-featured {
  z-index: 10;
  padding-bottom: 10px;
  // @include box-shadow(0 1px 10px rgba(0, 0, 0, 0.05));
  // border-left: 1px solid rgba(0,0,0,.1);

    // .pt-header,
    // .pt-features,
    // .pt-choose {
    //   border-left: none;
    // }
}

.pt-featured-text {
  position: absolute;
  z-index: 2;
  width: 100%;
  text-align: center;
  bottom: 100%;
  background: $accent-color;
  // @include box-shadow(inset 0 -1px 0 rgba(0, 0, 0, 0.05));

  small {
    color: #fff;
    font-size: 10px;
    display: block;
    margin-bottom: 0;
    padding: 0 10px;
  }
}


/* Team Member */
.tm-photo {
  margin-bottom: 20px;
  text-align: center;
}

.tm-name {
  h3 {
    margin-bottom: 5px;
  }

  small {
    margin-bottom: 0;
    color: #aaa;
  }
}

.tm-desc {
  border-top: 1px solid rgba(0,0,0,.1);
  padding-top: 15px;
  margin-top: 15px;

  // p:last-child {
  //   margin-bottom: 0;
  // }
}

/* Counters */
.elise-shortcode-counter {
  &.counter-left {
    text-align: left;
  }
  &.counter-center {
    text-align: center;
  }
  &.counter-right {
    text-align: right;
  }

  h1 {
    margin-bottom: 0;
  }

  small {
    margin-top: 10px;
    margin-bottom: 0;
  }
}

/* Toggle FAQ */
.elise-toggle-wrapper {
  border-top: 1px solid rgba(0,0,0,.1);

  &:last-child {
    border-bottom: 1px solid rgba(0,0,0,.1);
  }
}

.vc_toggle {
  margin-bottom: 0 !important;
}

.elise-toggle-title {
  padding-top: 13px !important;
  padding-bottom: 13px !important;
}

.vc_toggle_default {
  background: none !important;
  position: relative;
  // padding-right: 48px !important;

  .vc_toggle_title {
    padding-right: 48px !important;

    &::after {
      content: "\f107";
      font-family: "FontAwesome";
      position: absolute;
      right: 0;
      width: 24px;
      height: 24px;
      text-align: center;
      border: 1px solid rgba(0,0,0,.1);
      border-radius: 50%;
      color: $accent-color;
      top: 50%;
      @include transform(translateY(-50%));
    }
  }

  .vc_toggle_icon {
    display: none !important;
  }

  .vc_toggle_title,
  .vc_toggle_content {
    padding-left: 0 !important;
  }

  &.vc_toggle_active {
    .vc_toggle_title {
      &::after {
        content: "\f106";
      }
    }
  }
}

.elise-toggle-content {
  padding: 15px 0 30px 0;
  // margin-bottom: 0 !important;
  // padding: 0 !important;
  display: none;

  p:last-child {
    margin-bottom: 0;
  }
}

.last_toggle_el_margin {
  display: none;
}

/* Accordion */
.elise-accordion {
  .wpb_accordion_section {
    background: #fff;
    @include box-shadow(0 1px 1px rgba(0,0,0,.2));
    margin-bottom: 10px;
  }

  .elise-accordion-header {
    // margin: 0 0 1px 0;
    margin: 0;
    // padding-top: 0;
    position: relative;
    text-transform: none;
    font-weight: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    letter-spacing: inherit;

    a {
      display: block;
      padding: 15px 25px;
      @include box-shadow(inset 0 2px 0 $accent-color);
      padding-right: 73px;

      &::after {
        content: "\f107";
        font-family: "FontAwesome";
        position: absolute;
        right: 25px;
        width: 24px;
        height: 24px;
        text-align: center;
        border: 1px solid rgba(0,0,0,.1);
        border-radius: 50%;
        // color: $accent-color;
        top: 50%;
        @include transform(translateY(-50%));
      }
    }

    &.ui-accordion-header-active {
      a::after {
        content: "\f106";
      }
    }

    &:focus {
      outline: none;
    }
  }


  .elise-accordion-content {
    padding: 25px;
    border-top: 1px solid rgba(0,0,0,.1);
    display: none;

    p:last-child {
      margin-bottom: 0;
    }
  }
}

.wpb_accordion .wpb_accordion_wrapper .ui-state-default .ui-icon {
  display: none !important;
}

.wpb_content_element .wpb_accordion_wrapper .wpb_accordion_header {
  background: transparent !important;
}

// .wpb_accordion .wpb_content_element {
//   margin-bottom: 0 !important;
// }

/* Single img */
.img_rounded,
.img_rounded-bordered {
  @include border-radius(50%);

  &:hover {
    &::before {
      @include border-radius(50%);
    }
  }
}

img.img_bordered,
img.img_rounded-bordered {
  padding: 5px;
  border: 1px solid rgba(0,0,0,.07);
}

.single-img_shadow {
  img {
    @include box-shadow(0 1px 1px rgba(0,0,0,.15));
  }
}

.single-img-wrapper {
  position: relative;

  .img-caption {
    position: absolute;
    max-width: 70%;
    background: rgba($accent-color, .95);
    color: #fff;
    padding: 10px 15px;
    z-index: 1;

    h1, h2, h3, h4, h5, h6, small, p, a {
      color: #fff;
      margin-bottom: 0;
    }
  }
}

.img-caption {
  &.c-bottom-left {
    bottom: 30px;
    left: 30px;
  }
  &.c-bottom-right {
    bottom: 30px;
    right: 30px;
  }
  &.c-top-left {
    top: 30px;
    left: 30px;
  }
  &.c-top-right {
    top: 30px;
    right: 30px;
  }
}

/* Gallery */
.carousel-view {
  height: 30px;
  width: 30px;
  position: absolute;
  bottom: 10px;
  right: 20px;
  display: block;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,.8);
  text-align: right;
  // border: 1px solid rgba(#fff,1);
  // @include border-radius(50%);

  &::before {
    content: "\f002";
    font-family: 'FontAwesome';
    display: block;
    font-size: 18px;
  }

  &:hover {
    text-decoration: none;
  }
}

.img-link.carousel-view {

  &::before {
    content: "\f08e";
  }

}

.image_grid {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      float: left;
    }
  }
}

a.magnpopup:not(.carousel-view),
a.img-link:not(.carousel-view) {
  position: relative;
  display: inline-block;

  &:hover {
    opacity: 0.7;
  }

  // &:hover {
  //   &:before {
  //     content: "";
  //     position: absolute;
  //     width: 100%;
  //     height: 100%;
  //     @include background-image(linear-gradient(-45deg, adjust-color($accent-color, $hue: 0deg), rgba($accent-color, 0.8)));
  //     z-index: 1;

  //     .img_rounded &{
  //       @include border-radius(50%);
  //     }
  //   }

  //   &::after {

  //     font-family: 'FontAwesome';
  //     display: block;
  //     font-size: 22px;
  //     color: #fff;
  //     position: absolute;
  //     z-index: 2;
  //     text-align: center;
  //     top: 50%;
  //     left: 50%;
  //     width: 24px;
  //     height: 24px;
  //     @include transform(translate(-50%,-50%));
  //   }
  // }
}

a.magnpopup:not(.carousel-view).si_overlay,
a.img-link:not(.carousel-view).si_overlay {
  // position: relative;
  // display: inline-block;

  &:hover {
    opacity: 1;

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      @include background-image(linear-gradient(-45deg, adjust-color($accent-color, $hue: 0deg), rgba($accent-color, 0.8)));
      z-index: 1;

      .img_rounded &{
        @include border-radius(50%);
      }
    }

    &::after {

      font-family: 'FontAwesome';
      display: block;
      font-size: 22px;
      color: #fff;
      position: absolute;
      z-index: 2;
      text-align: center;
      top: 50%;
      left: 50%;
      width: 24px;
      height: 24px;
      @include transform(translate(-50%,-50%));
    }
  }
}

a.magnpopup:not(.carousel-view).img_rounded,
a.img-link:not(.carousel-view).img_rounded {
  &:hover {
    &:before {
      @include border-radius(50%);
    }
  }
}


a.magnpopup:not(.carousel-view).si_overlay {
  &:hover {
    &:after {
      content: "\f002";
    }
  }
}
a.img-link:not(.carousel-view).si_overlay {
  &:hover {
    &:after {
      content: "\f08e";
    }
  }
}


/* Call to Action */
.elise-call-to-action {
  padding: 40px;
  @include box-shadow(0 1px 1px rgba(0,0,0,.2), inset 0 2px 0 $accent-color);
  @include border-radius(3px);
  background: transparent;
  position: relative;
  overflow: hidden;

  p {
    margin-top: 10px;
  }

  p:last-child {
    margin-bottom: 0;
    z-index: 2;
    position: relative;
  }

  h1,h2,h3,h4,h5,h6,small {
    margin-bottom: 0px;
    z-index: 2;
    position: relative;
  }

  &::before {
    content: "\e090";
    font-family: 'Typicons';
    font-size: 140px;
    position: absolute;
    top: 37px;
    left: 0;
    z-index: 1;
    @include transform(rotate(20deg));
    color: rgba(0,0,0,.05);
  }
}

.cta-btn {
    // margin-top: 1px;
    position: relative;
    z-index: 3;
    margin-bottom: 0;
}

.elise-cta-btn-pos-right {
  .cta-content {
    padding-right: 20%;
    margin-right: 30px;
  }
  .btn {
    position: absolute;
    right: 40px;
    top: 50%;
    @include transform(translateY(-50%));
    max-width: 20%;
    white-space: normal;
  }
}

.elise-cta-btn-pos-left {
  .cta-content {
    padding-left: 20%;
    margin-left: 30px;
  }
  .btn {
    position: absolute;
    left: 40px;
    top: 50%;
    @include transform(translateY(-50%));
    max-width: 20%;
    white-space: normal;
  }
}

.elise-cta-btn-pos-bottom {
  .btn {
    margin-top: 20px;
  }
}

/* Separators */
.elise_separator {
  display: table;
  width: 100%;
}
.elise_separator .elise_sep_text {
  line-height: 1em;
  font-size: 100%;
  display: table-cell;
  white-space: pre;
}
.elise_separator.elise_separator_align_center .elise_sep_text {
  padding: 0 0.8em;
}
.elise_separator.elise_separator_align_left {
  margin-left: 0;
}
.elise_separator.elise_separator_align_left .elise_sep_text {
  padding: 0 0.8em 0 0;
}
.elise_separator.elise_separator_align_left .elise_sep_holder {
  width: 100%;
}
.elise_separator.elise_separator_align_left .elise_sep_holder.elise_sep_holder_l {
  display: none;
}
.elise_separator.elise_separator_align_right {
  margin-right: 0;
}
.elise_separator.elise_separator_align_right .elise_sep_text {
  padding: 0 0 0 0.8em;
  margin: 0 !important;
}
.elise_separator.elise_separator_align_right .elise_sep_holder {
  width: 100%;
}
.elise_separator.elise_separator_align_right .elise_sep_holder.elise_sep_holder_r {
  display: none;
}
.elise_separator .elise_sep_holder {
  display: table-cell;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}
.elise_separator .elise_sep_holder .elise_sep_line {
  height: 1px;
  border-top: 1px solid rgba(0,0,0,.1);
  display: block;
  position: relative;
  top: 1px;
  width: 100%;
}
.elise_separator.elise_sep_double {
  height: 5px;
}
.elise_separator.elise_sep_double .elise_sep_line {
  border-bottom: 1px solid rgba(0,0,0,.1);
  border-top: 1px solid rgba(0,0,0,.1);
  height: 5px;
}
.elise_separator.elise_sep_dashed .elise_sep_line {
  border-top-style: dashed;
}
.elise_separator.elise_sep_dotted .elise_sep_line {
  border-top-style: dotted;
}
.wpb_separator,
.elise_text_separator {
  border-bottom: 1px solid rgba(0,0,0,.1);
}
.wave,
.elise_separator.elise_sep_wave .elise_sep_holder .elise_sep_line {
  height: 7px;
  background: url(img/hr-wave.png) repeat-x;
  border-bottom: none;
  border-top: none;
}

.shadow,
.elise_separator.elise_sep_shadow .elise_sep_holder .elise_sep_line {
  background: url(img/shadow-sep.png) no-repeat center 3px;
  height: 15px;
  border-bottom: none;
  border-top: none;
}

.elise_separator.elise_sep_shadow .elise_sep_holder_l .elise_sep_line {
  background-position: left 3px;
}

.elise_separator.elise_sep_shadow .elise_sep_holder_r .elise_sep_line {
  background-position: right 3px;
}

.elise_sep_btt .elise_sep_text {
  cursor: pointer;

  .sep_title::after {
    content: "\0020\f106";
    font-family: "FontAwesome";
  }
}

.elise_sep_wrapper {
  display: inline-block;
  width: 100%;

  .elise_el_width_medium & {
    width: 50%;
  }

  .elise_el_width_small & {
    width: 20%;
  }
}



.elise_sep_position_left {
  text-align: left;
}

.elise_sep_position_center {
  text-align: center;
}

.elise_sep_position_right {
  text-align: right;
}

.elise_sep_container {
  display: table;
  width: 100%;
}

/* Separator
---------------------------------------------------------- */
.wpb_separator {
  clear: both;
  height: 1px;
}
/* Text Separator
---------------------------------------------------------- */
.elise_text_separator {
  clear: both;
  height: 1px;
}
.elise_text_separator div {
  display: inline-block;
  background-color: #ffffff;
  padding: 1px 1em;
  position: relative;
  top: -9px;
}
.separator_align_center {
  text-align: center;
}
.separator_align_left {
  text-align: left;
}
.separator_align_right {
  text-align: right;
}

/* Pie Chart */
.elise-pie-chart-wrapper {
  &.elise-pie-left {
    text-align: left;
  }
  &.elise-pie-right {
    text-align: right;
  }
  &.elise-pie-center {
    text-align: center;
  }
}

.elise-pie-chart {
  position: relative;
  display: inline-block;

  .elise-pie-value-wrapper {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    text-align: center;
    @include transform(translateY(-50%));
    margin-bottom: 0;

    .elise-counter {
      margin-bottom: 0;
      margin-top: -5px;
    }

    .pc-medium {
      font-size: 28px;
    }

    .pc-small {
      font-size: 20px;
    }

    small {
      max-width: 65%;
      text-align: center;
      margin: 0 auto;
      line-height: 15px;
      margin-top: 5px;
    }
  }
}

/* Google maps */
.elise-google-maps {
  height: 500px;
  width: 100%;

  img {
    max-width: none !important
  }

}


/* Contact Form 7 */
.wpcf7-not-valid {
  border-color: #d84033;
}

div.wpcf7-response-output {
  padding: 10px 15px;
  @include box-shadow(0 1px 1px rgba(0,0,0,.2));
  @include border-radius(3px);
  margin: 0;
  margin-top: 20px;
}

div.wpcf7-validation-errors,
div.wpcf7-spam-blocked {
  border: none;
  border-top: 2px solid #e2b001;
}

div.wpcf7-mail-sent-ok {
  border: none;
  border-top: 2px solid #8dc73f;
}

div.wpcf7-mail-sent-ng {
  border: none;
  border-top: 2px solid #d84033;
}

span.wpcf7-not-valid-tip {
  font-size: 12px;
  color: #d84033;
}

/* Recent Projects */
.recentprojects-carousel .portfolio-item {
  margin-bottom: 3px;
}

