#wpadminbar>#wp-toolbar>#wp-admin-bar-root-default #wp-admin-bar-analytify .ab-icon{
background:url(//launch_housing.dev/wp-content/plugins/wp-analytify-pro/images/wp-analytics-logo.png) no-repeat center 8px !important;
width :20px;
height :20px;
background-size :20px;
display : inline-block;
top: -1px;
}
@media screen and (max-width: 782px) {
#wpadminbar>#wp-toolbar>#wp-admin-bar-root-default #wp-admin-bar-analytify {
display: block;
}
#wpadminbar>#wp-toolbar>#wp-admin-bar-root-default #wp-admin-bar-analytify .ab-icon {
width :50px;
height :50px;
background-size :32px auto !important;
}
}