@font-face {
font-family: 'fontello';
src: url(//launch_housing.dev/wp-content/themes/elise/css/icons/fonts/fontello.eot?79072120);
src: url(//launch_housing.dev/wp-content/themes/elise/css/icons/fonts/fontello.eot?79072120#iefix) format('embedded-opentype'),
url(//launch_housing.dev/wp-content/themes/elise/css/icons/fonts/fontello.woff?79072120) format('woff'),
url(//launch_housing.dev/wp-content/themes/elise/css/icons/fonts/fontello.ttf?79072120) format('truetype'),
url(//launch_housing.dev/wp-content/themes/elise/css/icons/fonts/fontello.svg?79072120#fontello) format('svg');
font-weight: normal;
font-style: normal;
}   .fo[class^="icon-"]:before, .fo[class*=" icon-"]:before {
font-family: "fontello" ;
font-style: normal;
font-weight: normal;
speak: none;
display: inline-block;
text-decoration: inherit;  text-align: center;  font-variant: normal;
text-transform: none; line-height: 1em;       }
.icon-down-dir:before { content: '\e800'; } .icon-down-dir-2:before { content: '\e801'; } .icon-left-dir:before { content: '\e802'; } .icon-left-open-big:before { content: '\e803'; } .icon-right-open-big:before { content: '\e804'; } .icon-right-dir:before { content: '\e805'; } .icon-share-1:before { content: '\e806'; } .icon-up-dir:before { content: '\e807'; } .icon-right-dir-1:before { content: '\e808'; } .icon-cancel:before { content: '\e809'; } .icon-down-open-big:before { content: '\e80a'; } .icon-up-open-big:before { content: '\e80b'; } .icon-bag:before { content: '\e80c'; } .icon-shop:before { content: '\e80d'; }