@charset "utf-8";
/* CSS Document */
.vc_icon_box {
	background-image:url(font-awesome.png)!important;;
}
.icon_box .wpb_element_wrapper {
	background-image: url(font-awesome.png)!important;
	background-repeat: no-repeat;
	background-position: left;
}
#icon-dropdown i{
	font-size: 24px;
	padding: 7px;
}
#icon-dropdown {
	border: 1px solid #C7C7C7;
	width: 96%;
	height: 120px;
	overflow: scroll;
	overflow-x: hidden;
	margin: 10px 0px;
}
#icon-dropdown input#trace {
	display:none;
}
#icon-dropdown li:hover {
	background: #1E8CBE;
	color: #FFF;
}
#icon-dropdown li.selected {
	color: #FFF;
	background:#313131;
}
.icon-preview {
	display: inline-block;
	width: 40px;
	height: 35px;
	text-align: center;
}
.icon-preview > i {
	font-size:28px;
	vertical-align: middle;
}
.wpb_element_label {
	margin-right: 15px;
	line-height: 30px;
}
.search {
	padding: 5px;
	margin-left: 50px;
	width: 150px;
	border-color: #C7C7C7 !important;
}
#icon-dropdown > .icon-list {
	margin-top: 0px;
	background-image: none !important;
	width: 100% !important;
	padding: 0px;
}
#icon-dropdown > .icon-list li {
	display: inline-block;
	padding: 0px 5px;
	cursor: pointer;
	border: 1px solid #DDD;
	margin-bottom: 0px;
	width: 40px;
	text-align: center;
}
#icon-dropdown > .icon-list label {
	display: none;
}
#icon-dropdown li.selected:hover {
	color: #FFF;
	background:#313131;
}
.wpb_el_type_icon .search {
	max-width: 220px;
	margin-left: 12px !important;
}
#wp-link-update {
	position: absolute;
	right: 6px;
	width: 70px;
	height: 28px;
	overflow: hidden;
}
.wpb_vc_param_value.pos.radioimage {
	position: absolute;
	width: 10px;
	float: left;
	margin: 0px 10px;
}
img.radioimage {
	margin-left: 32px;
	border: 1px solid;
	max-height: 70px;
	max-width: 170px;
}