<!DOCTYPE html>
<!--[if IE 8]> <html lang="en-US" prefix="og: http://ogp.me/ns#" class="ie8"> <![endif]-->
<!--[if !IE]><!--> <html lang="en-US" prefix="og: http://ogp.me/ns#"> <!--<![endif]-->
<head>
<meta charset="UTF-8">
<!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Pingbacks -->
<link rel="pingback" href="http://25845.aumanaged.com/xmlrpc.php" />
<link rel="icon" type="image" href="http://25845.aumanaged.com/wp-content/uploads/2015/07/favicon.png"/>
<title>Vacancy tax Launch Housing modelling - Launch Housing</title>
<!-- This site is optimized with the Yoast SEO plugin v3.2.4 - https://yoast.com/wordpress/plugins/seo/ -->
<meta name="robots" content="noindex,follow"/>
<link rel="canonical" href="http://25845.aumanaged.com/vacancy-tax-launch-housing-modelling/" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="article" />
<meta property="og:title" content="Vacancy tax Launch Housing modelling - Launch Housing" />
<meta property="og:description" content="Vacancy tax Launch Housing modelling PDF" />
<meta property="og:url" content="http://25845.aumanaged.com/vacancy-tax-launch-housing-modelling/" />
<meta property="og:site_name" content="Launch Housing" />
<meta property="article:section" content="Latest Research" />
<meta property="article:published_time" content="2016-07-18T06:13:51+00:00" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:description" content="Vacancy tax Launch Housing modelling PDF" />
<meta name="twitter:title" content="Vacancy tax Launch Housing modelling - Launch Housing" />
<!-- / Yoast SEO plugin. -->
<link rel="alternate" type="application/rss+xml" title="Launch Housing &raquo; Feed" href="http://25845.aumanaged.com/feed/" />
<script type="text/javascript">
window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/72x72\/","ext":".png","source":{"concatemoji":"http:\/\/25845.aumanaged.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.4.2"}};
!function(a,b,c){function d(a){var c,d=b.createElement("canvas"),e=d.getContext&&d.getContext("2d"),f=String.fromCharCode;return e&&e.fillText?(e.textBaseline="top",e.font="600 32px Arial","flag"===a?(e.fillText(f(55356,56806,55356,56826),0,0),d.toDataURL().length>3e3):"diversity"===a?(e.fillText(f(55356,57221),0,0),c=e.getImageData(16,16,1,1).data.toString(),e.fillText(f(55356,57221,55356,57343),0,0),c!==e.getImageData(16,16,1,1).data.toString()):("simple"===a?e.fillText(f(55357,56835),0,0):e.fillText(f(55356,57135),0,0),0!==e.getImageData(16,16,1,1).data[0])):!1}function e(a){var c=b.createElement("script");c.src=a,c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g;c.supports={simple:d("simple"),flag:d("flag"),unicode8:d("unicode8"),diversity:d("diversity")},c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.simple&&c.supports.flag&&c.supports.unicode8&&c.supports.diversity||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
</script>
<style type="text/css">
img.wp-smiley,
img.emoji {
display: inline !important;
border: none !important;
box-shadow: none !important;
height: 1em !important;
width: 1em !important;
margin: 0 .07em !important;
vertical-align: -0.1em !important;
background: none !important;
padding: 0 !important;
}
</style>
<!-- <link rel='stylesheet' id='contact-form-7-css'  href='http://25845.aumanaged.com/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=4.4.2' type='text/css' media='all' /> -->
<!-- <link rel='stylesheet' id='rs-plugin-settings-css'  href='http://25845.aumanaged.com/wp-content/plugins/revslider/public/assets/css/settings.css?ver=5.2.5' type='text/css' media='all' /> -->
<link rel="stylesheet" type="text/css" href="//25845.aumanaged.com/wp-content/cache/wpfc-minified/0906b7259497341cbcc33f9fc1ebbc15/1468999079index.css" media="all"/>
<style id='rs-plugin-settings-inline-css' type='text/css'>
.tp-caption a{text-shadow:none}.tp-caption a:hover{}.largeredbtn{font-family:"Raleway",sans-serif;font-weight:900;font-size:16px;line-height:60px;color:#fff !important;text-decoration:none;padding-left:40px;padding-right:80px;padding-top:22px;padding-bottom:22px;background:rgb(234,91,31); background:-moz-linear-gradient(top,rgba(234,91,31,1) 0%,rgba(227,58,12,1) 100%); background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(234,91,31,1)),color-stop(100%,rgba(227,58,12,1))); background:-webkit-linear-gradient(top,rgba(234,91,31,1) 0%,rgba(227,58,12,1) 100%); background:-o-linear-gradient(top,rgba(234,91,31,1) 0%,rgba(227,58,12,1) 100%); background:-ms-linear-gradient(top,rgba(234,91,31,1) 0%,rgba(227,58,12,1) 100%); background:linear-gradient(to bottom,rgba(234,91,31,1) 0%,rgba(227,58,12,1) 100%); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea5b1f',endColorstr='#e33a0c',GradientType=0 )}.largeredbtn:hover{background:rgb(227,58,12); background:-moz-linear-gradient(top,rgba(227,58,12,1) 0%,rgba(234,91,31,1) 100%); background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(227,58,12,1)),color-stop(100%,rgba(234,91,31,1))); background:-webkit-linear-gradient(top,rgba(227,58,12,1) 0%,rgba(234,91,31,1) 100%); background:-o-linear-gradient(top,rgba(227,58,12,1) 0%,rgba(234,91,31,1) 100%); background:-ms-linear-gradient(top,rgba(227,58,12,1) 0%,rgba(234,91,31,1) 100%); background:linear-gradient(to bottom,rgba(227,58,12,1) 0%,rgba(234,91,31,1) 100%); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#e33a0c',endColorstr='#ea5b1f',GradientType=0 )}.fullrounded img{-webkit-border-radius:400px;-moz-border-radius:400px;border-radius:400px}
</style>
<!-- <link rel='stylesheet' id='searchandfilter-css'  href='http://25845.aumanaged.com/wp-content/plugins/search-filter/style.css?ver=1' type='text/css' media='all' /> -->
<!-- <link rel='stylesheet' id='uaf_client_css-css'  href='http://25845.aumanaged.com/wp-content/uploads/useanyfont/uaf.css?ver=1468998734' type='text/css' media='all' /> -->
<!-- <link rel='stylesheet' id='vc-font-awesome-css'  href='http://25845.aumanaged.com/wp-content/plugins/vc-icon-box/css/font-awesome.min.css?ver=4.4.2' type='text/css' media='all' /> -->
<!-- <link rel='stylesheet' id='vc-icon-box-css'  href='http://25845.aumanaged.com/wp-content/plugins/vc-icon-box/css/style.css?ver=4.4.2' type='text/css' media='all' /> -->
<!-- <link rel='stylesheet' id='woocommerce-layout-css'  href='//25845.aumanaged.com/wp-content/plugins/woocommerce/assets/css/woocommerce-layout.css?ver=2.5.5' type='text/css' media='all' /> -->
<link rel="stylesheet" type="text/css" href="//25845.aumanaged.com/wp-content/cache/wpfc-minified/068c721214db569965cf076a2be6a525/1468999079index.css" media="all"/>
<!-- <link rel='stylesheet' id='woocommerce-smallscreen-css'  href='//25845.aumanaged.com/wp-content/plugins/woocommerce/assets/css/woocommerce-smallscreen.css?ver=2.5.5' type='text/css' media='only screen and (max-width: 768px)' /> -->
<link rel="stylesheet" type="text/css" href="//25845.aumanaged.com/wp-content/cache/wpfc-minified/2842d770197052895e0fcc1b1ff93803/1468999079index.css" media="only screen and (max-width: 768px)"/>
<!-- <link rel='stylesheet' id='woocommerce-general-css'  href='//25845.aumanaged.com/wp-content/plugins/woocommerce/assets/css/woocommerce.css?ver=2.5.5' type='text/css' media='all' /> -->
<link rel="stylesheet" type="text/css" href="//25845.aumanaged.com/wp-content/cache/wpfc-minified/b724321f0abe30dbd0eab08be74a0bae/1468999079index.css" media="all"/>
<link rel='stylesheet' id='elise-gfont-css'  href='http://fonts.googleapis.com/css?family=Raleway%3A400%2C300%2C600%2C700&#038;ver=4.4.2' type='text/css' media='all' />
<!-- <link rel='stylesheet' id='bootstrap-css'  href='http://25845.aumanaged.com/wp-content/themes/elise/css/bootstrap.min.css?ver=3.3.0' type='text/css' media='all' /> -->
<!-- <link rel='stylesheet' id='font-awesome-css'  href='http://25845.aumanaged.com/wp-content/plugins/js_composer/assets/lib/bower/font-awesome/css/font-awesome.min.css?ver=4.9' type='text/css' media='all' /> -->
<!-- <link rel='stylesheet' id='typicons-css'  href='http://25845.aumanaged.com/wp-content/themes/elise/css/icons/css/typicons.min.css?ver=2.0.4' type='text/css' media='all' /> -->
<!-- <link rel='stylesheet' id='elise_fontello-css'  href='http://25845.aumanaged.com/wp-content/themes/elise/css/icons/css/fontello.css?ver=1.0' type='text/css' media='all' /> -->
<!-- <link rel='stylesheet' id='main-css'  href='http://25845.aumanaged.com/wp-content/themes/elise-child/style.css?ver=4.4.2' type='text/css' media='all' /> -->
<!-- <link rel='stylesheet' id='bsf-Defaults-css'  href='http://25845.aumanaged.com/wp-content/uploads/smile_fonts/Defaults/Defaults.css?ver=4.4.2' type='text/css' media='all' /> -->
<link rel="stylesheet" type="text/css" href="//25845.aumanaged.com/wp-content/cache/wpfc-minified/795b942e2858ea2b4692666449602d36/1468999162index.css" media="all"/>
<link rel='stylesheet' id='redux-google-fonts-elise_options-css'  href='http://fonts.googleapis.com/css?family=Raleway%3A100%2C200%2C300%2C400%2C500%2C600%2C700%2C800%2C900&#038;subset=latin&#038;ver=4.4.2' type='text/css' media='all' />
<link rel='stylesheet' id='custom-style-css'  href='http://25845.aumanaged.com/wp-content/themes/elise/css/custom-style.css?ver=4.4.2' type='text/css' media='all' />
<style id='custom-style-inline-css' type='text/css'>
#navbar{height:115px}.header-standard .logo a img,.header-extended .logo a img{max-height:115px}.main-nav ul li:not(.nav-icons) a{line-height:115px}.page-title .title-wrap{padding-top:70px;padding-bottom:70px}h1,h2,h3{letter-spacing:0}h2{font-size:26px;line-height:34px}h3{font-size:20px;line-height:25px}h5{line-height:21px}h6,small{line-height:18px}.main-nav ul li:not(.nav-icons) a,.sidebar-nav ul li a{font-size:13px}body{color:#616161}h1,h2,h3,h4,h5,h6,small,label,.elise-counter{color:#2a2c29}a{color:#582c83}a:hover,a:focus,.widget_calendar #wp-calendar tfoot td a:hover{color:#582c83}.pagination .next,.pagination .prev,.widget_rss h6 .rsswidget:first-child::before,.back-to-top-btn,.project-name span,.format-quote blockquote footer,.format-quote blockquote footer::before,.vc_label_units,.timeline_line::before,.elise_timeline_block:hover::before,.elise-iconbox .elise-iconbox-icon,.rsElise .rsArrow:hover .rsArrowIcn,.elise-shortcode-testimonial blockquote:hover footer::before,.color-accent,.blog-content .more-link,.elise-toggle::after,.btn-outlined,.elise_woo_title .price .amount,.woocommerce .elise_woo_sp_pricing .amount,.woocommerce-page .elise_woo_sp_pricing .amount,.woocommerce .star-rating span,.woocommerce-page .star-rating span,.woocommerce .widget_price_filter .price_slider_amount .button,.woocommerce-page .widget_price_filter .price_slider_amount .button,.nav-shopping-bag .nav-shopping-cart .cart_list li .quantity .amount,.woocommerce .widget_shopping_cart ul li .quantity .amount,.woocommerce .widget_products ul li .quantity .amount,.woocommerce .widget_recently_viewed_products ul li .quantity .amount,.woocommerce .widget_recent_reviews ul li .quantity .amount,.woocommerce .widget_top_rated_products ul li .quantity .amount,.woocommerce-page .widget_shopping_cart ul li .quantity .amount,.woocommerce-page .widget_products ul li .quantity .amount,.woocommerce-page .widget_recently_viewed_products ul li .quantity .amount,.woocommerce-page .widget_recent_reviews ul li .quantity .amount,.woocommerce-page .widget_top_rated_products ul li .quantity .amount,.woocommerce .widget_shopping_cart ul li .amount,.woocommerce .widget_products ul li .amount,.woocommerce .widget_recently_viewed_products ul li .amount,.woocommerce .widget_recent_reviews ul li .amount,.woocommerce .widget_top_rated_products ul li .amount,.woocommerce-page .widget_shopping_cart ul li .amount,.woocommerce-page .widget_products ul li .amount,.woocommerce-page .widget_recently_viewed_products ul li .amount,.woocommerce-page .widget_recent_reviews ul li .amount,.woocommerce-page .widget_top_rated_products ul li .amount,.add_to_cart_inline .amount,.add_to_cart_inline ins .amount,.woocommerce-pagination .page-numbers .next,.woocommerce-pagination .page-numbers .prev,.single-product .product-type-variable .single_variation .amount{color:#582c83}.elise_timeline_block_wrap:hover .tl-arrow{color:#582c83 !important}.page-navigation .buttons:hover li a:hover{color:rgba(88,44,131,0.8)}.nav-shopping-bag .woo-cart-items-count,.jp-volume-bar-value,.jp-play-bar,.pagination li .current,.pagination li .current:hover,.pagination li span.current,.btn-default,input[type="submit"],.elise_timeline_block:hover::after,.back-to-top-btn:hover,.add_to_cart_inline .add_to_cart_button,.rsElise .rsBullet:not(.rsNavSelected) span:hover,.filters li .active,.pt-featured-text,.woocommerce-pagination .page-numbers li .current,.woocommerce-pagination .page-numbers li .current:hover,.woocommerce-pagination .page-numbers li span.current,.woocommerce #respond input#submit,.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,.woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle,.woocommerce nav.woocommerce-pagination ul li span.current,.woocommerce-page nav.woocommerce-pagination ul li span.current,.woocommerce .widget_layered_nav ul li.chosen a,.woocommerce-page .widget_layered_nav ul li.chosen a,.woocommerce .widget_layered_nav_filters ul li a,.woocommerce-page .widget_layered_nav_filters ul li a,.woocommerce input.button.alt,.woocommerce button.button.alt,.woocommerce a.button.alt,.woocommerce-page input.button.alt,.woocommerce-page button.button.alt,.woocommerce-page a.button.alt,.nav-shopping-bag .nav-shopping-cart .buttons a.button.checkout,.woocommerce .widget_shopping_cart .buttons a.button.checkout,.woocommerce-page .widget_shopping_cart .buttons a.button.checkout{background:#582c83}.btn-outlined{background:transparent}.vc_progress_bar .vc_single_bar .vc_bar,.elise_timeline_block_wrap:hover .tl-arrow::after,.btn-outlined:hover{background:#582c83 !important}.blog-content .more-link:hover,.blog-content .more-link:focus,.pagination .next:hover,.pagination .prev:hover,.btn-default:hover,.btn:hover,.btn:focus,input[type="submit"]:hover,input[type="submit"]:focus,input[type="submit"]:hover,input[type="submit"]:focus .recentposts-a:hover .btn-link,.elise-iconbox-more .btn-link:hover,.woocommerce-pagination .page-numbers .next:hover,.woocommerce-pagination .page-numbers .prev:hover,.woocommerce #respond input#submit:hover,.woocommerce .widget_price_filter .price_slider_amount .button:hover,.woocommerce-page .widget_price_filter .price_slider_amount .button:hover,.woocommerce input.button.alt:hover,.woocommerce button.button.alt:hover,.woocommerce a.button.alt:hover,.woocommerce-page input.button.alt:hover,.woocommerce-page button.button.alt:hover,.woocommerce-page a.button.alt:hover,.woocommerce .cart-collaterals .shipping_calculator .shipping-calculator-button:hover,.woocommerce-page .cart-collaterals .shipping_calculator .shipping-calculator-button:hover,.nav-shopping-bag .nav-shopping-cart .buttons a.button.checkout:hover,.woocommerce .widget_shopping_cart .buttons a.button.checkout:hover,.woocommerce-page .widget_shopping_cart .buttons a.button.checkout:hover,.woocommerce #respond input#submit:hover,.woocommerce #respond input#submit:focus,.add_to_cart_inline .add_to_cart_button:hover{background:rgba(88,44,131,0.8)}.main-nav ul li:not(.nav-icons) ul{-webkit-box-shadow:-2 15px 71px rgba(0,0,0,0.05),0 1px 1px rgba(0,0,0,0.15),0 -2px 0 #582c83;-moz-box-shadow:0 15px 71px rgba(0,0,0,0.05),0 1px 1px rgba(0,0,0,0.15),0 -2px 0 #582c83;box-shadow:0 15px 71px rgba(0,0,0,0.05),0 1px 1px rgba(0,0,0,0.15),0 -2px 0 #582c83}.nav-tabs>li.active>a,.nav-tabs>li.active>a:hover,.nav-tabs>li.active>a:focus,.elise-tabs-nav>li.ui-tabs-active>a,.elise-call-to-action{-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.2),inset 0 2px 0 #582c83;-moz-box-shadow:0 1px 1px rgba(0,0,0,0.2),inset 0 2px 0 #582c83;box-shadow:0 1px 1px rgba(0,0,0,0.2),inset 0 2px 0 #582c83}.wpb_tour .nav-tabs>li.active>a,.wpb_tour .nav-tabs>li.active>a:hover,.wpb_tour .nav-tabs>li.active>a:focus,.wpb_tour .elise-tabs-nav>li.ui-tabs-active>a{-webkit-box-shadow:inset 2px 0 0 #582c83;-moz-box-shadow:inset 2px 0 0 #582c83;box-shadow:inset 2px 0 0 #582c83}.elise-accordion .elise-accordion-header a{-webkit-box-shadow:inset 0 2px 0 #582c83;-moz-box-shadow:inset 0 2px 0 #582c83;box-shadow:inset 0 2px 0 #582c83}.pagination .next,.pagination .prev,.woocommerce-pagination .page-numbers .next,.woocommerce-pagination .page-numbers .prev,.woocommerce .widget_price_filter .price_slider_amount .button,.woocommerce-page .widget_price_filter .price_slider_amount .button,.btn-outlined{-webkit-box-shadow:inset 0 0 0 1px #582c83;-moz-box-shadow:inset 0 0 0 1px #582c83;box-shadow:inset 0 0 0 1px #582c83}.project-name,.project-info .info-item:hover{-webkit-box-shadow:-1px 0 0 #582c83;-moz-box-shadow:-1px 0 0 #582c83;box-shadow:-1px 0 0 #582c83}.project-meta-fullwidth .project-info ul .info-item:hover{-webkit-box-shadow:0 -1px 0 #582c83;-moz-box-shadow:0 -1px 0 #582c83;box-shadow:0 -1px 0 #582c83}.woocommerce span.onsale,.woocommerce-page span.onsale,.woo_elise_thumb-overlay,.highlight-accent,.single-img-wrapper .img-caption{background:rgba(88,44,131,0.9)}.elise_timeline_block_wrap:hover .elise_timeline_block,.rsElise .rsArrow:hover .rsArrowIcn,.elise-shortcode-testimonial blockquote.blockquote-bordered:hover p{border:1px solid #582c83 !important}.elise-shortcode-testimonial blockquote.blockquote-standard:hover footer,.elise-iconbox p::before{border-top:1px solid #582c83 !important}.pt-header{border-top:1px solid #582c83}.recentposts-post,.iconbox-border{border-top:2px solid #582c83}a.magnpopup:not(.carousel-view).si_overlay:hover:before,a.img-link:not(.carousel-view).si_overlay:hover:before,.woo_elise_thumb-overlay{background:-webkit-linear-gradient(-45deg,hsla(270,50%,34%,1),rgba(88,44,131,0.8));background:-moz-linear-gradient(-45deg,hsla(270,50%,34%,1),rgba(88,44,131,0.8));background:-o-linear-gradient(-45deg,hsla(270,50%,34%,1),rgba(88,44,131,0.8));background:linear-gradient(-45deg,hsla(270,50%,34%,1),rgba(88,44,131,0.8))}.bypostauthor{-webkit-box-shadow:inset 2px 0 0 #582c83;-moz-box-shadow:inset 2px 0 0 #582c83;box-shadow:inset 2px 0 0 #582c83}.elise-title{color:#582c83}#navbar,.header-bar #navbar .header-style-bar{background:#582c83}.navbar-sticky{background:rgba(88,44,131,0.96)}#navbar,.header-bar #navbar .header-style-bar,.navbar-sticky{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}.main-nav ul li:not(.nav-icons) ul{-webkit-box-shadow:0 -2px 0 #582c83;-moz-box-shadow:0 -2px 0 #582c83;box-shadow:0 -2px 0 #582c83}.main-nav ul li:not(.nav-icons) a,.search-bar,.search-bar .close-btn a{color:#fff}.main-nav ul li:not(.nav-icons) a:hover,.main-nav ul li:not(.nav-icons):hover>a,.main-nav ul .current-menu-item:not(.nav-icons)>a,.main-nav ul .current-menu-ancestor:not(.nav-icons)>a{color:#fff}.main-nav ul li:not(.nav-icons) ul li a:hover,.main-nav ul li:not(.nav-icons):hover ul>li:hover>a{color:#582c83}.main-nav ul .elise-mega-menu:not(.nav-icons)>ul>li ul li a:hover{color:#582c83 !important}.nav-icons a:not(.button){color:#fff !important}.sec-nav-overlay{background:-webkit-linear-gradient(-45deg,hsla(270,50%,34%,1),rgba(88,44,131,0.8));background:-moz-linear-gradient(-45deg,hsla(270,50%,34%,1),rgba(88,44,131,0.8));background:-o-linear-gradient(-45deg,hsla(270,50%,34%,1),rgba(88,44,131,0.8));background:linear-gradient(-45deg,hsla(270,50%,34%,1),rgba(88,44,131,0.8))}.blog-header h3 a:hover{color:#582c83}.format-standard .blog-media a::after,.format-image .blog-media a::after{background:-webkit-linear-gradient(-45deg,hsla(270,50%,34%,1),rgba(88,44,131,0.8));background:-moz-linear-gradient(-45deg,hsla(270,50%,34%,1),rgba(88,44,131,0.8));background:-o-linear-gradient(-45deg,hsla(270,50%,34%,1),rgba(88,44,131,0.8));background:linear-gradient(-45deg,hsla(270,50%,34%,1),rgba(88,44,131,0.8))}.blog-header .time a{color:#582c83}.portfolio-item a .overlay,.widget-portfolio-item a .overlay{background:-webkit-linear-gradient(-45deg,hsla(270,50%,34%,1),rgba(88,44,131,0.8));background:-moz-linear-gradient(-45deg,hsla(270,50%,34%,1),rgba(88,44,131,0.8));background:-o-linear-gradient(-45deg,hsla(270,50%,34%,1),rgba(88,44,131,0.8));background:linear-gradient(-45deg,hsla(270,50%,34%,1),rgba(88,44,131,0.8))}#footer-widget-area{border-bottom:1px solid #3a3a3a;border-top:solid #3a3a3a}@font-face{font-family:'DINRoundWeb-Black';src:url('/wp-content/themes/elise-child/fonts/DINRoundWeb-Bold.woff') format('woff')}@font-face{font-family:'DINRoundWeb-Light';src:url('/wp-content/themes/elise-child/fonts/DINRoundWeb-Light.woff') format('woff')}.fancy-font{font-family:'DINRoundWeb-Black',serif;font-size:42px;line-height:42px}.nav-icons a{color:#fff !important}.fancy-font-light{font-family:'DINRoundWeb-Light',serif;font-size:42px;line-height:42px}.main-nav ul li:not(.nav-icons) a:hover,.main-nav ul li:not(.nav-icons):hover>a,.main-nav ul .current-menu-item:not(.nav-icons)>a,.main-nav ul .current-menu-ancestor:not(.nav-icons)>a{text-decoration:underline}.purple{color:#573081}h5{font-weight:600 !important}.page-title{font-size:31px;color:#582c83;line-height:33px}.footer-social img{padding-right:30px}.heavy{font-weight:bold}.white,p.white{color:#fff}.tp-thumbs{display:none}.main-nav ul li:not(.nav-icons) a{padding:0 8px}.menu-buttons{float:right}.need-help-button{margin-right:-136px;margin-top:-36px}.main-nav ul .nav-icons{padding-left:0}.nav-container,.main-nav,.menu-main-menu-container,.main-nav ul{height:8%}@media(max-width:1199px){.nav-container,.main-nav,.menu-main-menu-container,.main-nav ul{height:100% !important}}.page-title-container{background-repeat:no-repeat;background-position:center;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover}.icon-img{float:left;margin-left:-60px;margin-top:-38px}.iconbox-inline .icon-bg{display:none}.move-title{position:absolute;bottom:35px}.phone-number{margin-top:-198px;margin-bottom:-77px;padding:30px 20px 73px 20px;background:rgba(88,44,131,0.9);color:#fff;float:right;font-family:'DINRoundWeb-Black',serif;font-size:42px;line-height:42px}.phone-number-blue{font-family:'DINRoundWeb-Black',serif;font-size:40px;line-height:42px}.number{font-family:'DINRoundWeb-Black',serif;font-size:42px;line-height:42px}.line-1,.line-2,.line-3,.line-4,.line-5{display:inline-block;color:#582482;padding:5px 5px 0 5px}.line-1,.line-2,.line-3,.line-4{margin:2px 2px}.line-1,.line-2,.line-3,.line-4{background:#a1d6e9}.line-5{margin:2px 0;background:#fff}.wpcf7-submit{width:100%}form.wpcf7-form input[type="text"],form.wpcf7-form input[type="email"]{background:#616161 !important;color:#bababa !important;width:100%}form.wpcf7-form input[type="submit"]{background:#582c83 !important;color:#fff !important;width:100%}.seperator{background:#d4d5d4}.subscribe input[type=text],.subscribe input[type=email],.subscribe input[type=submit]{width:100%;margin-top:10px}.subscribe input[type=text],.subscribe input[type=email]{background:#616161 !important}.subscribe input[type=submit]{background:#582c83 !important}.tony-para{padding-top:14px}.young-para{padding-top:15px}.jac-para{margin-top:-12px}.fin-para{padding-top:13px}.homeground-logo{padding-left:20px}.hanover-logo{padding-right:20px;border-right:1px solid white}.main-nav ul li.donate-button{position:static}.elise-accordion .wpb_accordion_section{background:#fff;-moz-box-shadow:0 0 0 rgba(0,0,0,0.2);-webkit-box-shadow:0 0 0 rgba(0,0,0,0.2);box-shadow:0 0 0 rgba(0,0,0,0.2);margin-bottom:0}table.contact{border-spacing:0}.contact th{text-align:left;background-color:#573081;color:#fff;padding:15px 10px;border-top:2px solid #d4d5d4;border-right:2px solid #d4d5d4;border-spacing:0}.contact th:last-child,.contact td:last-child{border-right:0}.contact td{color:#757575;padding:15px 10px;border-right:2px solid #d4d5d4;border-bottom:2px solid #d4d5d4;border-spacing:0}.contact td.odd-td{border-right:2px solid #d4d5d4}.elise-accordion .elise-accordion-header a{-webkit-box-shadow:inset 0 2px 0 grey;-moz-box-shadow:inset 0 2px 0 #d4d5d4;box-shadow:inset 0 2px 0 #d4d5d4}.elise-accordion .elise-accordion-content{border-top:2px solid rgba(0,0,0,0.1)}.contact-page-form .form-right,.contact-page-form .form-left{width:48%}.contact-page-form select,.contact-page-form textarea,form.contact-page-form input,form.contact-page-form input[type="text"],form.contact-page-form input[type="email"]{border:0;background:#fff !important;color:#616161 !important}.contact-page-form .form-left{float:left;padding-right:2%}.contact-page-form .form-right{float:right}.contact-page-form .last-name{width:48%;float:right;margin-top:-8px}.contact-page-form .first-name{width:48%;float:left}.contact-page-form .email{float:right;width:48%;margin-top:5px}.contact-page-form .TEL-NUM{float:left;width:48%;margin-top:10px}.contact-page-form .method-of-contact{width:100%;margin-top:10px}.method-of-contact{color:#616161 !important}.contact-page-form .wpcf7-form input,textarea,select{padding:11px 10px}.contact-page-form select{height:47px}select.wpcf7-form-control.wpcf7-select.method-of-contact{color:#b0b0b2 !important}.contact-page-form textarea{height:141px;color:#616161}.recentposts-a:hover .btn-link{background:#582c83}.blog-header .time a,.blog-header h3 a:hover{color:#573081}.expert-comment-block{color:#fff;background:#582c83;padding:35px}.expert-title{font-weight:bold;padding-bottom:15px;border-bottom:1px solid #fff}.expert-para{padding:15px 0 15px 0;border-bottom:1px solid #fff}.expert-link{padding-top:15px;color:#fff}.expert-link a{color:#fff}.sidebar-wrap form.wpcf7-form input[type="text"],.sidebar-wrap form.wpcf7-form input[type="email"]{background:#f8f8f8 !important;border:none}.sidebar-wrap form.wpcf7-form input{-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075)}.sidebar-social-img{padding-right:15px}.widget{margin-bottom:40px}#text-10{margin-top:-20px}.expert-comment-block{margin-bottom:30px}.menu-item-1595{padding:7px 0}@media(max-width:1200px){}.hanover-logo{border-right:0}.homeground-logo{padding-left:0}.page-id-1782 .title-wrap{display:none}.page-id-1892 .form{margin-bottom:50px}.page-id-1782 .form p,.page-id-1782 .form p{margin:19px 0}.page-id-1782 input,.page-id-1782 select{float:right;width:307px;height:38px}.page-id-1782 .wpcf7 input{margin:5px 0}p.title{margin-bottom:30px}input.amount{color:#fff;background:rgba(88,44,131,0.96)}body div.vc_custom_1440670722336{margin-left:159px !important;padding-top:0 !important}body div.vc_custom_1440733794249{background:#fff !important}.page-id-1780 .page-navigation{margin-bottom:60px}.form select#country{display:inline-block;width:65%;padding:11px 10px;height:38px}#countrySpan{margin-left:30px}#frequency{float:right;width:30%;margin-bottom:10px;padding:11px 10px;height:44px}.campaign-bg{background:#f8f8f8}.donate-thanks-container{margin-top:60px}
</style>
<script src='//25845.aumanaged.com/wp-content/cache/wpfc-minified/348f68f9d5fdb8ec9680046ca1160ce6/1468999079index.js' type="text/javascript"></script>
<!-- <script type='text/javascript' src='http://25845.aumanaged.com/wp-includes/js/jquery/jquery.js?ver=1.11.3'></script> -->
<!-- <script type='text/javascript' src='http://25845.aumanaged.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1'></script> -->
<!-- <script type='text/javascript' src='http://25845.aumanaged.com/wp-content/plugins/revslider/public/assets/js/jquery.themepunch.tools.min.js?ver=5.2.5'></script> -->
<!-- <script type='text/javascript' src='http://25845.aumanaged.com/wp-content/plugins/revslider/public/assets/js/jquery.themepunch.revolution.min.js?ver=5.2.5'></script> -->
<script type='text/javascript'>
/* <![CDATA[ */
var wc_add_to_cart_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/vacancy-tax-launch-housing-modelling\/?wc-ajax=%%endpoint%%","i18n_view_cart":"View Cart","cart_url":"http:\/\/25845.aumanaged.com\/cart\/","is_cart":"","cart_redirect_after_add":"no"};
/* ]]> */
</script>
<script src='//25845.aumanaged.com/wp-content/cache/wpfc-minified/3ef1b9f9968571d15927bf16332d7ce1/1468999079index.js' type="text/javascript"></script>
<!-- <script type='text/javascript' src='//25845.aumanaged.com/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.min.js?ver=2.5.5'></script> -->
<!-- <script type='text/javascript' src='http://25845.aumanaged.com/wp-content/plugins/js_composer/assets/js/vendors/woocommerce-add-to-cart.js?ver=4.9'></script> -->
<!-- <script type='text/javascript' src='http://25845.aumanaged.com/wp-content/themes/elise/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js?ver=2.6.2'></script> -->
<!-- <script type='text/javascript' src='http://25845.aumanaged.com/wp-content/themes/elise/js/vendor/jquery.jplayer.min.js?ver=2.6.0'></script> -->
<link rel='https://api.w.org/' href='http://25845.aumanaged.com/wp-json/' />
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://25845.aumanaged.com/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://25845.aumanaged.com/wp-includes/wlwmanifest.xml" /> 
<meta name="generator" content="WordPress 4.4.2" />
<meta name="generator" content="WooCommerce 2.5.5" />
<link rel='shortlink' href='http://25845.aumanaged.com/?p=3086' />
<link rel="alternate" type="application/json+oembed" href="http://25845.aumanaged.com/wp-json/oembed/1.0/embed?url=http%3A%2F%2F25845.aumanaged.com%2Fvacancy-tax-launch-housing-modelling%2F" />
<link rel="alternate" type="text/xml+oembed" href="http://25845.aumanaged.com/wp-json/oembed/1.0/embed?url=http%3A%2F%2F25845.aumanaged.com%2Fvacancy-tax-launch-housing-modelling%2F&#038;format=xml" />
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-36852863-9', 'auto');
ga('send', 'pageview');
</script><meta name="generator" content="Powered by Visual Composer - drag and drop page builder for WordPress."/>
<!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="http://25845.aumanaged.com/wp-content/plugins/js_composer/assets/css/vc_lte_ie9.min.css" media="screen"><![endif]--><!--[if IE  8]><link rel="stylesheet" type="text/css" href="http://25845.aumanaged.com/wp-content/plugins/js_composer/assets/css/vc-ie8.min.css" media="screen"><![endif]--><meta name="generator" content="Powered by Slider Revolution 5.2.5 - responsive, Mobile-Friendly Slider Plugin for WordPress with comfortable drag and drop interface." />
<noscript><style type="text/css"> .wpb_animate_when_almost_visible { opacity: 1; }</style></noscript>
</head>
<body class="single single-post postid-3086 single-format-standard header-standard  layout-wide wpb-js-composer js-comp-ver-4.9 vc_responsive">
<div class="layout-wrapper ">
<header>
<div id="navbar" class="nav-menu-left">
<div class="container">
<div class="row">
<div class="col-md-12 ">
<div class="search-bar search-bar-hidden"><span class="close-btn"><a href="#"><i class="fa fa-times"></i></a></span><form class="search" action="http://25845.aumanaged.com/" method="get">
<div class="input-group">
<input type="text" name="s" value="" placeholder="Type and press enter to search..." />
<span class="input-group-addon"><i class="fa fa-search"></i></span>
</div>
</form></div>
<!-- logotype container -->
<div class="logo">
<a href="http://25845.aumanaged.com">
<img src="http://25845.aumanaged.com/wp-content/uploads/2015/03/launch-housing.png" alt="">
</a>
</div><!-- logotype container end -->
<div class="nav-container">
<nav class="donate-menu">
<div class="menu-donate-mini-menu-container"><ul id="menu-donate-mini-menu" class="menu"><li id="menu-item-2379" class="done-now-menu-btn menu-item menu-item-type-post_type menu-item-object-page menu-item-2379"><a href="http://25845.aumanaged.com/donate/secure-pay/">Donate now <i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
<li id="menu-item-3016" class="need-help-menu-btn menu-item menu-item-type-post_type menu-item-object-page menu-item-3016"><a href="http://25845.aumanaged.com/need-help/">Need Help? <i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
</ul></div>            </nav><!-- donate menu -->
</div><!-- nav container -->
</div><!-- col md 12 -->
</div><!-- row -->
</div>
<div class="full-width-menu">
<div class="container">
<div class="row">
<div class="col-md-12">
<nav class="primary-menu">
<div class="search-bar search-bar-hidden"><span class="close-btn"><a href="#"><i class="fa fa-times"></i></a></span><form class="search" action="http://25845.aumanaged.com/" method="get">
<div class="input-group">
<input type="text" name="s" value="" placeholder="Type and press enter to search..." />
<span class="input-group-addon"><i class="fa fa-search"></i></span>
</div>
</form></div>
<nav class="main-nav hidden-xs hidden-sm hover-full">
<!-- <a href="#" class="secondary-nav-btn full-menu-btn">FULL </br>MENU<i class="fa fa-bars"></i></a> -->
<div class="menu-primary-menu-lh-container"><ul id="menu-primary-menu-lh" class="menu"><li id="menu-item-2251" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2251"><a href="http://25845.aumanaged.com/need-help/"><span>Need Help</span></a></li>
<li id="menu-item-2252" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2252"><a href="http://25845.aumanaged.com/housing-support/"><span>Housing &#038; Support</span></a></li>
<li id="menu-item-2253" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2253"><a href="http://25845.aumanaged.com/homeground-real-estate/"><span>Homeground Real Estate</span></a></li>
<li id="menu-item-2255" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2255"><a href="http://25845.aumanaged.com/research-advocacy/"><span>Homelessness, Research &#038; Advocacy</span></a></li>
<li id="menu-item-2383" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2383"><a href="http://25845.aumanaged.com/donate/secure-pay/"><span>Donate</span></a></li>
<li id="menu-item-2228" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2228"><a href="http://25845.aumanaged.com/get-involved/"><span>Get Involved</span></a></li>
<li id="menu-item-2344" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2344"><a href="http://25845.aumanaged.com/news-media/"><span>News &#038; Media</span></a></li>
<li id="menu-item-2218" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2218"><a href="http://25845.aumanaged.com/about-us/"><span>About Us</span></a></li>
<li id="menu-item-1230" class="contact-nav menu-item menu-item-type-post_type menu-item-object-page menu-item-1230"><a href="http://25845.aumanaged.com/contact-us/"><span>Contact Us</span></a></li>
</ul></div>                
</nav>
<nav class="secondary-nav">
<span class="nav-search"><a href="#"><i class="fa fa-search"></i></a></span>
<a href="#" class="secondary-nav-btn full-menu-btn"><span class="secondary-nav-text">FULL</br>MENU</span><i class="fa fa-bars"></i></a>
</nav>
</nav>
</div><!-- col -->
</div><!-- row -->
</div>
</div>
</div>
</header>
<!-- Page Title Container -->
<section class="page-title-container page-title-left">
<div class="container">
<div class="row">
<!-- Page Title -->
<div class="col-md-12">
<div class="page-title">
<div class="title-wrap">
<h1 class="elise-title">Vacancy tax Launch Housing modelling</h1>
</div>
</div>
</div><!-- Page Title End -->
</div>
</div>
</section><!-- Page Title Container End -->
<div class="page-navigation">
<div class="container">
<div class="row">
<div class="col-md-12">
<ol class="breadcrumb"><li><i class="fa fa-home"></i> <a href="http://25845.aumanaged.com">Home</a></li><li><a href="http://25845.aumanaged.com/category/latest-research/" rel="category tag">Latest Research</a></li><li>Blog Post</li></ol>
<ul class="buttons">
<li class="btn-next" title="Prev"></li>
<li class="btn-prev" title="Next"><a href="http://25845.aumanaged.com/submission-to-rta/" rel="prev"><i class="fa fa-chevron-right"></i></a></li>
<li class="btn-share"><a href="#" title="Share"><i class="fo icon-share-1"></i></a>
<ul class="pn-share-buttons social-icons">
<li class="facebook">
<a href="#" class="facebook-share">
<i class="fa fa-facebook"></i>
<i class="fa fa-facebook"></i>
</a>
</li>
<li class="twitter">
<a href="#" class="twitter-share">
<i class="fa fa-twitter"></i>
<i class="fa fa-twitter"></i>
</a>
</li>
<li class="google-plus">
<a href="#" class="google-plus-share">
<i class="fa fa-google-plus"></i>
<i class="fa fa-google-plus"></i>
</a>
</li>
<li class="pinterest">
<a href="#" class="pinterest-share">
<i class="fa fa-pinterest"></i>
<i class="fa fa-pinterest"></i>
</a>
</li>
</ul>
</li>
</ul>
</div>
</div>
</div>
</div> <!-- page navigation end -->
<div class="content sidebar-right section">
<div class="container">
<div class="row">
<div class="col-md-9 sidebar-content">
<!-- Blog Post -->
<article id="post-3086" class="post-3086 post type-post status-publish format-standard hentry category-latest-research">
<div class="bc-wrap">
<!-- endif header -->
<div class="entry-meta">
Posted on July 18, 2016 at 6:13 am  </div>
<div class="blog-content">
<p><a href="http://25845.aumanaged.com/wp-content/uploads/2016/07/Vacancy-tax-Launch-Housing-modelling.pdf" onclick="__gaTracker('send', 'event', 'download', 'http://25845.aumanaged.com/wp-content/uploads/2016/07/Vacancy-tax-Launch-Housing-modelling.pdf');" target="_blank">Vacancy tax Launch Housing modelling PDF</a></p>
</div>
</div>
</article><!-- Blog Post End -->
<!-- Displaying post pagination links in case we have multiple page posts -->
<div class="article-addons clearfix">
<div class="article-share">
<ul class="social-icons">
<li class="facebook">
<a href="#" class="facebook-share">
<i class="fa fa-facebook"></i>
<i class="fa fa-facebook"></i>
</a>
</li>
<li class="twitter">
<a href="#" class="twitter-share">
<i class="fa fa-twitter"></i>
<i class="fa fa-twitter"></i>
</a>
</li>
<li class="google-plus">
<a href="#" class="google-plus-share">
<i class="fa fa-google-plus"></i>
<i class="fa fa-google-plus"></i>
</a>
</li>
<li class="pinterest">
<a href="#" class="pinterest-share">
<i class="fa fa-pinterest"></i>
<i class="fa fa-pinterest"></i>
</a>
</li>
</ul>
<span>Share</span>
</div>
</div>
<div class="post-author">
<small>About the Author</small>
<div class="avatar">
<img alt='' src='http://2.gravatar.com/avatar/2ddc6e825746eeb0727b197ec3517076?s=80&#038;d=mm&#038;r=g' srcset='http://2.gravatar.com/avatar/2ddc6e825746eeb0727b197ec3517076?s=160&amp;d=mm&amp;r=g 2x' class='avatar avatar-80 photo' height='80' width='80' />                  </div>
<div class="description">
<span class="author-name">
<a href="http://25845.aumanaged.com/author/admin/" title="Posts by admin" rel="author">admin</a>                    </span>
<p></p>
</div>
</div>
</div>
<aside class="col-md-3 sidebar-wrap">
<div id="text-8" class="widget widget_text">			<div class="textwidget"><div class="expert-comment-block">
<div class="expert-title">FOR EXPERT COMMENTS</div>
<div class="expert-para">For expert comments on issues regarding homelessness, please contact Jasmine Fiegehen, Communications and Marketing Manager <a class="white" href="mailto:jasmine.fiegehen@launchhousing.org.au"> here via email</a> or phone 03 9695 8330 or 0419 347 114</div></div>
</div><div id="text-9" class="widget widget_text">			<div class="textwidget"><p><b>Sign up for our newsletter.</b></p>
<p>Stay up to date with the latest news regarding homelessness and Launch Housing’s work.</p>
<div role="form" class="wpcf7" id="wpcf7-f1087-o1" lang="en-US" dir="ltr">
<div class="screen-reader-response"></div>
<form action="/vacancy-tax-launch-housing-modelling/#wpcf7-f1087-o1" method="post" class="wpcf7-form" novalidate="novalidate">
<div style="display: none;">
<input type="hidden" name="_wpcf7" value="1087" />
<input type="hidden" name="_wpcf7_version" value="4.4.2" />
<input type="hidden" name="_wpcf7_locale" value="en_US" />
<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f1087-o1" />
<input type="hidden" name="_wpnonce" value="9a8de3ff1c" />
</div>
<p><span class="wpcf7-form-control-wrap first-name"><input type="text" name="first-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="First Name" /></span></p>
<p><span class="wpcf7-form-control-wrap last-name"><input type="text" name="last-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Last Name" /></span></p>
<p><span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Email" /></span> </p>
<p><input type="submit" value="SUBSCRIBE" class="wpcf7-form-control wpcf7-submit" /></p>
<div class="wpcf7-response-output wpcf7-display-none"></div></form></div></div>
</div><div id="text-10" class="widget widget_text">			<div class="textwidget"><p><b>Follow us</b></p>
<p>Get the breaking news regarding homelessness direct to your inbox.</p>
<p>
<a href="http://www.facebook.com/launchhousing" onclick="__gaTracker('send', 'event', 'outbound-widget', 'http://www.facebook.com/launchhousing', '');"><img src="http://25845.aumanaged.com/wp-content/uploads/2015/06/SOCIAL_ICON_FACEBOOK_PURPLE_68px2.png"  alt="facebook" /></a>
<a href="https://www.linkedin.com/company/launch-housing" onclick="__gaTracker('send', 'event', 'outbound-widget', 'https://www.linkedin.com/company/launch-housing', '');"><img src="http://25845.aumanaged.com/wp-content/uploads/2015/06/SOCIAL_ICON_LINKEDIN_PURPLE_68px2.png"  alt="linkedin" /></a>
<a href="https://www.youtube.com/channel/UC4U0AgJ2G84ufJe0gGz18cQ" onclick="__gaTracker('send', 'event', 'outbound-widget', 'https://www.youtube.com/channel/UC4U0AgJ2G84ufJe0gGz18cQ', '');"><img src="http://25845.aumanaged.com/wp-content/uploads/2015/06/SOCIAL_ICON_YOUTUBE_PURPLE_68px1.png"  alt="youtube"/></a>
<a href="https://twitter.com/LaunchHousing" onclick="__gaTracker('send', 'event', 'outbound-widget', 'https://twitter.com/LaunchHousing', '');"><img src="http://25845.aumanaged.com/wp-content/uploads/2015/06/SOCIAL_ICON_TWITTER_PURPLE_68px2.png" alt="twitter" /></a>
</p></div>
</div><div id="return_to_parent_widget-2" class="widget widget_return_to_parent_widget"></div>
</aside>
</div>
</div>
</div>
 
<footer>
<!-- Dynamic news -->
<!--     <div class="vc_row wpb_row vc_row_stcontent vc_bg_standard vc_row-fluid vc_custom_1468900025826">
<div class="vc_container_inner container ">
<div class="row">
<div class="wpb_column vc_column_container vc_col-md-3">
<div class="vc_column-inner ">
<div class="wpb_wrapper">
<div class="elise-shortcode-counter counter-left  ">
<p>Date</p>
</div>
</div>
</div>
</div>
<div class="wpb_column vc_column_container vc_col-md-3">
<div class="vc_column-inner ">
<div class="wpb_wrapper">
<div class="elise-shortcode-counter counter-left  ">
</div>
</div>
</div>
</div>
<div class="wpb_column vc_column_container vc_col-md-3">
<div class="vc_column-inner ">
<div class="wpb_wrapper">
<div class="elise-shortcode-counter counter-left  ">
<p>DEC 8</p>
</div>
</div>
</div>
</div>
<div class="wpb_column vc_column_container vc_col-md-3">
<div class="vc_column-inner ">
<div class="wpb_wrapper">
<div class="elise-shortcode-counter counter-left  ">
<p>DEC 8</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div> -->
<!-- end dynamic news -->
<!-- Footer - Widgets Area -->
<section id="footer-widget-area">
<div class="container">
<div class="row">
<div class="col-md-4">
<div id="text-2" class="widget widget_text">			<div class="textwidget"><p class="heavy">Launch Housing</p>
<p>We are an independent housing and homelessness organisation, formed by the merger of two leading Melbourne based organisations, Hanover and HomeGround Services.  To become a supporter, volunteer, work with us, find out more about our research, or contact us please visit:</p>
<p><a href="https://www.hanover.org.au/" onclick="__gaTracker('send', 'event', 'outbound-widget', 'https://www.hanover.org.au/', '');"><img class="hanover-logo" src="http://25845.aumanaged.com/wp-content/uploads/2015/06/hanover-white1.png" alt="Hanover, homeground logos" /></a><a href="http://www.homeground.org.au/" onclick="__gaTracker('send', 'event', 'outbound-widget', 'http://www.homeground.org.au/', '');"><img class="homeground-logo" src="http://25845.aumanaged.com/wp-content/uploads/2015/06/homeground-white.png" alt="Homeground logo" /></a></p>
<p>ABN 20 605 113 595 | ACN 605 113 595</p>
</div>
</div>     
</div>
<div class="col-md-4">
<div id="text-5" class="widget widget_text">			<div class="textwidget"><p class="heavy">Follow Us</p>
<p class="footer-social">
<a href="http://www.facebook.com/launchhousing" onclick="__gaTracker('send', 'event', 'outbound-widget', 'http://www.facebook.com/launchhousing', '');"><img src="http://25845.aumanaged.com/wp-content/uploads/2015/06/SOCIAL_ICON_FACEBOOK_WHITE_68px1.png" alt="facebook" /></a>
<a href="https://www.linkedin.com/company/launch-housing" onclick="__gaTracker('send', 'event', 'outbound-widget', 'https://www.linkedin.com/company/launch-housing', '');"><img src="http://25845.aumanaged.com/wp-content/uploads/2015/06/SOCIAL_ICON_LINKEDIN_WHITE_68px1.png" alt="linkedin" /></a>
<a href="https://www.youtube.com/channel/UC4U0AgJ2G84ufJe0gGz18cQ" onclick="__gaTracker('send', 'event', 'outbound-widget', 'https://www.youtube.com/channel/UC4U0AgJ2G84ufJe0gGz18cQ', '');"><img src="http://25845.aumanaged.com/wp-content/uploads/2015/06/SOCIAL_ICON_YOUTUBE_WHITE_68px1.png" alt="youtube" /></a>
<a href="https://twitter.com/LaunchHousing" onclick="__gaTracker('send', 'event', 'outbound-widget', 'https://twitter.com/LaunchHousing', '');"><img src="http://25845.aumanaged.com/wp-content/uploads/2015/06/SOCIAL_ICON_TWITTER_WHITE_68px1.png" alt="twitter" /></a>
</p></div>
</div>     
</div>
<div class="col-md-4">
<div id="text-7" class="widget widget_text"><h6>Sign up to our newsletter</h6>			<div class="textwidget"><p>Stay up to date with our latest news.</p>
<div role="form" class="wpcf7" id="wpcf7-f1087-o2" lang="en-US" dir="ltr">
<div class="screen-reader-response"></div>
<form action="/vacancy-tax-launch-housing-modelling/#wpcf7-f1087-o2" method="post" class="wpcf7-form" novalidate="novalidate">
<div style="display: none;">
<input type="hidden" name="_wpcf7" value="1087" />
<input type="hidden" name="_wpcf7_version" value="4.4.2" />
<input type="hidden" name="_wpcf7_locale" value="en_US" />
<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f1087-o2" />
<input type="hidden" name="_wpnonce" value="9a8de3ff1c" />
</div>
<p><span class="wpcf7-form-control-wrap first-name"><input type="text" name="first-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="First Name" /></span></p>
<p><span class="wpcf7-form-control-wrap last-name"><input type="text" name="last-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Last Name" /></span></p>
<p><span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Email" /></span> </p>
<p><input type="submit" value="SUBSCRIBE" class="wpcf7-form-control wpcf7-submit" /></p>
<div class="wpcf7-response-output wpcf7-display-none"></div></form></div></div>
</div>  
</div>
</div>
</div>
</section><!-- Footer - Widgets Area End -->
<!-- Footer - Copyrights -->
<div id="copyrights">
<div class="container">
<div class="row">
<div class="col-md-6">
<p>© Launch Housing. All rights reserved</p>          </div>
<div class="col-md-6">
<div class="menu-copyrights-footer-menu-container"><ul id="menu-copyrights-footer-menu" class="menu"><li id="menu-item-1400" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1400"><a href="http://25845.aumanaged.com/privacy-policy/">Privacy Policy</a></li>
<li id="menu-item-1088" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1088"><a href="#">Site Map</a></li>
<li id="menu-item-871" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-871"><a href="http://docs.loprd.pl/elise/" onclick="__gaTracker('send', 'event', 'outbound-widget', 'http://docs.loprd.pl/elise/', 'Help');">Help</a></li>
</ul></div>          </div>
</div>
</div>
</div><!-- Footer - Copyrights End -->
</footer>
</div><!-- layout wrapper end -->
<div class="secondary-navigation sidebar-navigation">
<div class="sec-nav-overlay"></div>
<div class="sidebar-nav-wrap">
<div class="sec-nav-close-btn"><a href="#"></a></div>
<!-- logotype container -->
<div class="sidebar-nav-logo">
<a href="http://25845.aumanaged.com">
<img src="http://25845.aumanaged.com/wp-content/uploads/2016/03/logo-small.png" alt="">
</a>
</div><!-- logotype container end -->
<nav class="sidebar-nav">
<div class="menu-hanburger-menu-container"><ul id="menu-hanburger-menu" class="menu"><li id="menu-item-2243" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2243"><a href="http://25845.aumanaged.com/need-help/"><span>Need Help</span></a></li>
<li id="menu-item-2244" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2244"><a href="http://25845.aumanaged.com/housing-support/"><span>Housing &#038; Support</span></a></li>
<li id="menu-item-2245" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2245"><a href="http://25845.aumanaged.com/homeground-real-estate/"><span>Homeground Real Estate</span></a></li>
<li id="menu-item-2900" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2900"><a href="http://25845.aumanaged.com/research-advocacy/"><span>Homelessness, Research &#038; Advocacy</span></a></li>
<li id="menu-item-2903" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2903"><a href="http://25845.aumanaged.com/donate/"><span>Donate</span></a></li>
<li id="menu-item-2904" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2904"><a href="http://25845.aumanaged.com/get-involved/"><span>Get Involved</span></a></li>
<li id="menu-item-2901" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2901"><a href="http://25845.aumanaged.com/about-us/"><span>About Us</span></a></li>
<li id="menu-item-2905" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2905"><a href="http://25845.aumanaged.com/news-media/"><span>News &#038; Media</span></a></li>
<li id="menu-item-2902" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2902"><a href="http://25845.aumanaged.com/contact-us/"><span>Contact Us</span></a></li>
</ul></div>		</nav>
<div class="sidebar-nav-widgets">
</div>
</div>
</div>
<div class="back-to-top btt-hidden hidden-xs hidden-sm">
<a href="#" class="back-to-top-btn" title="Back to Top">
<i class="fa fa-chevron-up"></i>
</a>
</div>
<script type='text/javascript' src='http://25845.aumanaged.com/wp-content/plugins/contact-form-7/includes/js/jquery.form.min.js?ver=3.51.0-2014.06.20'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var _wpcf7 = {"loaderUrl":"http:\/\/25845.aumanaged.com\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif","recaptchaEmpty":"Please verify that you are not a robot.","sending":"Sending ..."};
/* ]]> */
</script>
<script type='text/javascript' src='http://25845.aumanaged.com/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=4.4.2'></script>
<script type='text/javascript' src='//25845.aumanaged.com/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min.js?ver=2.70'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var woocommerce_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/vacancy-tax-launch-housing-modelling\/?wc-ajax=%%endpoint%%"};
/* ]]> */
</script>
<script type='text/javascript' src='//25845.aumanaged.com/wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min.js?ver=2.5.5'></script>
<script type='text/javascript' src='//25845.aumanaged.com/wp-content/plugins/woocommerce/assets/js/jquery-cookie/jquery.cookie.min.js?ver=1.4.1'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var wc_cart_fragments_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/vacancy-tax-launch-housing-modelling\/?wc-ajax=%%endpoint%%","fragment_name":"wc_fragments"};
/* ]]> */
</script>
<script type='text/javascript' src='//25845.aumanaged.com/wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.min.js?ver=2.5.5'></script>
<script type='text/javascript' src='http://25845.aumanaged.com/wp-content/themes/elise/js/elise_scripts.js?ver=4.4.2'></script>
<script type='text/javascript' src='http://25845.aumanaged.com/wp-content/themes/elise/js/main.js?ver=4.4.2'></script>
<script type='text/javascript' src='http://25845.aumanaged.com/wp-content/themes/elise/js/vendor/smoothscroll.js?ver=1.2.1'></script>
<script type='text/javascript' src='http://25845.aumanaged.com/wp-includes/js/wp-embed.min.js?ver=4.4.2'></script>
</body>
</html><!-- WP Fastest Cache file was created in 2.30762600899 seconds, on 20-07-16 7:19:22 -->