.highlight-accent {
	background: #8dc73f;
	margin: 0;
	padding: 5px;
	color: #fff;
	display: inline-block;
}

.highlight-dark {
	background: #000;
	margin: 0;
	padding: 5px;
	color: #fff;
	display: inline-block;
}
.highlight-light {
	background: #fff
	margin: 0;
	padding: 5px;
	color: #252525;
	display: inline-block;
}
.highlight-grey {
	background: grey;
	margin: 0;
	padding: 5px;
	color: #fff;
	display: inline-block;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
}

sm2all {
	font: 13px 'Open Sans';
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: bold;
}