

// BASIC VARIABLES
$font-family: 'Raleway', Arial, sans-serif;
$secondary-font-family: 'Raleway', Arial, sans-serif;
$font-size: 14px;
$line-height: 24px;
$font-weight: 400;

$margin-bottom: 55px;

$container-width: 1176px;


//COLORS
$color: #747474;
$color-dark: #262626;
$accent-color: #8dc73f;
$secondary-accent-color: #2C77C8;

//NAVBAR
$navbar-height: 90px;
$nav-search-color: #acacac;

// Sticky header height
$sticky-header-height: 60px;

$top-bar-height: 40px;
$padding-icons: 15px;

// Title bar
$title-padding-top: 45px;
$title-padding-bottom: 45px;


// Portfolio items GAP
$portfolio-items-gap: 30px;

$sidebar-padding: 45px;

$icon-shadow-height: 80px;

// Slick slider
$arrow-size: 40px;

$seconary-nav-sidebar-width: 285px;

//Widgets 
$widget-heading-color: #656565;
$widget-footer-heading-color: #999999;

//Footer 
$footer-widget-background: #252525;
$footer-widget-text-color: #e6e6e6;

$footer-copyrights-background: #2d2d2d;
$footer-copyrights-text-color: #999999;
$footer-copyrights-font-size: 12px;


// Layout vars 
$layout-boxed-width: $container-width + 120;

$layout-bordered-border-size: 20px;
$layout-bordered-width: $container-width + 60 + $layout-bordered-border-size;