/* DONATION */

.main-column {
	width:100%;
	padding: 0em;
}

.donation {
	display: block;
	width: 40%;
	-webkit-box-shadow: 0 0 1em rgba(0,0,0,0.8);
	-moz-box-shadow: 0 0 1em rgba(0,0,0,0.8);
	box-shadow: 0 0 1em rgba(0,0,0,0.8);
	x-min-height: 40em;
	padding: 0em;
	margin-top: 6em;
	margin-left: 10%
}

div.donation-form {
	display: block;
	background-color: rgba(255, 255, 255, 0.4);
	x-min-height: 40em ;
	width: 100%;
}

.donation-form #donate {
	width:90%;
	padding: 0 5%;
}

#donationform label {
	color: #616168;
}

.donation-form h2 {
	background-color: #000;
	text-align: center;
	color: #fff;
	font-size: 4em;
	padding: .15em 0 .1em;
	border-top: none;
}

.form-row {
	display:block;
	float:left;
	clear:both;
	width:100%;
	height:auto;
	vertical-align: middle;
	margin-bottom: 10px;
}

.form-row.sign-up {
	margin-top: 10px;
}

/* FORM STYLES */

 div.bodytext {
	text-align: left;
	margin-bottom: 0;
}

input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], #five.wrapper input[type="time"], 
input[type="week"], #five.wrapper input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"], 
.uneditable-input {
	float:left;
	display: inline-block;
	height: 20px;
	width: 65%;
	padding: 4px 6px;
	margin: 0px;
	font-size: 14px;
	line-height: 20px;
	color: #333;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	vertical-align: middle;
	box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.08);
	transition: border linear .2s,box-shadow linear .2s;
	-moz-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.08);
}

#donationform #firstName, #TB #donationform #lastName, #TB #donationform #email, #TB #donationform #amount {
	float:right;
}

select {
	height:30px;
}

.form select#country {
	width:70%;
}

 textarea:focus,
 input[type="text"]:focus, 
 input[type="password"]:focus,
 input[type="datetime"]:focus, 
 input[type="datetime-local"]:focus,
 input[type="date"]:focus, 
 input[type="month"]:focus, 
 input[type="time"]:focus,
 input[type="week"]:focus, 
 input[type="number"]:focus,
 input[type="email"]:focus,
 input[type="url"]:focus, 
 input[type="search"]:focus,
 input[type="tel"]:focus,
 input[type="color"]:focus,
.uneditable-input:focus {
   	background-color: #fff;
    border-color: rgb(175, 173, 170);
    outline: 0;
    outline: thin dotted \9;
    -webkit-box-shadow: inset 0 1px 1px rgba(51, 182, 241, 0.53), 0 0 8px rgba(82, 168, 236, .6);
    -moz-box-shadow: inset 0 1px 1px rgba(51, 182, 241, 0.53), 0 0 8px rgba(82, 168, 236, .6);
    box-shadow: inset 0 1px 1px rgba(51, 182, 241, 0.53), 0 0 8px rgba(82, 168, 236, .6);
}

.donation label {
	clear:both;
	float:left;
	display:inline-block;
	width:30%;
	color:#616168;
	font-weight: bold;
	margin-top:10px;
}

 p.newsletter {
	float:left;
	color:#666; 
	padding-top: 8px;
	margin-right: 10px;
}

 select#subscribe {
	width:60px;
}


 #currency {
	width:38%;
	margin-bottom:10px;
	float:left;
}

 select#frequency {
	float: right;
	width:30%;
	margin-bottom: 10px;
	height: 41px !important;
}

 p.newsletter,  #donationform p,  #errors, #page #five.wrapper #errors ul,   #confirm {
	font-size: 1em;
}

 #errors {
	color:red;
}


#donationform img {
	margin: 0;
}

/*Amount Combobox*/

#donate #combobox {
	display:inline-block;
	position:relative;
	float:left;
	font-size:1em;
	width:30%;
	margin-bottom: 10px;
}

#donate #predefinedamount
{
	-moz-box-shadow:#999 1px 1px 3px;
	-webkit-box-shadow:#999 1px 1px 3px;
	box-shadow:#999 1px 1px 3px;
	background-color:#F4F3EC;
	border:1px solid #005E7B;
	left:0px;
	margin:0;
	position:absolute;
	top:0px;
	width:90%;
}

#donate #predefinedamount li
{
	background:none;
	list-style-type:none;
	padding:0;
}

#donate #predefinedamount li a
{
	border-bottom:1px dotted #CCC;
	display:block;
	font-size:80%;
	font-weight:bold;
	padding:5px;
	text-decoration:none;
}

#donate #predefinedamount li.last a
{
	border:none;
}

#donate #predefinedamount li a:hover
{
	background:#005E7B;
	color:#FFF;
}

/* FB login */
#TB .fb-login-button {
  display:block;
  float:right;
  height: 25px;
  background-color: red;
  
}
#TB .fblogin div {
  background: #3b5998 url('http://virunga.panda.org/static/images/facebook-icon.png?4cd3ff12d0b1') 5% 100% no-repeat;
  height: 37px;
  line-height: 37px;
  padding-left: 37px;
  display: block;
  pointer-events: all;
  cursor: pointer;
  position: relative;
  padding-right: 10px;
  font-style: italic;
  font-size: 0.9em;
  float: right;
}
#TB .fblogin div:hover {
  background-color: #4c70ba;
}
#TB .fblogin div.loggedin {
  opacity: 0.7;
}
#TB .home .fblogin div {
  display: block;
}

/* Validation */
#donate input.error,
#donate select.error
{
	border-color:#EA0000 !important;
}




@media all and (max-width:970px) {
	#page #five.wrapper nav a { font: normal 1.7em/2.5 'WWFRegular','Helvetica Neue',Helvetica,Arial,sans-serif; }
	
	#page #five.wrapper .inner {
		width: 98%;
	}
	
	#page #five.wrapper #headline-block {
		background: #f5f5f5 url('https://s3.amazonaws.com/wwfassets/donations/tiger-1200x600_257812.jpg') no-repeat 30% top fixed;
		background-size: cover;
	}
	
}


@media only screen and (min-width: 701px) and (max-width: 800px){
	#TB #donationform #firstName, #TB #donationform #lastName, #TB #donationform #email {
	float:left;
	width:100%;
	}
}

@media all and (max-width:700px)	{
	#access
	.menu-header,#colophon,#branding,#main,#wrapper,#header-wrapper,#home-banner,#container,.page-template-norighthandsidebar-#page #five.wrapper
	#container,.one-column
	#content,#home-row-1,#film,#signup,#share,#social-footer-wrapper,#footer-widget-area #first,#footer-widget-area #second,#footer-widget-area
	#third,#news,body#page #five.wrapper
	#container,#sub-nav,#sub-nav ul li,#main #sub-nav
	ul,#content_wrapper,#page #five.wrapper .two-columns
	.column,#page #five.wrapper .donate
	.donate-section-form { width: 100%; }
	#header-full-width { background-image: none; }
	
	#site-title
	{
		height: 71px;
		width: 50px;
		background-size: 100% 100%;
		position: static;
	}

	#page #five.wrapper #headline-block {
		background-position: 30%;
	}

	#page #five.wrapper #headline-block .headline, #page #five.wrapper #headline-block .donation {
		width:98%;
		margin-left: 0%;
	}

	#page #five.wrapper #headline-block .donation {
		margin-top: 1em; 
	}
	
	#page #five.wrapper #headline-block h1 {
		font-size:6em;
		width:35%;
		float:left;
	}
	#page #five.wrapper .headline p{
		font-size: 2em;
		padding:1em;
		float:right;
		width:50%;
		margin-top: 1em;
	}

	#page #five.wrapper h2 {
		font-size: 3em;
	}

	#page #five.wrapper h3 {
		font-size: 2em;
	}

	#page #five.wrapper .two-columns .column {
		width: 99%;
	}

	#five.wrapper img {
		width:50%;
	}
}

#contactForm input {
	    -moz-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
}

select.card_exp_year {
    margin-right: 10px;
}

select.card_exp_year, select.card_exp_year {
    width: 110px !important;
}