/*
 Theme Name: Elise Child
 Template: elise
*/

@import url("../elise/style.css");

/* ----------------- */
/* TABLE OF CONTENTS */
/* ----------------- */
/*
1. GENERAL THEME EDITS
2. NAVIGATION MENUS / DROPDOWNS
3. SIDEBAR ITEMS / WIDGETS
4. VC COMPONENT EDITS / ELISE
5. PAGE LAYOUT EDITS

6. MEDIA QUERIES

/* Theme customization starts here
-------------------------------------------------------------- */


/* ---------- 1. GENERAL THEME EDITS -------*/

header {
    margin-bottom: 54px;
}

.section {
    padding-top: 30px;
}

.wpb_button,
.wpb_content_element,
ul.wpb_thumbnails-fluid>li {
    margin-bottom: 20px !important;
}

input,
input[type="submit"],
textarea,
select {
    border-radius: 0;
}

/*.p1 {
    font-size: 12px;
}
*/

/* removes dash before li tags */
.wpb_text_column ul li::before {
    display: none;
}

.wpb_text_column ul {
    list-style: initial;
    margin: initial;
    padding: 0 0 0 40px;
    margin-bottom: 15px;
}

.no-results-title {
    margin-top: 55px;
}

.elise-title {
    /*color: #582c83;*/
    font-family: 'DINRoundWeb-Black', serif;
    font-size: 42px;
    line-height: 42px;
}

.blog-header h3 {
    font-size: 26px;
}


/* ---------- Small donation from move CSS -------*/


/*.form-row #amount.required {
    width: 31%;
    float: right;
    margin-right: 7px;
}*/

.form-row #currency {
    float: right;
    width: 32%;
    margin-bottom: 10px;
    height: 44px;
}

.form-row #frequency {
    width: 65%;
    height: 44px;
}

div#donationform {
    margin-left: 18px;
}

div#donationform label,
div#donationform select {
    color: #616161;
}

div.donation-form {
    background-color: rgba(255, 255, 255, 0.4);
}

select.card_exp_year,
select.card_exp_year {
    width: 110px !important;
}

.page-id-1782 input.submit {
    width: 100%;
}

.page-id-1780 .vc_custom_1440670735381 {
    padding-left: none !important;
}

.blog-grid .bc-wrap {
    padding: 25px;
}

.blog-grid {
    border: 1px solid rgba(0, 0, 0, 0.1);
}


/* ---------- 2. NAVIGATION MENUS ----------- */

.full-width-menu {
    padding: 10px 0;
}


/*.secondary-nav-btn {
	float:right;
}*/

.main-nav {
    width: 100%;
    display: inline;
}

.main-nav ul li:not(.nav-icons) {
    float: left;
}

.menu-primary-menu-lh-1 ul li {
    display: table;
}

.nav-search a {
    /*    position: absolute !important;
    left: -106px;
    width: 50px;*/
    color: #fff;
    margin-right: 5px;
}

.search-bar {
    padding-top: 15px;
    padding-bottom: 20px;
}

.primary-menu {
    /*padding-right: 122px;*/
}

.current-menu-item:not(.nav-icons):not(.need-help-menu-btn):not(.done-now-menu-btn) > a {
    color: #fff !important;
}

.main-nav ul li:not(.nav-icons) a {
    line-height: 17px !important;
    height: 100%;
    display: table;
}

.main-nav ul li:not(.nav-icons) a span {
    display: table-cell;
    vertical-align: middle;
}

.main-nav ul li:not(.nav-icons).menu-item-2251 a {
    padding-left: 0;
}

.header-standard .nav-menu-left .nav-icons {
    top: 3px;
    right: 26px;
}

.full-menu-btn {
    /*right: 14px;*/
    /*position: absolute;*/
    /*top: 8px;*/
    line-height: 0px;
    color: #fff;
    /*float: right;*/
    display: inline-block;
    /*	margin-top: 8px;
	margin-bottom: 8px;*/
}

.fa-search {
    font-size: 24px;
}

.fa-bars {
    font-size: 29px;
    padding-left: 5px;
    line-height: 17px;
}


/*.content {
	margin-top: 42px;
}*/

.full-width-menu {
    background: #2a2c29;
}

div.sidebar-nav-logo {
    margin-bottom: 19px;
    margin-top: 37px;
}


.main-nav ul li:not(.nav-icons) {
    max-width: 106px;
    line-height: 19px;
    text-align: center;
    height: 30px;
    border-right: 1px solid #777777;
}

.main-nav ul li.menu-item-1230,
.main-nav ul li.nav-search {
    border-right: 0;
}

#menu-item-2255 {
    max-width: 160px;
}


/*.search-bar {
    line-height: 15px;
}*/

.search-bar-visible {
    background: #2a2c29;
}

.secondary-nav {
    float: right;
    margin-top: 8px;
    /*margin-bottom: 8px;*/
}

.secondary-nav a:hover {
    color: #fff;
}

/* ---------- search and filter -------*/

.searchcat-mobile {
    display: none;
}

.searchcat-large {
    display: block;
}

.panel-title {
    font-size: 14px;
    color: #262626;
    font-weight: 600;
}

.searchandfilter {
    position: relative;
    font-weight: 600;
}

.searchandfilter h4 {
    display: inline-block;
    margin-right: 10px;
    font-size: 15px;
    margin-top: 0;
    font-weight: 600;
}

.searchandfilter input[type="submit"] {
    max-height: 30px;
    margin-left: 10px;
    margin-top: 0;
    padding: 4px 30px;
    position: absolute;
    top: 0;
    right: 0;
    text-transform: uppercase;
    border-radius: 0;
    font-weight: 600;
}


/*.searchandfilter .btn-wrapper:after {
    content: "\f0da";
    font-family: "FontAwesome";
    pointer-events: none;
    right: 10px;
    top: 4px;
    color: #fff;
}*/

.searchandfilter select {
    height: 30px;
    background-color: #F0F0F0;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    padding: 0 20px 0 10px;
    -moz-appearance: none;
    -webkit-appearance: none;
    position: relative;
    color: #B0B0B0;
}

.searchandfilter select::-ms-expand {
    display: none;
}

.searchandfilter .select-wrapper {
    display: inline-block;
    position: relative;
}

.searchandfilter .select-wrapper:after {
    content: "\f0d7";
    color: #B0B0B0;
    font-family: "FontAwesome";
    /*height: 0;
    width: 0;*/
    /*border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #B0B0B0;*/
    position: absolute;
    right: 10px;
    /*top: 12px;*/
    top: 4px;
    pointer-events: none;
}

.searchandfilter ul {
    padding-left: 0;
    margin-bottom: 0;
}

/* ---------- donate menu ------------ */

.done-now-menu-btn a {
    /*background: url(/wp-content/uploads/2016/04/donare-now-1.png);*/
    /*height: 36px;*/
    /*width: 132px;*/
    /*text-indent: -9999px;*/
    /*padding: 10px 101px 10px 26px;*/
    margin-right: 7px;
    color: #fff;
    border: 2px solid #fff;
}

.done-now-menu-btn a:hover,
.done-now-menu-btn a:focus {
    color: #fff;
}

.need-help-menu-btn a {
    /*background: url(/wp-content/uploads/2016/04/need-help.png);*/
    /*height: 36px;*/
    /*width: 137px;*/
    /*padding: 10px 102px 10px 26px;*/
    color: #E03C31;
    border: 2px solid #E03C31;
    background-color: #fff;
}

.need-help-menu-btn a:hover,
.need-help-menu-btn a:focus {
    color: #E23C31;
}

.done-now-menu-btn a,
.need-help-menu-btn a {
    font-family: 'DINRoundWeb-Black', serif;
    padding: 3px 30px;
    border-radius: 10px;
    display: inline-block;
}


/*.need-help-menu-btn a span,
.done-now-menu-btn a span {
    display: none;
}*/


/*.done-now-menu-btn {
    height: 36px;
    width: 132px;
}

.need-help-menu-btn {
    height: 36px;
    width: 138px;

}*/

.donate-menu {
    float: right;
}

.donate-menu ul {
    padding-left: 0;
}

.donate-menu li {
    list-style: none;
    display: inline-block;
}

.done-now-menu-btn a {
    margin-right: 0;
}

#menu-donate-mini-menu {
    margin-top: 45px;
}

#menu-donate-mini-menu .fa-chevron-right {
    display: none;
}

#menu-donate-mini-menu a:hover,
#menu-donate-mini-menu a:focus {
    text-decoration: none;
}

.arrow_box2 {
    position: relative;
    background: rgba(88, 44, 131, 0.9);
    padding: 7px 10px 7px 15px;
    border-radius: 3px;
}

#menu-item-2212 .arrow_box2 {
    padding-left: 28px;
}

#menu-item-2379 .arrow_box2 {
    border: 2px solid #fff;
    color: #fff;
    margin-right: 0;
}

#menu-item-2212 .arrow_box2 {
    border: 2px solid #e03c31;
    color: #e03c31;
}

.arrow_box2:after,
.arrow_box2:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box2:after {
    border-color: rgba(213, 213, 213, 0);
    border-left-color: #582c83;
    border-width: 14px;
    margin-top: -14px;
}

.arrow_box2:before {
    border-color: rgba(255, 255, 255, 0);
    border-left-color: #fff;
    border-width: 17px;
    margin-top: -17px;
}

#menu-item-2212 .arrow_box2:before {
    border-left-color: #e03c31;
    color: #e03c31;
}


/* ---------- arrow 2 -------------- */

#menu-item-2212 .arrow_box {
    position: relative;
    background: rgba(88, 44, 131, 0.9);
    padding: 7px 10px 7px 15px;
    border-radius: 3px;
}

#menu-item-2212 .arrow_box {
    color: #fff;
}

#menu-item-2212 .arrow_box:after,
#menu-item-2212 .arrow_box:before {
    left: 15px;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    z-index: 999;
}

#menu-item-2212 .arrow_box:after {
    border-color: rgba(213, 213, 213, 0);
    border-left-color: #582c83;
    border-width: 14px;
    margin-top: -14px;
}

#menu-item-2212 .arrow_box:before {
    border-color: rgba(255, 255, 255, 0);
    border-left-color: #e03c31;
    border-width: 17px;
    margin-top: -17px;
}

/* ---------- 3. SIDEBAR ITEMS -------*/

.btn-donate {
    background: #f0f0f0;
    display: block;
    text-align: center;
    padding: 4px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.btn-donate:hover {
    text-decoration: none;
}

.return-title {
    font-weight: 600;
    border-bottom: 1px solid #b0b0b0;
    padding-bottom: 10px;
    color: #616161;
}

.return-btn {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #582482;
}

.return-btn:after {
    content: "\e01b";
    font-family: "Typicons";
    float: right;
    font-weight: 400;
}

.return-btn a {
    color: #616161;
    font-weight: 400;
}

/* subscribe */

#about-us-sidebar .widget {
    margin-bottom: 0;

}

/* ---------- 4. VC COMPONENTS EDITS ----------- */


/* icon box */
.icon-top .smicon-icon,
.icon-top .smicon-header,
.icon-top .smicon-description,
.top-icon .aio-icon,
.top-icon .aio-icon-description,
.top-icon .aio-icon-header,
.top-icon .aio-icon-img,
.aio-icon-box.top-icon,
div.align-icon {
    text-align: left !important;
}

div.top-icon .aio-icon-header h3.aio-icon-title,
.icon-top .smicon-header h3.smicon-title {
    margin: 10px 0 15px;
    font-size: 15px;
    color: #582C83;
    font-weight: 600;
}

.aio-icon-img img,
.smicon-icon img {
    max-height: 50px;
}

.aio-icon-description.ult-responsive {
	font-weight: 400;
}

a.aio-icon-box-link {
    color: #747474;
}

.smicon-description i {
    color: #582C83;
}

a.smicon-box-link-2 {
    text-decoration: none;
    border: none;
    display: block;
    color: #747474;
    font-weight: normal;
}

.smicon-box-link-2:hover,
.smicon-box-link-2:focus {
    text-decoration: none;
}

/* LH image box */
.image-box {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.image-box .image-box-img {
    display: block;
    width: 100%;
}

.image-box .wrap {
    padding: 25px;
}

.image-box h2 {
    padding: 25px 25px 0 25px;
}

.image-box .blog-content .more-link {
    display: inline-block;
}

/* contact form */
.elise-accordion-content .wpb_wrapper {
    overflow: auto;
}

.elise-accordion .elise-accordion-header a {
    box-shadow: inset 0 2px 0 #582C83;
}


/* ---------- 5. PAGE LAYOUT EDITS ----------- */

/* get involved */
.page-id-2223 .page-title {
    text-align: right;
}


/* about us */

.page-id-2216 a {
    font-weight: normal;
}

.page-id-2216 h1.elise-title {
    display: none;
}

.service-header-caption {
    display: inline-block;
    margin-bottom: 0;
    background: rgba(255, 255, 255, 0.5);
    padding: 34px 30px;
}


/* Service page */

.page-template-template-service .page-title-container, .page-id-2229 .page-title-container, .postid-2287 .page-title-container {
    min-height: 320px;
}


/* Need help page */
.page-id-2241 .page-title, .page-id-2229 .page-title {
    color: #fff;
}

.postid-2287 .page-title, .page-id-2229 .page-title {
    display: none;
}


/* ---------- 6. MEDIA QUERIES ----------- */

@media(min-width: 992px) {
    .blog-grid {
        margin-bottom: 30px;
    }
}

@media (max-width: 1199px) {
    .hidden-sm {
        display: none !important;
    }
    .visible-sm {
        display: block!important;
    }
}

@media (max-width: 1000px) {
    .vc_custom_1425381608205 {
        margin-top: 0 !important;
    }
}

@media only screen and (max-width: 768px) {
    #menu-donate-mini-menu {
        margin-top: 20px;
    }
    #menu-donate-mini-menu li {
        display: block;
        margin-bottom: 10px;
    }
    .logo {
        margin-right: 10px;
    }
    /*    .searchandfilter input[type="submit"],
    .searchandfilter li {
		position: initial;
		display: inline-block;
    }*/
    .searchcat-mobile {
        display: block;
    }
    .searchcat-large {
        display: none;
    }
    .searchandfilter ul {
        width: 100%;
    }
    .searchandfilter li {
        display: block;
        clear: both;
    }
    .searchandfilter h4 {
        float: left;
    }
    .searchandfilter select {
        float: right;
    }
    .searchandfilter input[type="submit"] {
        margin-left: 0;
        display: inline-block;
        position: initial;
        float: right;
    }
}

@media (max-width: 540px) {
    header {
        margin-bottom: 69px;
    }
    .donate-menu {
        float: left;
        clear: left;
    }
    #menu-donate-mini-menu {
        margin-top: 10px;
        margin-bottom: 0;
    }
    #menu-donate-mini-menu .fa-chevron-right {
        display: inline-block;
    }
    #menu-donate-mini-menu a {
        border: 0;
        padding: 0;
        margin: 0;
    }
    #menu-donate-mini-menu a:hover {
        text-decoration: underline;
    }
    #menu-donate-mini-menu li {
        margin: 0;
    }
    .need-help-menu-btn a {
        background: transparent;
    }
    .secondary-nav {
        margin: 15px 0 0 0;
    }
    .search-bar {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

@media only screen and (max-width: 480px) {
    /*	.full-menu-btn {
		margin-top: 20px;
	}*/
    .secondary-nav-text {
        display: none;
    }
    .search-bar input {
        font-size: 15px;
    }
}

@media only screen and (max-width: 400px) {
    /*	.full-menu-btn {
		margin-top: 20px;
	}*/
    .secondary-nav-text {
        display: none;
    }
    .search-bar input {
        font-size: 15px;
    }
    .searchandfilter h4 {
        margin-bottom: 0;
        float: none;
        display: block;
    }
    .searchandfilter select {
        display: block;
        float: none;
    }
}




/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

NEW CSS FROM BFA INDUSTRIES
Contact - hello@bfa.industries

+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/



/*NAB PAYMENT FORM*/

#contactForm input, #contactForm select {
  width: 180px;
}
#contactForm p {
  clear: both;
  margin-bottom: 10px;
  float: left;
  width: 92%;
}
#contactForm input {
  float: right;
}


.page-id-3300 > div.layout-wrapper > div.content.section > div > div > div > div:nth-child(3){
  padding-top: 6%;
  padding-bottom: 3%;
}
body > div.layout-wrapper > div.content.section > div{
  width: 100%;
}
body > div.layout-wrapper > div.content.section > div > div > div > div:nth-child(1){
  width: 1176px;
  margin: 0 auto;
}
body > div.layout-wrapper > div.content.section > div > div > div > div:nth-child(3){
  width: 1176px;
  margin: 0 auto;
}
body > div.layout-wrapper > div.content.section > div > div > div > div.vc_row.wpb_row.vc_row_stcontent.vc_bg_standard.vc_row-fluid.ult-vc-hide-row.vc_row-has-fill > div.upb_row_bg{
  width: 100%;
}
.container--nabForm-greySection{
  width: 1170px;
  height: 900px;
  margin: auto;
  position: relative;
}
