.redux-main .redux-field-container {
	padding: 5px 0;
}

.redux_field_th {
	padding: 10px 10px 15px 0;
}

.form-table th {
	padding: 10px 10px 10px 0;
}

.form-table td {
	padding: 5px 10px;
}

.redux-container-switch .cb-enable, .redux-container-switch .cb-disable, .redux-container-switch .cb-enable span, .redux-container-switch .cb-disable span {
	font-size: 13px;
	font-weight: 400;
}

.redux-container-switch .cb-enable span, .redux-container-switch .cb-disable span {
	line-height: 28px;
}

.admin-color-fresh .redux-container-switch .cb-disable, .admin-color-fresh .redux-container-switch .cb-enable, .admin-color-fresh .ui-state-default, .admin-color-fresh .ui-widget-content .ui-state-default, .admin-color-fresh .ui-widget-header .ui-state-default {
	background-image: none;
	-webkit-box-shadow: inset 0 1px 0 #fff,0 1px 0 rgba(0,0,0,.08);
	box-shadow: inset 0 1px 0 #fff,0 1px 0 rgba(0,0,0,.08);
	border-color: #ccc !important;
	background: #f7f7f7 !important;
}

.admin-color-fresh .redux-container-switch .cb-enable.selected, .admin-color-fresh .ui-buttonset .ui-state-active {
	background-image: none;
	background: #2ea2cc !important; 
	-webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,.5),0 1px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 1px 0 rgba(120,200,230,.5),0 1px 0 rgba(0,0,0,.15);
	border-color: #0074a2 !important;
}

.admin-color-fresh .redux-container-switch .cb-disable.selected {
	-webkit-box-shadow: inset 0 1px 0 rgba(153,153,153,0.5),0 1px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 1px 0 rgba(153,153,153,0.5),0 1px 0 rgba(0,0,0,.15);
	background-image: none !important;
	background: #666666 !important;
	border: 1px solid #494949 !important;
	border-left: none !important;
}

.redux-metabox .redux-box-side ul.redux-image-select li {
	max-width: 40%;
	margin-right: 15px !important;
}

.redux-metabox .redux-no-sections .redux-main .redux-field-container {
	padding: 10px 0 10px !important;
}

.redux-box-side .form-table tr td {
	padding: 0 !important;
}

.redux-metabox .redux-no-sections.redux-box-side .redux-main .redux_field_th {
	font-size: 13px;
}

.redux-metabox .redux-no-sections.redux-box-side .redux-main .redux-container-slider input[type=text] {
	width: 20% !important;
}

.redux-metabox .redux-no-sections.redux-box-side .redux-container-slider .redux-slider-container {
	width: 150px;
}

.redux-metabox .redux-box-normal .redux-container-select {
	padding: 20px 0;
}

.redux_field_th span:first-child {
	color: #a7a7a7;
}

.redux-container .redux-group-tab h3 {
	font-size: 28px;
	font-weight: 300;
}

/*Elise Styling Options Section*/
.elise_opt_styling .form-table {
	background: rgba(0,0,0,0.03);
}

.elise_opt_styling .form-table tr th, .elise_opt_styling .form-table tr td {
	padding: 0 10px;
}

.redux-main .redux-container-background .redux-background-input {
	max-width: 190px !important;
}

.redux-section-field h3 {
	font-size: 22px !important;
	font-weight: 300 !important;
	margin-bottom: 5px !important;
	padding-top: 20px !important;
	border-bottom: none !important;
	border-top: 1px solid #e7e7e7;
}

.redux-section-field h3:after {
	content: "\0020\";
	font-family: 'Elusive-Icons';
	color: #aaa;
	font-size: 10px;
}

.redux-metabox .redux-section-field h3 {
	font-size: 16px !important;
}

/*.redux-main .form-table tr:nth-last-child(2) {
	border: none;
}
*/
.redux-container-section {
	display: none;
}

.redux-container-color_rgba input[readonly] {
	border: 1px solid #ddd;
	width: 50px;
	line-height: 20px;
	background: #fff;
	color: #999;
}

/* VC Custom */

.textarea_html img {
	max-width: 100%;
	height: auto;
}

.admin_label_iconbox_readmore_link {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	display: block;
	margin-bottom: 7px;
}
.vc_btn { border: none !important; line-height: 1.42857143 !important; -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15); -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15); box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15)}
.vc_btn:hover { background: #99cd53; }

.vc_btn_btn-default, input[type="submit"] { color: #fff; background: #8dc73f; }

.vc_btn_btn-success { color: #fff; background: #8dc73f; }
.vc_btn_btn-success:hover { background: #99cd53; }

.vc_btn_btn-info { color: #fff; background: #2C77C8; }
.vc_btn_btn-info:hover { background: #3a84d4; }

.vc_btn_btn-warning { color: #fff; background: #e2b001; }
.vc_btn_btn-warning:hover { background: #fbc401; }

.vc_btn_btn-danger { color: #fff; background: #d84033; }
.vc_btn_btn-danger:hover { background: #dc5448; }

.vc_btn_btn-light { background: #f9f9f9; color: #656565; }
.vc_btn_btn-light:hover { color: #656565; background: #ececec; }

.vc_btn_btn-dark { color: #fff; background: #262626; }
.vc_btn_btn-dark:hover { background: #333333; }

.vc_btn_btn-outlined { background: none; color: #8dc73f; -webkit-box-shadow: inset 0 0 0 1px #8dc73f; -moz-box-shadow: inset 0 0 0 1px #8dc73f; box-shadow: inset 0 0 0 1px #8dc73f; }
.vc_btn_btn-outlined.vc_btn_btn-success { color: #8dc73f; -webkit-box-shadow: inset 0 0 0 1px #8dc73f; -moz-box-shadow: inset 0 0 0 1px #8dc73f; box-shadow: inset 0 0 0 1px #8dc73f; }
.vc_btn_btn-outlined.vc_btn_btn-info { color: #2C77C8; -webkit-box-shadow: inset 0 0 0 1px #2c77c8; -moz-box-shadow: inset 0 0 0 1px #2c77c8; box-shadow: inset 0 0 0 1px #2c77c8; }
.vc_btn_btn-outlined.vc_btn_btn-warning { color: #e2b001; -webkit-box-shadow: inset 0 0 0 1px #e2b001; -moz-box-shadow: inset 0 0 0 1px #e2b001; box-shadow: inset 0 0 0 1px #e2b001; }
.vc_btn_btn-outlined.vc_btn_btn-danger { color: #d84033; -webkit-box-shadow: inset 0 0 0 1px #d84033; -moz-box-shadow: inset 0 0 0 1px #d84033; box-shadow: inset 0 0 0 1px #d84033; }
.vc_btn_btn-outlined.vc_btn_btn-dark { color: #262626; -webkit-box-shadow: inset 0 0 0 1px rgba(38, 38, 38, 0.6); -moz-box-shadow: inset 0 0 0 1px rgba(38, 38, 38, 0.6); box-shadow: inset 0 0 0 1px rgba(38, 38, 38, 0.6); }
.vc_btn_btn-outlined:hover { -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; color: #fff; }
.vc_btn_btn-outlined.vc_btn_btn-light { color: #f9f9f9; -webkit-box-shadow: inset 0 0 0 1px #f9f9f9; -moz-box-shadow: inset 0 0 0 1px #f9f9f9; box-shadow: inset 0 0 0 1px #f9f9f9; }
.vc_btn_btn-outlined.vc_btn_btn-light:hover { color: #656565; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }

.vc_btn_btn-squared { -webkit-border-radius: 0 !important; -moz-border-radius: 0 !important; -ms-border-radius: 0 !important; -o-border-radius: 0 !important; border-radius: 0;  !important}

.vc_btn_btn-rounded.vc_btn_btn-lg { -webkit-border-radius: 39px; -moz-border-radius: 39px; -ms-border-radius: 39px; -o-border-radius: 39px; border-radius: 39px; }
.vc_btn_btn-rounded.vc_btn_btn-md { -webkit-border-radius: 34px; -moz-border-radius: 34px; -ms-border-radius: 34px; -o-border-radius: 34px; border-radius: 34px; }
.vc_btn_btn-rounded.vc_btn_btn-sm { -webkit-border-radius: 28px; -moz-border-radius: 28px; -ms-border-radius: 28px; -o-border-radius: 28px; border-radius: 28px; }
.vc_btn_btn-rounded.vc_btn_btn-xs { -webkit-border-radius: 24px; -moz-border-radius: 24px; -ms-border-radius: 24px; -o-border-radius: 24px; border-radius: 24px; }

.vc_btn_btn-lg { padding: 11px 50px !important; min-width: 200px; }
.vc_btn_btn-md { padding: 8px 20px !important; }
.vc_btn_btn-sm { padding: 5px 15px !important; font-size: 12px !important; }
.vc_btn_btn-xs { padding: 3px 15px !important; font-size: 12px !important; }

.wpb_vc_button .btn-light,
option.btn-light,
select.btn-light {
  background-color: #f9f9f9;
  color: #252525;
}
.wpb_vc_button .btn-dark,
option.btn-dark,
select.btn-dark {
  background-color: #252525;
  color: #fff;
}
.wpb_vc_button .btn-default,
option.btn-default,
select.btn-default {
  background-color: #8dc73f;
  color: #fff;
}
.wpb_vc_button .btn-danger,
option.btn-danger,
select.btn-danger {
  background-color: #da4f49;
}

.wpb_vc_separator .icon_selector, .wpb_vc_text_separator .icon_selector {
	background-color: #FFFFFF;
	font-size: 11px;
	display: inline-block;
	position: relative;
	top: 6px;
	padding: 0px 10px;
}

.vc_element-icon {
	background-image: url(img/elise_vc_icons.png) !important;
	background-position: 0px 0px;
}

/* Row */
.icon-wpb-row {
	background-position: 0px -32px !important;
}

.icon-wpb-layer-shape-text {
	background-position: 0px -64px !important;
}

.icon-wpb-toggle-small-expand {
	background-position: 0px -96px !important;
}

.icon-wpb-layout_sidebar {
	background-position: 0px -128px !important;
}

.icon-wpb-film-youtube {
	background-position: 0 -160px !important;
}

.elise-icon-maps {
	background-position: 0 -192px !important;
}

.icon-wpb-raw-html {
	background-position: 0 -224px !important;
}

.icon-wpb-raw-javascript {
	background-position: 0 -256px !important;
}

.icon-wpb-flickr {
	background-position: 0 -288px !important;
}

.icon-wpb-ui-empty_space {
	background-position: 0 -320px !important;
}

.elise-icon-timeline {
	background-position: 0 -352px !important;
}

.elise-icon-iconbox {
	background-position: 0 -384px !important;
}

.elise-icon-blog {
	background-position: 0 -416px !important;
}

.elise-icon-recentposts {
	background-position: 0 -448px !important;
}

.elise-icon-portfolio {
	background-position: 0 -480px !important;
}

.elise-icon-recprojects {
	background-position: 0 -512px !important;
}

.elise-icon-carousel {
	background-position: 0 -544px !important;
}

.elise-icon-testimonial {
	background-position: 0 -576px !important;
}

.elise-icon-pt {
	background-position: 0 -608px !important;
}

.elise-icon-team {
	background-position: 0 -640px !important;
}

.elise-icon-social {
	background-position: 0 -672px !important;
}

.elise-icon-counter {
	background-position: 0 -704px !important;
}

.icon-wpb-ui-tab-content {
	background-position: 0 -736px !important;
}

.icon-wpb-ui-tab-content-vertical {
	background-position: 0 -768px !important;
}

.icon-wpb-ui-accordion {
	background-position: 0 -800px !important;
}

.icon-wpb-single-image {
	background-position: 0 -832px !important;
}

.icon-wpb-images-stack {
	background-position: 0 -864px !important;
}

.icon-wpb-ui-button {
	background-position: 0 -896px !important;
} 

.icon-wpb-information-white {
	background-position: 0 -928px !important;
} 

.icon-wpb-call-to-action {
	background-position: 0 -960px !important;
} 

.icon-wpb-ui-separator-label {
	background-position: 0 -992px !important;
}

.elise-icon-piechart {
	background-position: 0 -1024px !important;
}

.icon-wpb-graph {
	background-position: 0 -1056px !important;
}

.icon-wpb-wp {
	background-position: 0 -1120px !important;
}
.icon-wpb-contactform7 {
	background-position: 0 -1152px !important;
}
.icon-wpb-vc_gravityform {
  	background-position: 0 -1184px !important;
}
.icon-wpb-layerslider {
	background-position: 0 -1216px !important;
}
.icon-wpb-revslider {
	background-position: 0 -1248px !important;
}
.icon-wpb-woocommerce {
	background-position: 0 -1088px !important;
}

.wpb_vc_separator .wpb_vc_param_value.icon, .wpb_vc_text_separator .wpb_vc_param_value.icon {
	background-color: #FFFFFF;
	font-size: 11px;
	display: inline-block;
	position: relative;
	top: 6px;
	padding: 0px 10px;
}