body { direction: rtl; unicode-bidi: embed; }
.logo { float: right; margin-left: 50px; margin-right: 0px; }
.main-nav ul li:not(.nav-icons) { float: right; }
.main-nav ul li:not(.nav-icons) ul { text-align: right; }
.main-nav ul li:not(.nav-icons) ul li ul { right: 100%; left: auto; }
.main-nav ul .nav-icons { padding-left: 0; padding-right: 20px; }
.main-nav ul .menu-item-has-children ul .menu-item-has-children > a span::after { content: "\f104"; float: left; right: auto; left: 0; }
.header-standard .nav-menu-center .logo { left: auto; }
.header-standard .nav-menu-left .nav-icons, .header-standard .nav-menu-center .nav-icons { left: 0; right: auto; }
.header-standard .main-nav ul .nav-icons, .header-bar .main-nav ul .nav-icons { position: absolute; left: 0; }
.header-centered .logo { margin-left: 0; }
.header-bar .logo { margin-left: 0; padding-right: 7px; }
.header-bar .logo { margin-left: 0; padding-right: 7px; }
.main-nav ul .elise-mega-menu:not(.nav-icons) > ul > li { float: right; }
.main-nav ul .elise-mega-menu:not(.nav-icons) ul li ul, .main-nav ul li:not(.nav-icons) ul li .cart_list { right: 0; }
#top-bar .nav-social-icons { float: left; }
#top-bar .top-bar-content { height: 100%; float: right; padding-left: 12px; border-left: 1px solid rgba(0, 0, 0, 0.07); border-right: none; padding-right: 0; text-align: right; }

#top-bar #lang_sel, #top-bar #lang_sel_list.lang_sel_list_vertical { float: right; padding-right: 12px; }

#top-bar .woo-settings, #top-bar .nav-social-icons { float: left; border-left: none; border-right: 1px solid rgba(0, 0, 0, 0.07); }
#top-bar .woo-settings { padding-left: 0; padding-right: 10px; }
#top-bar .woo-settings ul { right: auto; left: 0; }
.navbar-sticky .logo-sticky { float: right; margin-right: 0; margin-left: 50px; }

.search-bar form { padding-left: 0; padding-right: 30px; }
.search-bar form::before { left: auto; right: 0; }

.search-bar .close-btn { left: 15px; right: auto; }

.sidebar-nav-wrap { left: 0; right: auto; -moz-transform: translateX(-285px); -ms-transform: translateX(-285px); -webkit-transform: translateX(-285px); transform: translateX(-285px); text-align: right; -moz-box-shadow: 1px 0 1px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 1px 0 1px rgba(0, 0, 0, 0.1); box-shadow: 1px 0 1px rgba(0, 0, 0, 0.1); }
.sidebar-nav-wrap .sec-nav-close-btn { left: 30px; right: auto; }
.full-nav-wrap .sec-nav-close-btn { left: 50px; right: auto; }

.page-navigation .buttons { float: left; }
.page-navigation .buttons li { border-right: 1px solid #f0f0f0; border-left: none; }

.page-title .breadcrumb {  left: 15px; right: auto; }
.pagination li, .woocommerce-pagination .page-numbers li { margin-right: 0; margin-left: 10px; }

.wp_link_pages li { float: right; }
.blog-header .time { float: left; margin: 0 10px 10px 0; }

.format-quote .time {  right: auto; left: 0; }
.format-quote .entry-meta p {  padding-right: 0; padding-left: 70px; }
.format-quote blockquote footer { text-align: right; }
.format-quote blockquote::before { float: left; }

.commentslist ul { padding-right: 0px; }
.commentslist ul li {  border-right: 1px solid #e2e2e2; padding-right: 20px; }
.commentslist ul li::before { right: 0; left: auto; }

.bypostauthor { -moz-box-shadow: inset -2px 0 0 #8dc73f; -webkit-box-shadow: inset -2px 0 0 #8dc73f; box-shadow: inset -2px 0 0 #8dc73f; }

.portfolio-item a .overlay .see-more {  right: 30px; left: auto; }

.portfolio-item .quick-view { left: 30px; right: auto; text-align: left; }

.side-navigation li a::after {  float: left; content: "\e00e"; }

.social-icons li {  float: right; }
.pn-share-buttons {  left: auto; right: -100%; }
.pn-share-buttons::before { left: 18px; right: auto; }

.widget_categories ul > li a::after, .widget_archive ul > li a::after, .woocommerce.widget_product_categories ul > li a::after { float: left; content: "\e00e"; }

.nav-shopping-bag .nav-shopping-cart .cart_list li a img { float: left; }
.nav-shopping-bag .nav-shopping-cart {  right: -266px; }


.woocommerce.widget_product_categories ul li .count { right: auto; left: 0; }

.woocommerce.widget_product_categories ul li a::after { content: ""; }

.woocommerce .widget_layered_nav ul li a, .woocommerce .widget_layered_nav ul li span, .woocommerce-page .widget_layered_nav ul li a, .woocommerce-page .widget_layered_nav ul li span { float: right; }

.widget_categories ul > li ul li::before, .widget_archive ul > li ul li::before, .woocommerce.widget_product_categories ul > li ul li::before { float: right; padding-right: 0; padding-left: 5px; }

.elise_woo_title h4, .product_meta, .woocommerce-product-rating .star-rating { float: right; }

.elise_woo_title .price { text-align: left; }

.elise_woo_title .price del { right: auto; left: 0; }

.elise_woo_sp_pricing { border-left: 1px solid rgba(0, 0, 0, 0.1); }

.woocommerce-product-rating { border-left: none; }

.woocommerce-review-link { float: right; margin-left: 0; margin-right: 10px; }

span.onsale { right: auto; left: -30px; -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }

.elise_woo_onsale-wrap { right: auto; left: 0; }

div.product form.cart div.quantity { float: right; margin-right: 0; margin-left: 7px; }

ul.products li.product .onsale { right: auto; left: -30px; }

.cart-collaterals .cart_totals { text-align: left; }

.cart-collaterals .cart_totals tr td { padding-right: 30px; }

.elise_woo_logout a { right: auto; left: 0; }





